Repository spiral/framework, pull requests merged in 2021-06, with the labels that each got.

#414 Json response status hotfix
  src/Http/src/Traits/JsonTrait.php
Labels: Bug, Component: HTTP

#418 Container::bindSingleton accepts object as well
  src/Core/src/Container.php
Labels: Component: Core, Improvement

#417 Fix @var declaration of nullable Spiral\Console\Command properties
  src/Console/src/Command.php
  src/Console/src/Traits/HelpersTrait.php
Labels: Component: Console, Improvement

#420 Sort annotated routes by priority
  src/AnnotatedRoutes/src/Annotation/Route.php
  src/AnnotatedRoutes/src/RouteLocator.php
  src/AnnotatedRoutes/tests/App/Controller/PageController.php
  src/AnnotatedRoutes/tests/IntegrationTest.php
Labels: Component: Router, Feature

#421 Allow to pass 'options' array for s3 storage adapter
  src/Framework/Bootloader/Storage/StorageConfig.php
Labels: Component: Storage, Feature

#419 Implement lazy-loading of cli commands
  composer.json
  monorepo-builder.php
  src/Console/composer.json
  src/Console/src/StaticLocator.php
  src/Console/src/Traits/LazyTrait.php
  src/Console/tests/Fixtures/LazyLoadedCommand.php
  src/Console/tests/LazyTest.php
  src/Framework/Console/CommandLocator.php
  src/Http/composer.json
  src/Scaffolder/composer.json
  src/SendIt/composer.json
  src/Storage/composer.json
Labels: Component: Console, Feature

#422 Serialize Mail::options for sending via queue
  src/SendIt/src/MessageSerializer.php
  src/SendIt/tests/SerializerTest.php
Labels: Bug, Component: Mailer

#423 Add option to ignore case when searching for entities in EntityChecker
  src/Framework/Validation/Checker/EntityChecker.php
  tests/Framework/Validation/EntityCheckerTest.php
Labels: Component: Validation, Feature

#424 Fix validation of extra fields for case insensitive EntityChecker::unique
  src/Framework/Validation/Checker/EntityChecker.php
  tests/Framework/Validation/EntityCheckerTest.php
Labels: Bug, Component: Validation

#426 fix(distribution): always prefix file uri with slash
  src/Distribution/src/Resolver/StaticResolver.php
  src/Distribution/tests/Resolver/StaticResolverTest.php
Labels: Bug, Component: Distribution

#427 Custom HttpTransport header value format
  src/AuthHttp/src/Transport/HeaderTransport.php
  src/AuthHttp/tests/HeaderTransportTest.php
Labels: Component: AuthHttp, Feature
