Repository spiral/framework, pull requests merged in 2021-09, with the labels that each got.

#453 Add optional nested (composite) filters support
  src/Filters/src/Filter.php
  src/Filters/src/FilterProvider.php
  src/Filters/src/SchemaBuilder.php
  src/Filters/tests/Fixtures/ParentOptionalFilter.php
  src/Filters/tests/NestedTest.php
Labels: Feature, Component: Filters

#451 Add basic compatibility with PHP 8.1
  .github/workflows/main.yml
  composer.json
  monorepo-builder.php
  src/AnnotatedRoutes/src/GroupRegistry.php
  src/Core/src/InjectableConfig.php
  src/DataGrid/composer.json
  src/Distribution/tests/Resolver/StaticResolverTest.php
  src/Framework/Session/SectionScope.php
  src/Http/src/Request/InputBag.php
  src/Http/tests/Json.php
  src/Models/src/AbstractEntity.php
  src/Pagination/src/Paginator.php
  src/Reactor/src/Aggregator.php
  src/Session/src/Handler/FileHandler.php
  src/Session/src/Handler/NullHandler.php
  src/Session/src/SessionSection.php
  src/Session/tests/NullHandlerTest.php
  src/Stempler/src/Compiler/SourceMap.php
  src/Stempler/src/Lexer/Buffer.php
  src/Stempler/src/Lexer/Grammar/Dynamic/DirectiveGrammar.php
Labels: Bug, Feature

#455 [feature]: add console command to check role permissions
  src/Security/src/Command/RolePermissionsCommand.php
Labels: Feature, Component: Security

#446 More verbose config-related error messages
  src/Config/src/Loader/DirectoryLoader.php
Labels: Improvement, Component: Config
