Repository spiral/framework, pull requests merged in 2021-12, with the labels that each got.

#473 [validation] enable ArrayChecker
  src/Framework/Bootloader/Security/ValidationBootloader.php
  tests/Framework/Security/ValidationBootloaderTest.php
Labels: Improvement, Component: Validation

#476 Adds support PHP8.1 for Dotenv bridge
  composer.json
  src/Bridge/Dotenv/composer.json
  src/Bridge/Dotenv/src/Bootloader/DotenvBootloader.php
  src/Bridge/Dotenv/tests/LoadTest.php
Labels: Improvement, Bridge: Dotenv

#479 Replaces spiral/database package with cycle/database
  composer.json
  phpunit.xml
  src/Bridge/DataGrid/src/Bootloader/GridBootloader.php
  src/Bridge/DataGrid/src/Specification/Filter/ExpressionInjectionFilter.php
  src/Bridge/DataGrid/src/Specification/Filter/FragmentInjectionFilter.php
  src/Bridge/DataGrid/src/Specification/Filter/InjectionFilter.php
  src/Bridge/DataGrid/src/Specification/Sorter/ExpressionInjectionSorter.php
  src/Bridge/DataGrid/src/Specification/Sorter/FragmentInjectionSorter.php
  src/Bridge/DataGrid/src/Specification/Sorter/InjectionSorter.php
  src/Bridge/DataGrid/src/Writer/BetweenWriter.php
  src/Bridge/DataGrid/src/Writer/PostgresQueryWriter.php
  src/Bridge/DataGrid/src/Writer/QueryWriter.php
  src/Bridge/DataGrid/tests/BaseTest.php
  src/Bridge/DataGrid/tests/GeneratorTest.php
  src/Bridge/DataGrid/tests/QueryWriter/PostgresWriterTest.php
  src/Framework/Bootloader/CommandBootloader.php
  src/Framework/Bootloader/Cycle/CycleBootloader.php
  src/Framework/Bootloader/Database/DatabaseBootloader.php
  src/Framework/Bootloader/Database/DisconnectsBootloader.php
  src/Framework/Command/Cycle/Generator/ShowChanges.php
  src/Framework/Command/Database/ListCommand.php
  src/Framework/Command/Database/TableCommand.php
  src/Prototype/src/Bootloader/PrototypeBootloader.php
  src/Scaffolder/tests/App/config/database.php
  tests/Framework/Database/DescribeTest.php
  tests/Framework/Database/DisconnectsTest.php
  tests/Framework/Database/ListTest.php
  tests/Framework/Migrate/InitTest.php
  tests/Framework/Migrate/MigrateTest.php
  tests/Framework/Migrate/StatusTest.php
  tests/Framework/Validation/EntityCheckerTest.php
  tests/app/config/database.php
Labels: Improvement
