Repository spiral/framework, pull requests merged in 2022-09, with the labels that each got.

#770 Fixes default behaviour for InputBag when it checks key with null value
  src/Http/src/Request/FilesBag.php
  src/Http/src/Request/HeadersBag.php
  src/Http/src/Request/InputBag.php
  src/Http/src/Request/ServerBag.php
  src/Http/tests/Request/HeadersBagTest.php
  src/Http/tests/Request/InputBagTest.php
  src/Http/tests/Request/ServerBagTest.php
Labels: Bug, Improvement, Component: HTTP

#768 Adding defaultSerializer in queue
  src/Queue/src/Config/QueueConfig.php
  src/Queue/src/QueueRegistry.php
  src/Queue/tests/Config/QueueConfigTest.php
  src/Queue/tests/QueueRegistryTest.php
Labels: Feature, Component: Queue

#765 Fixes framework components required versions
  src/AnnotatedRoutes/composer.json
  src/AuthHttp/composer.json
  src/Boot/composer.json
  src/Bridge/Dotenv/composer.json
  src/Bridge/Monolog/composer.json
  src/Bridge/Stempler/composer.json
  src/Broadcasting/composer.json
  src/Cache/composer.json
  src/Config/composer.json
  src/Console/composer.json
  src/Cookies/composer.json
  src/Csrf/composer.json
  src/Debug/composer.json
  src/Encrypter/composer.json
  src/Exceptions/composer.json
  src/Filters/composer.json
  src/Hmvc/composer.json
  src/Http/composer.json
  src/Logger/composer.json
  src/Prototype/composer.json
  src/Queue/composer.json
  src/Router/composer.json
  src/Scaffolder/composer.json
  src/Security/composer.json
  src/SendIt/composer.json
  src/Session/composer.json
  src/Storage/composer.json
  src/Streams/composer.json
  src/Tokenizer/composer.json
  src/Translator/composer.json
  src/Validation/composer.json
  src/Views/composer.json
Labels: Bug, Improvement

#459 Issue #456: Align arguments resolving in NamedArgumentsInstantiator with native PHP 8 behavior.
  src/Attributes/src/Internal/Instantiator/NamedArgumentsInstantiator.php
  src/Attributes/tests/Instantiator/DoctrineInstantiatorTestCase.php
  src/Attributes/tests/Instantiator/Fixtures/NamedRequiredArgumentConstructorFixture.php
  src/Attributes/tests/Instantiator/Fixtures/VariadicConstructorFixture.php
  src/Attributes/tests/Instantiator/InstantiatorTestCase.php
  src/Attributes/tests/Instantiator/NamedArgumentsInstantiatorTestCase.php
  src/Attributes/tests/TestCase.php
Labels: Component: Attributes

#772 Fix CI issues
  src/Attributes/src/Internal/Instantiator/NamedArgumentsInstantiator.php
  src/Attributes/tests/Instantiator/NamedArgumentsInstantiatorTestCase.php
Labels: Component: Attributes

#737 Introduce self-rendering filters
  src/Filters/src/RenderErrorsInterface.php
  src/Filters/src/RenderWith.php
  src/Filters/tests/Fixtures/FilterWithErrorsRenderer.php
  src/Filters/tests/Fixtures/TestErrorsInterfaceRenderer.php
  src/Filters/tests/Interceptor/FilterInterceptorTest.php
  src/Framework/Domain/DefaultFilterErrorsRendererInterface.php
  src/Framework/Domain/FilterInterceptor.php
  src/Framework/Domain/FilterWithAttributeInterceptor.php
  tests/app/src/Bootloader/AppBootloader.php
Labels: Component: Validation, Component: Filters

#774 Adds an ability to use custom transports for Symfony Mailer
  src/Console/src/Config/ConsoleConfig.php
  src/Queue/src/QueueRegistry.php
  src/SendIt/src/Bootloader/MailerBootloader.php
  tests/Framework/Bootloader/SendIt/MailerBootloaderTest.php
Labels: Improvement, Component: Mailer

#775 Fix exception handler global reporting bug on the application termination
  src/Exceptions/src/ExceptionHandler.php
Labels: Component: Exceptions

#763 Tokenizer listeners
  src/AnnotatedRoutes/src/Bootloader/AnnotatedRoutesBootloader.php
  src/AnnotatedRoutes/src/Command/ResetCommand.php
  src/AnnotatedRoutes/src/RouteLocator.php
  src/AnnotatedRoutes/src/RouteLocatorListener.php
  src/Boot/src/AbstractKernel.php
  src/Console/composer.json
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Console/src/CommandLocatorListener.php
  src/Console/src/Console.php
  src/Console/src/LocatorInterface.php
  src/Console/src/StaticLocator.php
  src/Console/src/Traits/LazyTrait.php
  src/Console/tests/BaseTest.php
  src/Framework/Console/CommandLocator.php
  src/Prototype/src/Bootloader/PrototypeBootloader.php
  src/Prototype/src/Command/AbstractCommand.php
  src/Prototype/src/Command/DumpCommand.php
  src/Prototype/src/Command/InjectCommand.php
  src/Prototype/src/PrototypeLocatorListener.php
  src/Prototype/src/PrototypeRegistry.php
  src/Prototype/tests/LocatorTest.php
  src/Tokenizer/src/AbstractLocator.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
  src/Tokenizer/src/ClassLocator.php
  src/Tokenizer/src/Config/TokenizerConfig.php
  src/Tokenizer/src/InvocationLocator.php
  src/Tokenizer/src/TokenizationListenerInterface.php
  src/Tokenizer/src/Tokenizer.php
  src/Tokenizer/src/Traits/TargetTrait.php
  src/Tokenizer/tests/ConfigTest.php
  tests/Framework/Bootloader/Console/ConsoleBootloaderTest.php
  tests/Framework/Bootloader/Prototype/PrototypeBootloaderTest.php
  tests/Framework/Bootloader/Tokenizer/TokenizerBootloaderTest.php
  tests/Framework/Bootloader/Tokenizer/TokenizerListenerBootloaderTest.php
  tests/app/src/SomeService/Client.php
  tests/app/src/SomeService/HttpClient.php
  tests/app/src/TestApp.php
  tests/app/src/Tokenizer/A.php
  tests/app/src/Tokenizer/B.php
  tests/app/src/Tokenizer/TestInterface.php
Labels: Improvement, Experiment, Component: Tokenizer

#779 Adding FileReporter
  CHANGELOG.md
  src/Exceptions/src/Renderer/ConsoleRenderer.php
  src/Exceptions/src/Reporter/SnapshotterReporter.php
  src/Framework/Bootloader/SnapshotsBootloader.php
  src/Framework/Exceptions/Reporter/FileReporter.php
  src/Framework/Snapshots/FileSnapshooter.php
  src/Snapshots/src/FileSnapshot.php
  src/Snapshots/tests/FileSnapshotTest.php
  tests/Framework/Bootloader/Exceptions/SnapshotsBootloaderTest.php
Labels: Feature, Component: Exceptions, Component: Snapshots

#780 Split Container class into interfaces
  .gitignore
  composer.json
  src/Boot/src/AbstractKernel.php
  src/Boot/src/BootloadManager/BootloadManager.php
  src/Boot/src/BootloadManager/Initializer.php
  src/Boot/src/Bootloader/ConfigurationBootloader.php
  src/Boot/src/Injector/EnumInjector.php
  src/Boot/tests/BootloadManager/BootloadersTest.php
  src/Boot/tests/BootloadManager/DependenciesTest.php
  src/Boot/tests/BootloadManager/InitializerTest.php
  src/Boot/tests/ConfigsTest.php
  src/Boot/tests/Injector/EnumInjectorTest.php
  src/Boot/tests/TestCase.php
  src/Broadcasting/src/Bootloader/WebsocketsBootloader.php
  src/Cache/src/Bootloader/CacheBootloader.php
  src/Core/src/Container/Autowire.php
  src/Distribution/src/Bootloader/DistributionBootloader.php
  src/Events/src/Bootloader/EventsBootloader.php
  src/Events/src/Config/EventsConfig.php
  src/Exceptions/src/Renderer/ConsoleRenderer.php
  src/Filters/src/Model/FilterProvider.php
  src/Filters/tests/Model/FilterProviderTest.php
  src/Framework/Bootloader/Attributes/AttributesBootloader.php
  src/Framework/Bootloader/CommandBootloader.php
  src/Framework/Bootloader/Http/RoutesBootloader.php
  src/Framework/Bootloader/Security/FiltersBootloader.php
  src/Prototype/src/PrototypeRegistry.php
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/QueueRegistry.php
  src/Queue/tests/QueueRegistryTest.php
  src/Router/src/Loader/PhpFileLoader.php
  src/Router/src/PipelineFactory.php
  src/Router/tests/BaseTest.php
  src/Router/tests/Loader/DelegatingLoaderTest.php
  src/Router/tests/Loader/LoaderRegistryTest.php
  src/Router/tests/Loader/PhpFileLoaderTest.php
  src/Router/tests/PipelineFactoryTest.php
  src/SendIt/src/Bootloader/MailerBootloader.php
  src/Serializer/src/Bootloader/SerializerBootloader.php
  src/Serializer/tests/Bootloader/SerializerBootloaderTest.php
  src/Storage/src/Bootloader/StorageBootloader.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  tests/Framework/Bootloader/Security/FiltersBootloaderTest.php
Labels: Improvement

#782 Adds deprecation for LogFactory DEFAULT const
  src/Bridge/Monolog/src/LogFactory.php
Labels: Component: Logger

#781 Added ability to use custom bootload manager
  src/Boot/src/AbstractKernel.php
  src/Boot/src/BootloadManager/BootloadManager.php
  src/Boot/src/BootloadManager/ClassesRegistry.php
  src/Boot/src/BootloadManager/Initializer.php
  src/Boot/src/BootloadManagerInterface.php
  src/Boot/src/Exception/BootloaderAlreadyBootedException.php
Labels: Rework, Improvement, Component: Boot

#783 Revert AbstractKernel cleaning
  src/Boot/src/AbstractKernel.php
  src/Boot/src/BootloadManager/Initializer.php
Labels: Bug

#784 Fix config merging
  src/Core/src/InjectableConfig.php
  src/Core/tests/Fixtures/IntKeysConfig.php
  src/Core/tests/InjectableConfigTest.php
Labels: Bug

#785 Use tokenizer listeners for registering event dispatcher listeners via attributes.
  src/AnnotatedRoutes/src/Bootloader/AnnotatedRoutesBootloader.php
  src/Bridge/Stempler/tests/BaseTest.php
  src/Bridge/Stempler/tests/ConfigTest.php
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Events/src/Bootloader/EventsBootloader.php
  src/Events/src/ListenerLocator.php
  src/Events/src/ListenerLocatorInterface.php
  src/Events/src/Processor/AttributeProcessor.php
  src/Events/tests/ListenerLocatorTest.php
  src/Events/tests/Processor/AttributeProcessorTest.php
  src/Prototype/src/Bootloader/PrototypeBootloader.php
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
  src/Tokenizer/src/TokenizerListenerRegistryInterface.php
  tests/Framework/Bootloader/Events/EventsBootloaderTest.php
  tests/Framework/Bootloader/Tokenizer/TokenizerListenerBootloaderTest.php
Labels: Component: Events

#786 Fixes problem with subdomain patterns.
  src/Router/src/UriHandler.php
  src/Router/tests/SubdomainTest.php
Labels: Bug, Component: Router

#788 Fixing bug with nullable offset
  src/Stempler/src/Lexer/Buffer.php
  src/Stempler/tests/BufferTest.php
Labels: Bug, Component: Stempler

#792 Fixes problem with listeners from AttributeProcessor
  src/Events/src/Processor/AttributeProcessor.php
Labels: Component: Events

#795 Fixing symfony/console version
  composer.json
  src/Console/composer.json
Labels: Bug

#794 Fix Psalm in ValidationProvider
  src/Filters/src/Model/FilterDefinitionInterface.php
  src/Validation/src/ValidationProvider.php
  src/Validation/src/ValidationProviderInterface.php
Labels: Bug, Component: Validation

#796 Fixes psalm issues and composer dependencies
  composer.json
  src/AnnotatedRoutes/composer.json
  src/Boot/tests/Fixtures/TestCore.php
  src/Boot/tests/KernelTest.php
  src/Bridge/Dotenv/composer.json
  src/Bridge/Stempler/psalm.xml
  src/Bridge/Stempler/src/StemplerEngine.php
  src/Bridge/Stempler/src/Visitor/FormatHTML.php
  src/Broadcasting/psalm.xml
  src/Console/composer.json
  src/Console/psalm.xml
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Events/psalm.xml
  src/Filters/composer.json
  src/Filters/tests/InputScopeTest.php
  src/Framework/Bootloader/CommandBootloader.php
  src/Http/psalm.xml
  src/Prototype/composer.json
  src/Router/tests/PipelineFactoryTest.php
  src/Scaffolder/composer.json
  src/Snapshots/composer.json
  src/Stempler/composer.json
  src/Stempler/src/Compiler/Renderer/HTMLRenderer.php
  src/Stempler/src/Node/Block.php
  src/Stempler/src/Node/HTML/Tag.php
  src/Stempler/src/Node/Template.php
  src/Storage/psalm.xml
  src/Views/src/Engine/Native/NativeEngine.php
  src/Views/src/EngineInterface.php
  tests/Framework/Framework/KernelTest.php
  tests/app/src/ViewEngine/TestEngine.php
Labels: Bug

#797 Moving ClassesInterface into a callback function
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
Labels: Bug, Component: Tokenizer

#800 Removing readonly from Bundle
  src/Stempler/src/Transform/Import/Bundle.php
  src/Stempler/tests/Transform/MergerTest.php
Labels: Bug

#798 Changing branch alias
  composer.json
Labels: Bug

#801 Fixing Filter with Input attribute
  src/Filters/tests/Fixtures/LogoutFilter.php
  src/Filters/tests/Model/FilterProviderTest.php
  src/Framework/Filter/InputScope.php
Labels: Bug, Component: Filters

#802 Fixes the problem with parsing a pattern
  src/Router/src/UriHandler.php
  src/Router/tests/PatternsTests.php
Labels: Bug, Component: Router

#804 Fixes phpdoc for `AuthorizationStatus::$topics` property
  src/Broadcasting/src/AuthorizationStatus.php
Labels: Bug, Component: Broadcasting

#805 Added the ability to configure default validator
  CHANGELOG.md
  src/Validation/src/Bootloader/ValidationBootloader.php
  src/Validation/src/Config/ValidationConfig.php
  src/Validation/tests/Config/ValidationConfigTest.php
  tests/Framework/Bootloader/Validation/ValidationBootloaderTest.php
Labels: Feature, Component: Validation

#803 Adds ValidationHandlerMiddleware for handling filter validation exception.
  CHANGELOG.md
  src/Filters/src/ErrorMapper.php
  src/Filters/src/ErrorsRendererInterface.php
  src/Framework/Filter/JsonErrorsRenderer.php
  src/Framework/Filter/ValidationHandlerMiddleware.php
  src/Http/src/Middleware/ErrorHandlerMiddleware.php
  tests/Framework/Filter/JsonErrorsRendererTest.php
  tests/Framework/Filter/ValidationHandlerMiddlewareTest.php
Labels: Improvement, Usability, Component: Filters
