Repository spiral/framework, pull requests merged in 2022-05, with the labels that each got.

#680 Updating Broadcasting code with PHP 8.1 features
  .gitattributes
  .github/workflows/main.yml
  .php-cs-fixer.dist.php
  composer.json
  monorepo-builder.php
  src/Broadcasting/composer.json
  src/Broadcasting/src/AuthorizationStatus.php
  src/Broadcasting/src/Bootloader/BroadcastingBootloader.php
  src/Broadcasting/src/Bootloader/WebsocketsBootloader.php
  src/Broadcasting/src/BroadcastInterface.php
  src/Broadcasting/src/BroadcastManager.php
  src/Broadcasting/src/Config/BroadcastConfig.php
  src/Broadcasting/src/Driver/AbstractBroadcast.php
  src/Broadcasting/src/Driver/LogBroadcast.php
  src/Broadcasting/src/Driver/NullBroadcast.php
  src/Broadcasting/src/Middleware/AuthorizationMiddleware.php
  src/Broadcasting/src/TopicRegistry.php
  src/Broadcasting/tests/AuthorizationStatusTest.php
  src/Exceptions/src/ExceptionHandler.php
  src/Http/src/Middleware/ErrorHandlerMiddleware.php
Labels: Component: Broadcasting

#684 Fixes problem with using roadrunner-bridge with SendIt component
  src/SendIt/src/Bootloader/MailerBootloader.php
  src/SendIt/src/JsonJobSerializer.php
  src/SendIt/src/MessageSerializer.php
  src/SendIt/tests/JsonJobSerializerTest.php
Labels: Component: Mailer

#685 Feature/console refactoring
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Console/src/Command.php
  src/Console/src/Command/ConfigureCommand.php
  src/Console/src/Command/SequenceCommand.php
  src/Console/src/Command/UpdateCommand.php
  src/Console/src/Config/ConsoleConfig.php
  src/Console/src/ConfirmationDefinitionInterface.php
  src/Console/src/Signature/Parser.php
  src/Console/src/Signature/Result.php
  src/Console/src/StaticLocator.php
  src/Console/src/Traits/HelpersTrait.php
  src/Console/src/Traits/LazyTrait.php
  src/Console/tests/ConfigTest.php
  src/Console/tests/ConfigureTest.php
  src/Console/tests/Fixtures/TestCommand.php
  src/Console/tests/HelpersTest.php
  src/Console/tests/OptionsTest.php
  src/Console/tests/Signature/ParserTest.php
  src/Console/tests/SignatureTest.php
  src/Console/tests/UpdateTest.php
Labels: Improvement, Component: Console

#694 Adding typization to $config property
  src/Filters/src/Config/FiltersConfig.php
Labels: Bug

#698 Adding the ability to add input bags
  src/Framework/Bootloader/Http/HttpBootloader.php
  src/Framework/Filter/InputScope.php
  src/Http/src/Config/HttpConfig.php
  src/Http/src/Request/InputManager.php
  src/Http/tests/InputManagerTest.php
  tests/Framework/Bootloader/Http/HttpBootloaderTest.php
Labels: Improvement, Experiment, Component: HTTP

#696 Improving version checker in MonorepoBuilder
  .gitattributes
  builder/MostRecentTagResolver.php
  builder/ProcessParser.php
  builder/TagParserInterface.php
  builder/ValidateVersionReleaseWorker.php
  composer.json
  monorepo-builder.php
  tests/Framework/MonorepoBuilder/ValidateVersionReleaseWorkerTest.php
Labels: Improvement

#700 Improving Printer in Reactor
  src/Reactor/src/FileDeclaration.php
  src/Reactor/src/Printer.php
  src/Reactor/src/Writer.php
  src/Scaffolder/src/Command/AbstractCommand.php
Labels: Improvement, Component: Reactor
