Repository spiral/framework, pull requests merged in 2022-04, with the labels that each got.

#622 Updating Distribution code with PHP 8.1 features
  src/Distribution/src/ExpirationAwareResolverInterface.php
  src/Distribution/src/Internal/DateTimeFactory.php
  src/Distribution/src/Internal/DateTimeIntervalFactory.php
  src/Distribution/src/Internal/DateTimeIntervalFactoryInterface.php
  src/Distribution/src/Manager.php
  src/Distribution/src/Resolver/CloudFrontResolver.php
  src/Distribution/src/Resolver/ExpirationAwareResolver.php
  src/Distribution/src/Resolver/S3SignedResolver.php
  src/Distribution/src/Resolver/StaticResolver.php
Labels: Improvement, Component: Distribution

#623 Updating Dumper code with PHP 8.1 features
  src/Dumper/src/Dumper.php
  src/Dumper/src/Exception/DumperException.php
  src/Dumper/src/Renderer/AbstractRenderer.php
  src/Dumper/src/Renderer/ConsoleRenderer.php
  src/Dumper/src/Renderer/HtmlRenderer.php
  src/Dumper/src/Renderer/PlainRenderer.php
  src/Dumper/src/RendererInterface.php
  src/Dumper/src/System.php
  src/Dumper/src/helpers.php
Labels: Improvement, Component: Dumper

#624 Updating Encrypter code with PHP 8.1 features
  CHANGELOG.md
  src/Encrypter/src/Encrypter.php
  src/Encrypter/src/EncrypterFactory.php
  src/Encrypter/src/EncrypterInterface.php
  src/Encrypter/src/EncryptionInterface.php
Labels: Improvement, Component: Encrypter

#628 Updating HMVC code with PHP 8.1 features
  CHANGELOG.md
  src/Hmvc/src/AbstractCore.php
  src/Hmvc/src/Core.php
  src/Hmvc/src/CoreInterceptorInterface.php
  src/Hmvc/src/CoreInterface.php
  src/Hmvc/src/Exception/ControllerException.php
  src/Hmvc/src/Exception/CoreException.php
  src/Hmvc/src/Exception/InterceptorException.php
  src/Hmvc/src/InterceptableCore.php
  src/Hmvc/src/InterceptorPipeline.php
  src/Router/tests/TestCore.php
Labels: Improvement, Component: HMVC

#630 Updating Logger code with PHP 8.1 features
  CHANGELOG.md
  src/Logger/src/Event/LogEvent.php
  src/Logger/src/ListenerRegistry.php
  src/Logger/src/ListenerRegistryInterface.php
  src/Logger/src/LogFactory.php
  src/Logger/src/LogsInterface.php
  src/Logger/src/NullLogger.php
  src/Logger/src/Traits/LoggerTrait.php
Labels: Improvement, Component: Logger

#631 Updating Mailer code with PHP 8.1 features
  src/Mailer/src/Exception/MailerException.php
  src/Mailer/src/MailerInterface.php
  src/Mailer/src/Message.php
  src/Mailer/src/MessageInterface.php
Labels: Improvement, Component: Mailer

#632 Updating Models code with PHP 8.1 features
  CHANGELOG.md
  src/Filters/src/Filter.php
  src/Models/src/AbstractEntity.php
  src/Models/src/DataEntity.php
  src/Models/src/EntityInterface.php
  src/Models/src/Exception/AccessException.php
  src/Models/src/Exception/AccessExceptionInterface.php
  src/Models/src/Exception/EntityException.php
  src/Models/src/Exception/EntityExceptionInterface.php
  src/Models/src/Exception/ReflectionException.php
  src/Models/src/ModelSchema.php
  src/Models/src/Reflection/ReflectionEntity.php
  src/Models/src/SchematicEntity.php
  src/Models/src/ValueInterface.php
  src/Models/tests/NameValue.php
Labels: Improvement, Component: Models

#633 Updating Pagination code with PHP 8.1 features
  CHANGELOG.md
  src/Pagination/src/Exception/PaginationException.php
  src/Pagination/src/PaginableInterface.php
  src/Pagination/src/PaginationProviderInterface.php
  src/Pagination/src/Paginator.php
  src/Pagination/src/PaginatorInterface.php
  src/Pagination/src/Traits/LimitsTrait.php
Labels: Improvement, Component: Pagination

#634 Updating Prototype code with PHP 8.1 features
  CHANGELOG.md
  src/Prototype/src/Annotation/Line.php
  src/Prototype/src/Annotation/Parser.php
  src/Prototype/src/Annotation/Prototyped.php
  src/Prototype/src/Bootloader/PrototypeBootloader.php
  src/Prototype/src/ClassNode.php
  src/Prototype/src/ClassNode/ClassStmt.php
  src/Prototype/src/ClassNode/ConflictResolver/AbstractEntity.php
  src/Prototype/src/ClassNode/ConflictResolver/NameEntity.php
  src/Prototype/src/ClassNode/ConflictResolver/Names.php
  src/Prototype/src/ClassNode/ConflictResolver/NamespaceEntity.php
  src/Prototype/src/ClassNode/ConflictResolver/Namespaces.php
  src/Prototype/src/ClassNode/ConflictResolver/Sequences.php
  src/Prototype/src/ClassNode/ConstructorParam.php
  src/Prototype/src/ClassNode/Type.php
  src/Prototype/src/Command/AbstractCommand.php
  src/Prototype/src/Command/DumpCommand.php
  src/Prototype/src/Command/InjectCommand.php
  src/Prototype/src/Command/ListCommand.php
  src/Prototype/src/Dependency.php
  src/Prototype/src/Exception/ClassNotDeclaredException.php
  src/Prototype/src/Exception/PrototypeException.php
  src/Prototype/src/Injector.php
  src/Prototype/src/NodeExtractor.php
  src/Prototype/src/NodeVisitors/AddProperty.php
  src/Prototype/src/NodeVisitors/AddUse.php
  src/Prototype/src/NodeVisitors/ClassNode/DeclareClass.php
  src/Prototype/src/NodeVisitors/ClassNode/LocateStatements.php
  src/Prototype/src/NodeVisitors/ClassNode/LocateVariables.php
  src/Prototype/src/NodeVisitors/DefineConstructor.php
  src/Prototype/src/NodeVisitors/LocateProperties.php
  src/Prototype/src/NodeVisitors/RemoveTrait.php
  src/Prototype/src/NodeVisitors/RemoveUse.php
  src/Prototype/src/NodeVisitors/UpdateConstructor.php
  src/Prototype/src/PropertyExtractor.php
  src/Prototype/src/PrototypeLocator.php
  src/Prototype/src/PrototypeRegistry.php
  src/Prototype/src/Traits/PrototypeTrait.php
  src/Prototype/src/Utils.php
Labels: Improvement, Component: Prototype

#635 Updating Queue code with PHP 8.1 features
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/Config/QueueConfig.php
  src/Queue/src/ContainerRegistry.php
  src/Queue/src/Core/QueueInjector.php
  src/Queue/src/DefaultSerializer.php
  src/Queue/src/Driver/SyncDriver.php
  src/Queue/src/Failed/LogFailedJobHandler.php
  src/Queue/src/Job/CallableJob.php
  src/Queue/src/Job/ObjectJob.php
  src/Queue/src/JobHandler.php
  src/Queue/src/Options.php
  src/Queue/src/QueueManager.php
  src/Queue/src/QueueRegistry.php
Labels: Improvement, Component: Queue

#636 Updating Session code with PHP 8.1 features
  CHANGELOG.md
  src/Framework/Session/SectionScope.php
  src/Session/src/Config/SessionConfig.php
  src/Session/src/Exception/MultipleSessionException.php
  src/Session/src/Exception/SessionException.php
  src/Session/src/Handler/FileHandler.php
  src/Session/src/Handler/NullHandler.php
  src/Session/src/Session.php
  src/Session/src/SessionFactory.php
  src/Session/src/SessionInterface.php
  src/Session/src/SessionSection.php
  src/Session/src/SessionSectionInterface.php
  src/Session/tests/NullHandlerTest.php
Labels: Improvement, Component: Session

#637 Updating Snapshots code with PHP 8.1 features
  src/Snapshots/src/Snapshot.php
  src/Snapshots/src/SnapshotInterface.php
  src/Snapshots/src/SnapshotterInterface.php
Labels: Improvement, Component: Snapshots

#638 Updating Reactor code with PHP 8.1 features
  CHANGELOG.md
  src/Reactor/src/AbstractDeclaration.php
  src/Reactor/src/Aggregator.php
  src/Reactor/src/Aggregator/Constants.php
  src/Reactor/src/Aggregator/Methods.php
  src/Reactor/src/Aggregator/Parameters.php
  src/Reactor/src/Aggregator/Properties.php
  src/Reactor/src/ClassDeclaration.php
  src/Reactor/src/DeclarationInterface.php
  src/Reactor/src/DependedInterface.php
  src/Reactor/src/Exception/MultilineException.php
  src/Reactor/src/Exception/ReactorException.php
  src/Reactor/src/Exception/SerializeException.php
  src/Reactor/src/FileDeclaration.php
  src/Reactor/src/NamedInterface.php
  src/Reactor/src/NamespaceDeclaration.php
  src/Reactor/src/Partial/Comment.php
  src/Reactor/src/Partial/Constant.php
  src/Reactor/src/Partial/Directives.php
  src/Reactor/src/Partial/Method.php
  src/Reactor/src/Partial/Parameter.php
  src/Reactor/src/Partial/Property.php
  src/Reactor/src/Partial/Source.php
  src/Reactor/src/ReplaceableInterface.php
  src/Reactor/src/Serializer.php
  src/Reactor/src/Traits/AccessTrait.php
  src/Reactor/src/Traits/CommentTrait.php
  src/Reactor/src/Traits/NamedTrait.php
  src/Reactor/src/Traits/SerializerTrait.php
  src/Reactor/src/Traits/UsesTrait.php
Labels: Improvement, Component: Reactor

#639 Updating Router code with PHP 8.1 features
  src/Router/src/AbstractRoute.php
  src/Router/src/Autofill.php
  src/Router/src/ContainerizedInterface.php
  src/Router/src/CoreHandler.php
  src/Router/src/Exception/ConstrainException.php
  src/Router/src/Exception/HandlerException.php
  src/Router/src/Exception/InvalidArgumentException.php
  src/Router/src/Exception/RouteException.php
  src/Router/src/Exception/RouteNotFoundException.php
  src/Router/src/Exception/RouterException.php
  src/Router/src/Exception/TargetException.php
  src/Router/src/Exception/UndefinedRouteException.php
  src/Router/src/Exception/UriHandlerException.php
  src/Router/src/GroupRegistry.php
  src/Router/src/Route.php
  src/Router/src/RouteGroup.php
  src/Router/src/RouteInterface.php
  src/Router/src/Router.php
  src/Router/src/RouterInterface.php
  src/Router/src/Target/AbstractTarget.php
  src/Router/src/Target/Action.php
  src/Router/src/Target/Controller.php
  src/Router/src/Target/Group.php
  src/Router/src/Target/Namespaced.php
  src/Router/src/TargetInterface.php
  src/Router/src/Traits/ContainerTrait.php
  src/Router/src/Traits/DefaultsTrait.php
  src/Router/src/Traits/PipelineTrait.php
  src/Router/src/Traits/VerbsTrait.php
  src/Router/src/UriHandler.php
  src/Router/tests/Targets/ActionTargetTest.php
Labels: Improvement, Component: Router

#640 Updating Scaffolder code with PHP 8.1 features
  src/Scaffolder/composer.json
  src/Scaffolder/src/Bootloader/ScaffolderBootloader.php
  src/Scaffolder/src/Command/AbstractCommand.php
  src/Scaffolder/src/Command/BootloaderCommand.php
  src/Scaffolder/src/Command/CommandCommand.php
  src/Scaffolder/src/Command/ConfigCommand.php
  src/Scaffolder/src/Command/ControllerCommand.php
  src/Scaffolder/src/Command/FilterCommand.php
  src/Scaffolder/src/Command/JobHandlerCommand.php
  src/Scaffolder/src/Command/MiddlewareCommand.php
  src/Scaffolder/src/Config/ScaffolderConfig.php
  src/Scaffolder/src/Declaration/BootloaderDeclaration.php
  src/Scaffolder/src/Declaration/CommandDeclaration.php
  src/Scaffolder/src/Declaration/ConfigDeclaration.php
  src/Scaffolder/src/Declaration/ConfigDeclaration/Defaults.php
  src/Scaffolder/src/Declaration/ConfigDeclaration/TypeAnnotations.php
  src/Scaffolder/src/Declaration/ConfigDeclaration/TypeHints.php
  src/Scaffolder/src/Declaration/ControllerDeclaration.php
  src/Scaffolder/src/Declaration/FilterDeclaration.php
  src/Scaffolder/src/Declaration/JobHandlerDeclaration.php
  src/Scaffolder/src/Declaration/MiddlewareDeclaration.php
  src/Scaffolder/src/Exception/ScaffolderException.php
  src/Scaffolder/src/helpers.php
Labels: Improvement, Component: Scaffolder

#642 Updating Security code with PHP 8.1 features
  CHANGELOG.md
  src/Security/composer.json
  src/Security/src/Actor/Actor.php
  src/Security/src/Actor/Guest.php
  src/Security/src/Actor/NullActor.php
  src/Security/src/ActorInterface.php
  src/Security/src/Command/RolePermissionsCommand.php
  src/Security/src/Exception/GuardException.php
  src/Security/src/Exception/PermissionException.php
  src/Security/src/Exception/RoleException.php
  src/Security/src/Exception/RuleException.php
  src/Security/src/Exception/SecurityException.php
  src/Security/src/Guard.php
  src/Security/src/GuardInterface.php
  src/Security/src/Matcher.php
  src/Security/src/PermissionManager.php
  src/Security/src/PermissionsInterface.php
  src/Security/src/Rule.php
  src/Security/src/Rule/AllowRule.php
  src/Security/src/Rule/CallableRule.php
  src/Security/src/Rule/CompositeRule.php
  src/Security/src/Rule/ForbidRule.php
  src/Security/src/RuleInterface.php
  src/Security/src/RuleManager.php
  src/Security/src/RulesInterface.php
  src/Security/src/Traits/GuardedTrait.php
Labels: Improvement, Component: Security

#643 Updating SendIt code with PHP 8.1 features
  CHANGELOG.md
  src/SendIt/src/Bootloader/BuilderBootloader.php
  src/SendIt/src/Bootloader/MailerBootloader.php
  src/SendIt/src/Config/MailerConfig.php
  src/SendIt/src/MailJob.php
  src/SendIt/src/MailQueue.php
  src/SendIt/src/MessageSerializer.php
  src/SendIt/src/Renderer/ViewRenderer.php
  src/SendIt/src/RendererInterface.php
  src/SendIt/tests/ConfigTest.php
  src/SendIt/tests/JobsQueueTest.php
  src/SendIt/tests/QueueTest.php
Labels: Improvement

#645 Updating Storage code with PHP 8.1 features
  CHANGELOG.md
  src/Storage/src/Bucket.php
  src/Storage/src/Bucket/ReadableInterface.php
  src/Storage/src/Bucket/ReadableTrait.php
  src/Storage/src/Bucket/UriResolvableInterface.php
  src/Storage/src/Bucket/WritableInterface.php
  src/Storage/src/Bucket/WritableTrait.php
  src/Storage/src/BucketInterface.php
  src/Storage/src/Exception/FileOperationException.php
  src/Storage/src/Exception/InvalidArgumentException.php
  src/Storage/src/Exception/StorageException.php
  src/Storage/src/File.php
  src/Storage/src/File/EntryInterface.php
  src/Storage/src/File/ReadableInterface.php
  src/Storage/src/File/ReadableTrait.php
  src/Storage/src/File/UriResolvableInterface.php
  src/Storage/src/File/UriResolvableTrait.php
  src/Storage/src/File/WritableInterface.php
  src/Storage/src/File/WritableTrait.php
  src/Storage/src/FileInterface.php
  src/Storage/src/MutableStorageInterface.php
  src/Storage/src/Storage.php
  src/Storage/src/Storage/ReadableInterface.php
  src/Storage/src/Storage/ReadableTrait.php
  src/Storage/src/Storage/WritableInterface.php
  src/Storage/src/Storage/WritableTrait.php
  src/Storage/src/StorageInterface.php
  src/Storage/src/Visibility.php
Labels: Improvement, Component: Storage

#648 Updating Translator code with PHP 8.1 features
  CHANGELOG.md
  src/Translator/src/Catalogue.php
  src/Translator/src/Catalogue/CacheInterface.php
  src/Translator/src/Catalogue/CatalogueLoader.php
  src/Translator/src/Catalogue/CatalogueManager.php
  src/Translator/src/Catalogue/LoaderInterface.php
  src/Translator/src/Catalogue/NullCache.php
  src/Translator/src/Catalogue/RuntimeLoader.php
  src/Translator/src/CatalogueInterface.php
  src/Translator/src/CatalogueManagerInterface.php
  src/Translator/src/Config/TranslatorConfig.php
  src/Translator/src/Exception/CatalogueException.php
  src/Translator/src/Exception/LocaleException.php
  src/Translator/src/Exception/PluralizationException.php
  src/Translator/src/Exception/SourceException.php
  src/Translator/src/Exception/TranslatorException.php
  src/Translator/src/Indexer.php
  src/Translator/src/Matcher.php
  src/Translator/src/Traits/TranslatorTrait.php
  src/Translator/src/Translator.php
  src/Translator/src/TranslatorInterface.php
  src/Translator/src/helpers.php
Labels: Improvement, Component: Translator

#647 Updating Tokenizer code with PHP 8.1 features
  src/Tokenizer/src/AbstractLocator.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  src/Tokenizer/src/ClassLocator.php
  src/Tokenizer/src/ClassesInterface.php
  src/Tokenizer/src/Config/TokenizerConfig.php
  src/Tokenizer/src/Exception/LocatorException.php
  src/Tokenizer/src/Exception/ReflectionException.php
  src/Tokenizer/src/Exception/TokenizerException.php
  src/Tokenizer/src/InvocationLocator.php
  src/Tokenizer/src/InvocationsInterface.php
  src/Tokenizer/src/Reflection/ReflectionArgument.php
  src/Tokenizer/src/Reflection/ReflectionFile.php
  src/Tokenizer/src/Reflection/ReflectionInvocation.php
  src/Tokenizer/src/ScopedClassLocator.php
  src/Tokenizer/src/ScopedClassesInterface.php
  src/Tokenizer/src/Tokenizer.php
Labels: Improvement, Component: Tokenizer

#649 Updating Views code with PHP 8.1 features
  CHANGELOG.md
  src/Views/src/Config/ViewsConfig.php
  src/Views/src/Context/ValueDependency.php
  src/Views/src/ContextGenerator.php
  src/Views/src/ContextInterface.php
  src/Views/src/DependencyInterface.php
  src/Views/src/Engine/AbstractEngine.php
  src/Views/src/Engine/Native/NativeEngine.php
  src/Views/src/Engine/Native/NativeView.php
  src/Views/src/EngineInterface.php
  src/Views/src/Exception/CacheException.php
  src/Views/src/Exception/CompileException.php
  src/Views/src/Exception/ConfigException.php
  src/Views/src/Exception/ContextException.php
  src/Views/src/Exception/EngineException.php
  src/Views/src/Exception/LoaderException.php
  src/Views/src/Exception/PathException.php
  src/Views/src/Exception/RenderException.php
  src/Views/src/Exception/ViewException.php
  src/Views/src/Loader/PathParser.php
  src/Views/src/Loader/ViewPath.php
  src/Views/src/LoaderInterface.php
  src/Views/src/Processor/ContextProcessor.php
  src/Views/src/ProcessorInterface.php
  src/Views/src/Traits/ProcessorTrait.php
  src/Views/src/ViewCache.php
  src/Views/src/ViewContext.php
  src/Views/src/ViewInterface.php
  src/Views/src/ViewLoader.php
  src/Views/src/ViewManager.php
  src/Views/src/ViewSource.php
  src/Views/src/ViewsInterface.php
  src/Views/tests/ConfigTest.php
Labels: Improvement, Component: Views

#653 Using `self.version` instead of `*`
  .github/workflows/main.yml
  .scrutinizer.yml
  CHANGELOG.md
  composer.json
  phpunit.xml
Labels: Improvement

#664 Disabling overwriting of env variables
  CHANGELOG.md
  src/Boot/src/Environment.php
Labels: Component: Boot

#661 Adding chunkSize to the HTTP config
  CHANGELOG.md
  src/Framework/Bootloader/Http/HttpBootloader.php
  src/Http/src/Config/HttpConfig.php
  src/Http/src/Emitter/SapiEmitter.php
  src/Http/tests/SapiEmitter/SapiEmitterTest.php
Labels: Feature, Component: HTTP

#660 Adds broadcasting component
  .github/workflows/split_monorepo.yml
  composer.json
  src/Broadcasting/.gitattributes
  src/Broadcasting/.gitignore
  src/Broadcasting/LICENSE
  src/Broadcasting/README.md
  src/Broadcasting/composer.json
  src/Broadcasting/phpunit.xml
  src/Broadcasting/src/Bootloader/BroadcastingBootloader.php
  src/Broadcasting/src/Bootloader/WebsocketsBootloader.php
  src/Broadcasting/src/BroadcastInterface.php
  src/Broadcasting/src/BroadcastManager.php
  src/Broadcasting/src/BroadcastManagerInterface.php
  src/Broadcasting/src/Config/BroadcastConfig.php
  src/Broadcasting/src/Driver/AbstractBroadcast.php
  src/Broadcasting/src/Driver/LogBroadcast.php
  src/Broadcasting/src/Driver/NullBroadcast.php
  src/Broadcasting/src/Exception/BroadcastException.php
  src/Broadcasting/src/Exception/InvalidArgumentException.php
  src/Broadcasting/src/GuardInterface.php
  src/Broadcasting/src/Middleware/AuthorizationMiddleware.php
  src/Broadcasting/tests/BroadcastManagerTest.php
  src/Broadcasting/tests/Config/BroadcastConfigTest.php
  src/Broadcasting/tests/Driver/LogBroadcastTest.php
  src/Broadcasting/tests/Driver/NullBroadcastTest.php
  src/Broadcasting/tests/Middleware/AuthorizationMiddlewareTest.php
  tests/Framework/Broadcasting/BroadcastingBootloaderTest.php
  tests/Framework/Broadcasting/WebsocketsBootloaderTest.php
  tests/app/config/broadcasting.php
  tests/app/src/TestApp.php
Labels: Feature, Component: Broadcasting

#665 Adds topics registry
  src/Broadcasting/src/Bootloader/BroadcastingBootloader.php
  src/Broadcasting/src/Config/BroadcastConfig.php
  src/Broadcasting/src/TopicRegistry.php
  src/Broadcasting/src/TopicRegistryInterface.php
  src/Broadcasting/tests/Config/BroadcastConfigTest.php
  src/Broadcasting/tests/TopicRegistryTest.php
  tests/Framework/Broadcasting/BroadcastingBootloaderTest.php
Labels: Component: Broadcasting

#669 Deprecating SAPI
  CHANGELOG.md
  src/Framework/Http/SapiDispatcher.php
  src/Http/src/Emitter/SapiEmitter.php
  src/Http/src/EmitterInterface.php
  src/Http/src/Exception/EmitterException.php
  src/Http/src/SapiRequestFactory.php
Labels: Component: HTTP

#667 Adding Nyholm Psr17Factory instead of our implementation
  CHANGELOG.md
  composer.json
  src/AnnotatedRoutes/tests/App/App.php
  src/Framework/Bootloader/Http/DiactorosBootloader.php
  src/Framework/Http/Diactoros/ResponseFactory.php
  src/Framework/Http/Diactoros/ServerRequestFactory.php
  src/Framework/Http/Diactoros/StreamFactory.php
  src/Framework/Http/Diactoros/UploadedFileFactory.php
  src/Framework/Http/Diactoros/UriFactory.php
  src/Http/src/Bootloader/DiactorosBootloader.php
  src/Http/src/ErrorHandler/PlainRenderer.php
  src/Http/src/ErrorHandler/RendererInterface.php
  src/Http/src/Middleware/ErrorHandlerMiddleware.php
  src/Http/src/Middleware/ErrorHandlerMiddleware/EnvSuppressErrors.php
  src/Http/src/Middleware/ErrorHandlerMiddleware/SuppressErrorsInterface.php
  src/Http/src/Middleware/JsonPayloadMiddleware.php
  src/Router/tests/RegistryTest.php
  src/Router/tests/RoutesGroupTest.php
  tests/Framework/Http/ControllerTest.php
  tests/Framework/Http/RequestFactoryTest.php
  tests/app/src/TestApp.php
Labels: Component: HTTP

#671 Adding null by default, to prevent an uninitialized property error
  src/Console/src/Command.php
  src/Router/src/AbstractRoute.php
  src/Session/src/Session.php
  src/Streams/src/StreamWrapper.php
Labels: Bug

#668 Improves broadcasting guard.
  CHANGELOG.md
  src/Broadcasting/src/AuthorizationStatus.php
  src/Broadcasting/src/GuardInterface.php
  src/Broadcasting/src/Middleware/AuthorizationMiddleware.php
  src/Broadcasting/tests/AuthorizationStatusTest.php
  src/Broadcasting/tests/Middleware/AuthorizationMiddlewareTest.php
Labels: Component: Broadcasting

#662 Adding Queueable attribute
  CHANGELOG.md
  src/Queue/composer.json
  src/Queue/src/Attribute/Queueable.php
  src/Queue/src/QueueableDetector.php
  src/Queue/tests/Attribute/Stub/NotQueueable.php
  src/Queue/tests/Attribute/Stub/NotQueueableInterface.php
  src/Queue/tests/Attribute/Stub/Queueable.php
  src/Queue/tests/Attribute/Stub/QueueableWithInterface.php
  src/Queue/tests/Attribute/Stub/QueueableWithInterfaceAndQueue.php
  src/Queue/tests/Attribute/Stub/QueueableWithInterfaceAndStaticQueue.php
  src/Queue/tests/Attribute/Stub/QueueableWithQueue.php
  src/Queue/tests/QueueableDetectorTest.php
Labels: Feature, Component: Queue

#672 Adding automatic booting of bootloaders in the init and boot methods
  CHANGELOG.md
  src/AnnotatedRoutes/src/Bootloader/AnnotatedRoutesBootloader.php
  src/Attributes/src/Bootloader/AttributesBootloader.php
  src/Boot/src/AbstractKernel.php
  src/Boot/src/BootloadManager.php
  src/Boot/src/BootloadManager/BootloadManager.php
  src/Boot/src/BootloadManager/ClassesRegistry.php
  src/Boot/src/BootloadManager/Initializer.php
  src/Boot/src/BootloadManager/Methods.php
  src/Boot/src/Exception/BootloaderAlreadyBootedException.php
  src/Boot/tests/BootloadManager/BootloadersTest.php
  src/Boot/tests/BootloadManager/ClassesRegistryTest.php
  src/Boot/tests/BootloadManager/DependenciesTest.php
  src/Boot/tests/Fixtures/BootloaderC.php
  src/Boot/tests/Fixtures/ConfigBootloader.php
  src/Boot/tests/Fixtures/SampleBoot.php
  src/Boot/tests/Fixtures/SampleBootWithMethodBoot.php
  src/Bridge/Dotenv/src/Bootloader/DotenvBootloader.php
  src/Bridge/Monolog/src/Bootloader/MonologBootloader.php
  src/Bridge/Monolog/tests/FactoryTest.php
  src/Bridge/Monolog/tests/HandlersTest.php
  src/Bridge/Monolog/tests/LoggerTest.php
  src/Bridge/Monolog/tests/ProcessorsTest.php
  src/Bridge/Monolog/tests/RotateHandlerTest.php
  src/Bridge/Monolog/tests/TraitTest.php
  src/Bridge/Stempler/src/Bootloader/PrettyPrintBootloader.php
  src/Bridge/Stempler/src/Bootloader/StemplerBootloader.php
  src/Bridge/Stempler/tests/BaseTest.php
  src/Cache/src/Bootloader/CacheBootloader.php
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Distribution/src/Bootloader/DistributionBootloader.php
  src/Framework/Bootloader/Auth/HttpAuthBootloader.php
  src/Framework/Bootloader/CommandBootloader.php
  src/Framework/Bootloader/Debug/HttpCollectorBootloader.php
  src/Framework/Bootloader/Debug/LogCollectorBootloader.php
  src/Framework/Bootloader/DebugBootloader.php
  src/Framework/Bootloader/ExceptionHandlerBootloader.php
  src/Framework/Bootloader/Http/CookiesBootloader.php
  src/Framework/Bootloader/Http/CsrfBootloader.php
  src/Framework/Bootloader/Http/ErrorHandlerBootloader.php
  src/Framework/Bootloader/Http/HttpBootloader.php
  src/Framework/Bootloader/Http/JsonPayloadsBootloader.php
  src/Framework/Bootloader/Http/SessionBootloader.php
  src/Framework/Bootloader/I18nBootloader.php
  src/Framework/Bootloader/Security/EncrypterBootloader.php
  src/Framework/Bootloader/Security/FiltersBootloader.php
  src/Framework/Bootloader/Views/TranslatedCacheBootloader.php
  src/Prototype/src/Bootloader/PrototypeBootloader.php
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Scaffolder/src/Bootloader/ScaffolderBootloader.php
  src/Scaffolder/tests/App/TestApp.php
  src/SendIt/src/Bootloader/BuilderBootloader.php
  src/SendIt/src/Bootloader/MailerBootloader.php
  src/Storage/src/Bootloader/StorageBootloader.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  src/Validation/src/Bootloader/ValidationBootloader.php
  src/Views/src/Bootloader/ViewsBootloader.php
  tests/app/src/Bootloader/AppBootloader.php
  tests/app/src/Bootloader/AuthBootloader.php
  tests/app/src/TestApp.php
Labels: Feature, Experiment, Component: Boot

#470 add method Spiral\Filters\InputInterface::hasValue()
  src/Filters/src/ArrayInput.php
  src/Filters/src/InputInterface.php
  src/Filters/tests/ArrayInputTest.php
  src/Filters/tests/InputScopeTest.php
  src/Framework/Filter/InputScope.php
Labels: Feature
