Repository spiral/framework, pull requests merged in 2022-12, with the labels that each got.

#839 fix #838
  src/Framework/Command/Router/ListCommand.php
Labels: Component: Router

#842 Fixes problem with using view context with default value.
  src/Views/src/Processor/ContextProcessor.php
  src/Views/tests/ContextProcessorTest.php
  src/Views/tests/LoaderTest.php
  src/Views/tests/fixtures/other/inject.php
  src/Views/tests/fixtures/other/injectWithDefault.php
Labels: Bug, Component: Views

#844 Adding property existence check
  src/Core/src/Container.php
Labels: Bug, Component: Core

#843 Adds null locale processor to remove brackets [[ ... ]]
  src/Bridge/Stempler/composer.json
  src/Bridge/Stempler/src/Bootloader/StemplerBootloader.php
  src/Bridge/Stempler/src/Processor/NullLocaleProcessor.php
  src/Bridge/Stempler/tests/ConfigTest.php
  src/Bridge/Stempler/tests/Processor/NullLocaleProcessorTest.php
  src/Bridge/Stempler/tests/fixtures/default/localized.dark.php
Labels: Improvement, Bridge: Stempler

#840 Bootloading improvements
  CHANGELOG.md
  src/Boot/src/AbstractKernel.php
  src/Boot/src/BootloadManager/AbstractBootloadManager.php
  src/Boot/src/BootloadManager/BootloadManager.php
  src/Boot/src/BootloadManager/DefaultInvokerStrategy.php
  src/Boot/src/BootloadManager/Initializer.php
  src/Boot/src/BootloadManager/InitializerInterface.php
  src/Boot/src/BootloadManager/InvokerStrategyInterface.php
  src/Boot/src/BootloadManager/StrategyBasedBootloadManager.php
  src/Boot/tests/BootloadManager/BootloadManagerTest.php
  src/Boot/tests/BootloadManager/BootloadersTest.php
  src/Boot/tests/Fixtures/CustomInitializer.php
  src/Boot/tests/Fixtures/CustomInvokerStrategy.php
  src/Boot/tests/KernelTest.php
  src/Boot/tests/TestCase.php
  src/Bridge/Monolog/tests/FactoryTest.php
  src/Bridge/Monolog/tests/HandlersTest.php
  src/Bridge/Monolog/tests/LoggerTest.php
  src/Bridge/Monolog/tests/ProcessorsTest.php
  src/Bridge/Monolog/tests/RotateHandlerTest.php
  src/Bridge/Monolog/tests/TraitTest.php
  src/Bridge/Stempler/tests/BaseTest.php
  tests/app/src/Bootloader/AuthBootloader.php
Labels: Feature, Improvement, Component: Boot

#846 Make Verbosity as injectable
  src/Exceptions/src/Verbosity.php
  src/Exceptions/tests/VerbosityTest.php
  src/Http/src/Middleware/ErrorHandlerMiddleware.php
  src/Http/tests/Middleware/ErrorHandlerMiddlewareTest.php
Labels: Improvement, Component: Exceptions, Component: HTTP

#848 Set default verbosity in ErrorHandlerMiddleware
  src/Http/src/Middleware/ErrorHandlerMiddleware.php
  src/Http/tests/Middleware/ErrorHandlerMiddlewareTest.php
Labels: Bug

#849 Improving PhpNamespace in the Reactor
  CHANGELOG.md
  src/Reactor/src/Aggregator/Elements.php
  src/Reactor/src/Aggregator/Enums.php
  src/Reactor/src/Aggregator/Interfaces.php
  src/Reactor/src/Aggregator/Traits.php
  src/Reactor/src/EnumDeclaration.php
  src/Reactor/src/InterfaceDeclaration.php
  src/Reactor/src/Partial/PhpNamespace.php
  src/Reactor/src/TraitDeclaration.php
  src/Reactor/tests/AggregatorsTest.php
  src/Reactor/tests/Partial/PhpNamespaceTest.php
Labels: Bug, Feature, Component: Reactor

#847 Add route pattern registry
  src/Framework/Bootloader/Http/RouterBootloader.php
  src/Router/src/Registry/DefaultPatternRegistry.php
  src/Router/src/Registry/RoutePatternRegistryInterface.php
  src/Router/src/UriHandler.php
  src/Router/tests/DefaultPatternRegistryTest.php
  src/Router/tests/PatternsTests.php
  src/Router/tests/Stub/InArrayPattern.php
  tests/Framework/Bootloader/Router/RouterBootloaderTest.php
Labels: Improvement, Component: Router

#845 Deprecate Kernel constants and add new function defineSystemBootloaders
  src/Boot/src/AbstractKernel.php
  src/Framework/Framework/Kernel.php
Labels: Component: Boot

#850 Fixing default value in the PromotedParameter
  src/Reactor/src/Partial/Method.php
  src/Reactor/tests/Partial/MethodTest.php
Labels: Bug, Component: Reactor

#851 Improving FileDeclaration in the Reactor
  CHANGELOG.md
  src/Reactor/src/FileDeclaration.php
  src/Reactor/src/Partial/PhpNamespace.php
  src/Reactor/src/Traits/ClassAware.php
  src/Reactor/src/Traits/EnumAware.php
  src/Reactor/src/Traits/InterfaceAware.php
  src/Reactor/src/Traits/TraitAware.php
  src/Reactor/tests/BaseWithElementsTest.php
  src/Reactor/tests/FileDeclarationTest.php
  src/Reactor/tests/Partial/PhpNamespaceTest.php
Labels: Bug, Feature, Component: Reactor

#854 Update README.md
  README.md
Labels: Improvement

#853 Improves plain renderer exception trace
  src/Exceptions/src/Renderer/ConsoleRenderer.php
  src/Exceptions/src/Renderer/PlainRenderer.php
  src/Exceptions/tests/Renderer/PlainRendererTest.php
  src/Exceptions/tests/Renderer/RendererTest.php
Labels: Improvement, Component: Exceptions, Component: Stempler
