Repository spiral/framework, pull requests merged in 2022-11, with the labels that each got.

#829 Fix downloads badge in auth component
  src/Auth/README.md
Labels: Bug, Component: Auth

#833 Fixing error suppressing in the ErrorHandlerMiddleware
  src/Http/src/ErrorHandler/PlainRenderer.php
  src/Http/src/Middleware/ErrorHandlerMiddleware.php
  src/Http/tests/Middleware/ErrorHandlerMiddlewareTest.php
  tests/Framework/Http/ErrorHandler/PlainRendererTest.php
Labels: Bug, Component: Exceptions, Component: HTTP

#832 Fix stempler documentation link
  src/Bridge/Stempler/README.md
Labels: Component: Stempler

#831 Router improvements
  CHANGELOG.md
  src/AnnotatedRoutes/src/Annotation/Route.php
  src/AnnotatedRoutes/src/RouteLocatorListener.php
  src/AnnotatedRoutes/tests/App/Controller/HomeController.php
  src/AnnotatedRoutes/tests/RouteLocatorListenerTest.php
  src/Framework/Bootloader/Http/RouterBootloader.php
  src/Framework/Bootloader/Http/RoutesBootloader.php
  src/Framework/Command/Router/ListCommand.php
  src/Router/src/GroupRegistry.php
  src/Router/src/Loader/Configurator/ImportConfigurator.php
  src/Router/src/RouteGroup.php
  src/Router/src/Router.php
  src/Router/src/UriHandler.php
  src/Router/tests/RouteGroupTest.php
  src/Router/tests/RouteTest.php
  tests/Framework/Router/Loader/Configurator/ImportConfiguratorTest.php
  tests/app/src/Bootloader/RoutesBootloader.php
Labels: Bug, Feature

#834 Add discord links
  README.md
  src/AnnotatedRoutes/README.md
  src/Auth/README.md
  src/AuthHttp/README.md
  src/Boot/README.md
  src/Bridge/Dotenv/README.md
  src/Bridge/Monolog/README.md
  src/Bridge/Stempler/README.md
  src/Broadcasting/README.md
  src/Cache/README.md
  src/Config/README.md
  src/Console/README.md
  src/Cookies/README.md
  src/Core/README.md
  src/Csrf/README.md
  src/Debug/README.md
  src/Distribution/README.md
  src/Encrypter/README.md
  src/Events/README.md
  src/Exceptions/README.md
  src/Files/README.md
  src/Filters/README.md
  src/Hmvc/README.md
  src/Http/README.md
  src/Logger/README.md
  src/Mailer/README.md
  src/Models/README.md
  src/Pagination/README.md
  src/Prototype/README.md
  src/Queue/README.md
  src/Reactor/README.md
  src/Router/README.md
  src/Scaffolder/README.md
  src/Security/README.md
  src/SendIt/README.md
  src/Serializer/README.md
  src/Session/README.md
  src/Snapshots/README.md
  src/Stempler/README.md
  src/Storage/README.md
  src/Streams/README.md
  src/Telemetry/README.md
  src/Tokenizer/README.md
  src/Translator/README.md
  src/Validation/README.md
  src/Views/README.md
Labels: Improvement, Usability

#837 Adds `Spiral\Telemetry\Bootloader\TelemetryBootloader` dependency to QueueBootloader
  CHANGELOG.md
  src/Queue/src/Bootloader/QueueBootloader.php
Labels: Bug, Component: Queue
