Repository spiral/framework, pull requests merged in 2022-02, with the labels that each got.

#501 Adds queue manager with sync driver
  composer.json
  monorepo-builder.php
  phpunit.xml
  src/Cache/src/Bootloader/CacheBootloader.php
  src/Core/src/Container.php
  src/Core/src/Exception/Container/NotCallableException.php
  src/Core/src/InvokerInterface.php
  src/Core/tests/Fixtures/Storage.php
  src/Core/tests/InvokerTest.php
  src/Framework/Jobs/JobDispatcher.php
  src/Framework/Jobs/JobQueue.php
  src/Framework/Jobs/JobRegistry.php
  src/Queue/LICENSE
  src/Queue/README.md
  src/Queue/composer.json
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/Config/QueueConfig.php
  src/Queue/src/ContainerRegistry.php
  src/Queue/src/DefaultSerializer.php
  src/Queue/src/Driver/SyncDriver.php
  src/Queue/src/Exception/InvalidArgumentException.php
  src/Queue/src/Exception/NotSupportedDriverException.php
  src/Queue/src/Exception/QueueException.php
  src/Queue/src/Exception/SerializationException.php
  src/Queue/src/Failed/FailedJobHandlerInterface.php
  src/Queue/src/Failed/LogFailedJobHandler.php
  src/Queue/src/Job/CallableJob.php
  src/Queue/src/Job/ObjectJob.php
  src/Queue/src/JobHandler.php
  src/Queue/src/Options.php
  src/Queue/src/OptionsInterface.php
  src/Queue/src/QueueConnectionProviderInterface.php
  src/Queue/src/QueueManager.php
  src/Queue/src/QueueRegistry.php
  src/Queue/src/QueueTrait.php
  src/Queue/src/QueueableInterface.php
  src/Queue/tests/Config/QueueConfigTest.php
  src/Queue/tests/ContainerRegistryT.php
  src/Queue/tests/DefaultSerializerTest.php
  src/Queue/tests/Driver/SyncDriverTest.php
  src/Queue/tests/Failed/LogFailedJobHandlerTest.php
  src/Queue/tests/Job/CallableJobTest.php
  src/Queue/tests/Job/ObjectJobTest.php
  src/Queue/tests/QueueManagerTest.php
  src/Queue/tests/QueueRegistryTest.php
  src/Queue/tests/TestCase.php
  src/Security/tests/RuleManagerTest.php
  src/SendIt/src/Bootloader/MailerBootloader.php
  src/SendIt/src/MailJob.php
Labels: Component: Queue

#504 Fixes bootloaders deprecations
  src/Framework/Bootloader/Auth/TokenStorage/CycleTokensBootloader.php
  src/Framework/Bootloader/Database/DatabaseBootloader.php
  src/Framework/Bootloader/Database/DisconnectsBootloader.php
  src/Framework/Bootloader/Database/MigrationsBootloader.php
  src/Framework/Bootloader/GRPC/GRPCBootloader.php
  src/Framework/Bootloader/Jobs/JobsBootloader.php
  src/Framework/Bootloader/Server/LegacyRoadRunnerBootloader.php
  src/Framework/Bootloader/Server/RoadRunnerBootloader.php
  src/Framework/Bootloader/ServerBootloader.php
Labels: Improvement

#505 Kernel bootloaders
  src/Boot/src/AbstractKernel.php
Labels: Feature, Component: Boot

#506 Add ability to configure Monolog processors
  CHANGELOG.md
  src/Bridge/Monolog/src/Config/MonologConfig.php
  src/Bridge/Monolog/src/LogFactory.php
  src/Bridge/Monolog/tests/ProcessorsTest.php
Labels: Feature, Bridge: Monolog

#516 Add `template` annotations
  codecov.yml
  src/Console/src/Command.php
  src/Core/src/Container.php
Labels: Improvement

#522 Fix http bootloader
  src/Framework/Bootloader/Http/HttpBootloader.php
  src/Queue/src/Bootloader/QueueBootloader.php
Labels: Bug, Component: HTTP

#523 Fix container: wrong nullable parameter type assertion
  src/Core/src/Container.php
  src/Core/tests/AutowireTest.php
  src/Core/tests/Fixtures/SampleClass.php
  src/Storage/tests/FileTestCase.php
Labels: Bug, Component: Core

#526 Update CI
  .github/workflows/main.yml
  src/AnnotatedRoutes/.github/workflows/main.yml
  src/Attributes/.github/workflows/main.yml
  src/Bridge/DataGrid/.github/workflows/main.yml
  src/Distribution/.github/workflows/main.yml
  src/Filters/.github/workflows/main.yml
  src/Mailer/.github/workflows/main.yml
  src/SendIt/.github/workflows/main.yml
  src/Storage/.github/workflows/main.yml
Labels: Improvement

#527 Set the lowest priority for console and sapi dispatchers
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Framework/Bootloader/Http/HttpBootloader.php
Labels: Bug

#528 Fixes problem with using env variables in console commands
  src/Boot/src/AbstractKernel.php
Labels: Bug

#538 Fixes problem with invoking `start` method where bootloader has dependencies
  src/Boot/src/BootloadManager.php
  src/Boot/tests/BootloadersTest.php
  src/Boot/tests/Fixtures/SampleBoot.php
Labels: Bug, Component: Boot

#540 Adds autowiring for Kernel callback functions `starting` and `started`
  src/Boot/src/AbstractKernel.php
  src/Boot/src/BootloadManager.php
  src/Boot/tests/BootloadersTest.php
Labels: Bug, Improvement, Component: Boot

#545 Fixes problem with error `Undefined class or binding 'Spiral\Boot\EnvironmentInterface`
  src/Boot/src/AbstractKernel.php
  src/Boot/tests/KernelTest.php
Labels: Bug, Component: Boot

#546 Fixes problem with `Class "Composer\InstalledVersions" not found`
  src/Framework/Bootloader/Http/HttpBootloader.php
Labels: Bug, Component: HTTP

#541 Casting SNAPSHOT_MAX_FILES and SNAPSHOT_VERBOSITY to int in SnapshotsBootloader
  src/Framework/Bootloader/SnapshotsBootloader.php
  tests/Framework/SnapshotTest.php
Labels: Bug, Component: Snapshots

#548 Adding Cache and Queue to the Prototype
  src/Prototype/src/Bootloader/PrototypeBootloader.php
Labels: Feature, Component: Prototype

#539 Adding ability to configure Scaffolder declarations
  CHANGELOG.md
  src/Scaffolder/src/Bootloader/ScaffolderBootloader.php
  src/Scaffolder/src/Command/Database/EntityCommand.php
  src/Scaffolder/src/Command/Database/RepositoryCommand.php
  src/Scaffolder/src/Command/MigrationCommand.php
  src/Scaffolder/src/Declaration/MigrationDeclaration.php
Labels: Feature, Component: Scaffolder

#558 Removing final from `Spiral\Mailer\Message` class
  CHANGELOG.md
  src/Boot/src/AbstractKernel.php
  src/Mailer/src/Message.php
Labels: Component: Mailer

#555 Fixes framework components requirements
  src/AnnotatedRoutes/composer.json
  src/Cache/composer.json
  src/Console/composer.json
  src/Cookies/composer.json
  src/Queue/composer.json
  src/Security/composer.json
  src/SendIt/composer.json
Labels: Bug

#561 Fixes framework components dependencies
  src/AnnotatedRoutes/composer.json
  src/Cache/composer.json
  src/Cookies/composer.json
  src/Queue/composer.json
  src/Security/composer.json
  src/SendIt/composer.json
Labels: Bug

#562 Fixes problem with undefined constant "Spiral\Boot\STDERR" in ExceptionHandler
  src/Boot/src/ExceptionHandler.php
Labels: Bug, Component: Exceptions

#557 Moving RouteGroup from AnnotatedRoutes to Router
  src/Router/src/GroupRegistry.php
  src/Router/src/RouteGroup.php
  src/Router/tests/RegistryTest.php
  src/Router/tests/RoutesGroupTest.php
  src/Router/tests/Stub/RoutesTestCore.php
  src/Router/tests/Stub/TestMiddleware.php
Labels: Component: AnnotatedRoutes, Component: Router

#563 Gets rid of [spiral/sendit] dependency from [spiral/queue]
  src/Queue/src/Bootloader/QueueBootloader.php
Labels: Bug, Component: Queue

#565 Adding cast to string in default filter (Stempler DynamicRenderer)
  src/Stempler/src/Compiler/Renderer/DynamicRenderer.php
  src/Stempler/tests/Compiler/DynamicTest.php
  src/Stempler/tests/Directive/LoopTest.php
  src/Stempler/tests/Directive/OnlyKnownTest.php
  src/Stempler/tests/SourcemapTest.php
  src/Stempler/tests/Transform/DynamicToPHPTest.php
  src/Stempler/tests/Transform/ImportElementTest.php
  tests/Framework/Views/RenderTest.php
  tests/app/src/Bootloader/AppBootloader.php
  tests/app/src/TestApp.php
  tests/app/views/stempler/null.dark.php
Labels: Bug, Component: Stempler

#566 Wrapping a value, casted to a string
  src/Stempler/src/Compiler/Renderer/DynamicRenderer.php
  src/Stempler/tests/Compiler/DynamicTest.php
  src/Stempler/tests/Directive/LoopTest.php
  src/Stempler/tests/Directive/OnlyKnownTest.php
  src/Stempler/tests/SourcemapTest.php
  src/Stempler/tests/Transform/DynamicToPHPTest.php
  src/Stempler/tests/Transform/ImportElementTest.php
  tests/Framework/Views/RenderTest.php
  tests/app/views/stempler/null.dark.php
Labels: Bug

#547 Adds ability to set delay for Mailer messages
  CHANGELOG.md
  src/Mailer/src/Message.php
  src/Mailer/tests/MessageTest.php
  src/SendIt/src/MailQueue.php
  src/SendIt/tests/QueueTest.php
Labels: Feature, Component: Mailer

#576 Add error message for not exist Bootloader class
  src/Boot/src/BootloadManager.php
  src/Boot/tests/BootloadersTest.php
Labels: Bug, Component: Boot

#578 Adds null driver for [spiral/queue]
  CHANGELOG.md
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/Driver/NullDriver.php
  src/Queue/tests/Driver/NullDriverTest.php
Labels: Feature, Component: Queue

#559 class annotations for traits
  src/Attributes/src/Internal/AttributeReader.php
  src/Attributes/src/Internal/DoctrineAnnotationReader.php
  src/Attributes/tests/Reader/Fixture/AnnotatedTrait.php
  src/Attributes/tests/Reader/Fixture/ClassWithAnnotatedTrait.php
  src/Attributes/tests/Reader/ReaderTestCase.php
Labels: Feature, Component: Attributes

#581 Adds session factory interface
  CHANGELOG.md
  src/Framework/Bootloader/Http/SessionBootloader.php
  src/Framework/Session/Middleware/SessionMiddleware.php
  src/Session/src/SessionFactory.php
  src/Session/src/SessionFactoryInterface.php
Labels: Improvement, Component: Session

#585 Add Symfony 6 support
  CHANGELOG.md
  composer.json
  src/Attributes/composer.json
  src/Console/composer.json
  src/Distribution/composer.json
  src/SendIt/composer.json
  src/Storage/composer.json
  src/Tokenizer/composer.json
  src/Translator/composer.json
  src/Translator/src/Translator.php
Labels: Improvement, Component: Console, Component: Mailer, Component: Tokenizer, Component: Translator
