Repository spiral/framework, pull requests merged in 2022-03, with the labels that each got.

#591 Adding return types for interface compatible
  src/Console/src/InputProxy.php
Labels: Bug

#593 Added ability to use scopes for indexing files with specific scopes
  src/AnnotatedRoutes/src/RouteLocator.php
  src/Console/tests/LazyTest.php
  src/Framework/Command/Translator/IndexCommand.php
  src/Framework/Console/CommandLocator.php
  src/Prototype/src/PrototypeLocator.php
  src/Prototype/tests/LocatorTest.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  src/Tokenizer/src/Config/TokenizerConfig.php
  src/Tokenizer/src/ScopedClassLocator.php
  src/Tokenizer/src/ScopedClassesInterface.php
  src/Tokenizer/src/Tokenizer.php
  src/Tokenizer/tests/ClassLocatorTest.php
  src/Tokenizer/tests/ConfigTest.php
  src/Tokenizer/tests/ScopedClassLocatorTest.php
  src/Translator/src/Indexer.php
  src/Translator/tests/IndexerTest.php
Labels: Feature, Component: Tokenizer

#601 Adds storage bucket factory.
  CHANGELOG.md
  src/Framework/Bootloader/Storage/StorageBootloader.php
  src/Storage/src/BucketFactory.php
  src/Storage/src/BucketFactoryInterface.php
  src/Storage/tests/BucketFactoryTest.php
  tests/Framework/Storage/StorageBootloaderTest.php
  tests/app/src/TestApp.php
Labels: Component: Storage

#603 Updating Filters code with PHP 8.1 features
  .styleci.yml
  CHANGELOG.md
  src/Filters/src/ArrayInput.php
  src/Filters/src/ErrorMapper.php
  src/Filters/src/Filter.php
  src/Filters/src/FilterInterface.php
  src/Filters/src/FilterProvider.php
  src/Filters/src/InputInterface.php
  src/Filters/src/SchemaBuilder.php
  src/Framework/Filter/InputScope.php
Labels: Improvement, Component: Filters

#605 Moving config JsonPayloadConfig
  CHANGELOG.md
  src/Framework/Bootloader/Http/JsonPayloadConfig.php
  src/Framework/Bootloader/Http/JsonPayloadsBootloader.php
  src/Framework/Http/Middleware/JsonPayloadMiddleware.php
Labels: Improvement, Component: HTTP

#604 Updating Validation code with PHP 8.1 features
  CHANGELOG.md
  src/Validation/src/AbstractChecker.php
  src/Validation/src/AbstractCondition.php
  src/Validation/src/AbstractRule.php
  src/Validation/src/AbstractValidator.php
  src/Validation/src/CallableRule.php
  src/Validation/src/Checker/AddressChecker.php
  src/Validation/src/Checker/ArrayChecker.php
  src/Validation/src/Checker/DatetimeChecker.php
  src/Validation/src/Checker/DatetimeChecker/ThresholdChecker.php
  src/Validation/src/Checker/FileChecker.php
  src/Validation/src/Checker/ImageChecker.php
  src/Validation/src/Checker/MixedChecker.php
  src/Validation/src/Checker/NumberChecker.php
  src/Validation/src/Checker/StringChecker.php
  src/Validation/src/Checker/Traits/FileTrait.php
  src/Validation/src/Checker/Traits/NotEmptyTrait.php
  src/Validation/src/Checker/TypeChecker.php
  src/Validation/src/CheckerInterface.php
  src/Validation/src/CheckerRule.php
  src/Validation/src/Condition/AbsentCondition.php
  src/Validation/src/Condition/AnyOfCondition.php
  src/Validation/src/Condition/Compositor.php
  src/Validation/src/Condition/NoneOfCondition.php
  src/Validation/src/Condition/PresentCondition.php
  src/Validation/src/Condition/WithAllCondition.php
  src/Validation/src/Condition/WithAnyCondition.php
  src/Validation/src/Condition/WithoutAllCondition.php
  src/Validation/src/Condition/WithoutAnyCondition.php
  src/Validation/src/ConditionInterface.php
  src/Validation/src/Config/ValidatorConfig.php
  src/Validation/src/ParserInterface.php
  src/Validation/src/RuleInterface.php
  src/Validation/src/RuleParser.php
  src/Validation/src/RulesInterface.php
  src/Validation/src/ValidationInterface.php
  src/Validation/src/ValidationProvider.php
  src/Validation/src/Validator.php
  src/Validation/src/ValidatorInterface.php
Labels: Improvement, Component: Validation

#606 Updating AnnotatedRoutes code with PHP 8.1 features
  src/AnnotatedRoutes/src/Annotation/Route.php
  src/AnnotatedRoutes/src/Bootloader/AnnotatedRoutesBootloader.php
  src/AnnotatedRoutes/src/Command/ResetCommand.php
  src/AnnotatedRoutes/src/RouteLocator.php
Labels: Improvement, Component: AnnotatedRoutes

#607 Updating Attributes code with PHP 8.1 features
  src/Attributes/composer.json
  src/Attributes/src/AnnotationReader.php
  src/Attributes/src/AttributeReader.php
  src/Attributes/src/Bridge/DoctrineReaderBridge.php
  src/Attributes/src/Composite/Composite.php
  src/Attributes/src/Composite/MergeReader.php
  src/Attributes/src/Composite/SelectiveReader.php
  src/Attributes/src/Exception/AttributeException.php
  src/Attributes/src/Exception/InitializationException.php
  src/Attributes/src/Exception/NotFoundException.php
  src/Attributes/src/Exception/SemanticAttributeException.php
  src/Attributes/src/Exception/SyntaxAttributeException.php
  src/Attributes/src/Factory.php
  src/Attributes/src/FactoryInterface.php
  src/Attributes/src/Internal/AttributeReader.php
  src/Attributes/src/Internal/CachedReader.php
  src/Attributes/src/Internal/ContextRenderer.php
  src/Attributes/src/Internal/Decorator.php
  src/Attributes/src/Internal/DoctrineAnnotationReader.php
  src/Attributes/src/Internal/Exception.php
  src/Attributes/src/Internal/FallbackAttributeReader.php
  src/Attributes/src/Internal/FallbackAttributeReader/AttributeFinderVisitor.php
  src/Attributes/src/Internal/FallbackAttributeReader/AttributeParser.php
  src/Attributes/src/Internal/FallbackAttributeReader/AttributePrototype.php
  src/Attributes/src/Internal/Instantiator/DoctrineInstantiator.php
  src/Attributes/src/Internal/Instantiator/Facade.php
  src/Attributes/src/Internal/Instantiator/Instantiator.php
  src/Attributes/src/Internal/Instantiator/InstantiatorInterface.php
  src/Attributes/src/Internal/Instantiator/NamedArgumentsInstantiator.php
  src/Attributes/src/Internal/Key/ConcatKeyGenerator.php
  src/Attributes/src/Internal/Key/HashKeyGenerator.php
  src/Attributes/src/Internal/Key/KeyGeneratorInterface.php
  src/Attributes/src/Internal/Key/ModificationTimeKeyGenerator.php
  src/Attributes/src/Internal/Key/NameKeyGenerator.php
  src/Attributes/src/Internal/NativeAttributeReader.php
  src/Attributes/src/NamedArgumentConstructor.php
  src/Attributes/src/NamedArgumentConstructorAttribute.php
  src/Attributes/src/Psr16CachedReader.php
  src/Attributes/src/Psr6CachedReader.php
  src/Attributes/src/Reader.php
  src/Attributes/src/ReaderAwareInterface.php
  src/Attributes/src/ReaderAwareTrait.php
  src/Attributes/src/ReaderInterface.php
  src/Attributes/tests/Reader/FallbackReaderTestCase.php
Labels: Improvement, Component: Attributes

#608 Updating Auth code with PHP 8.1 features
  src/Auth/src/ActorProviderInterface.php
  src/Auth/src/AuthContext.php
  src/Auth/src/AuthContextInterface.php
  src/Auth/src/Exception/AuthException.php
  src/Auth/src/Exception/TokenStorageException.php
  src/Auth/src/TokenInterface.php
  src/Auth/src/TokenStorageInterface.php
Labels: Improvement, Component: Auth

#609 Updating AuthHttp code with PHP 8.1 features
  src/AuthHttp/src/Exception/TransportException.php
  src/AuthHttp/src/HttpTransportInterface.php
  src/AuthHttp/src/Middleware/AuthMiddleware.php
  src/AuthHttp/src/Middleware/Firewall/AbstractFirewall.php
  src/AuthHttp/src/Middleware/Firewall/ExceptionFirewall.php
  src/AuthHttp/src/Middleware/Firewall/OverwriteFirewall.php
  src/AuthHttp/src/Transport/CookieTransport.php
  src/AuthHttp/src/Transport/HeaderTransport.php
  src/AuthHttp/src/TransportRegistry.php
Labels: Improvement, Component: AuthHttp

#626 Updating Exceptions, Files code with PHP 8.1 features
  CHANGELOG.md
  src/Exceptions/src/AbstractHandler.php
  src/Exceptions/src/ConsoleHandler.php
  src/Exceptions/src/HandlerInterface.php
  src/Exceptions/src/Highlighter.php
  src/Exceptions/src/HtmlHandler.php
  src/Exceptions/src/JsonHandler.php
  src/Exceptions/src/PlainHandler.php
  src/Exceptions/src/Style/ConsoleStyle.php
  src/Exceptions/src/Style/HtmlStyle.php
  src/Exceptions/src/Style/PlainStyle.php
  src/Exceptions/src/StyleInterface.php
  src/Exceptions/src/ValueWrapper.php
  src/Files/src/Exception/FileNotFoundException.php
  src/Files/src/Exception/FilesException.php
  src/Files/src/Exception/WriteErrorException.php
  src/Files/src/Files.php
  src/Files/src/FilesInterface.php
Labels: Improvement, Component: Exceptions, Component: Files

#612 Updating Monolog bridge code with PHP 8.1 features
  src/Bridge/Dotenv/src/Bootloader/DotenvBootloader.php
  src/Bridge/Monolog/src/Bootloader/MonologBootloader.php
  src/Bridge/Monolog/src/Config/MonologConfig.php
  src/Bridge/Monolog/src/EventHandler.php
  src/Bridge/Monolog/src/Exception/ConfigException.php
  src/Bridge/Monolog/src/LogFactory.php
Labels: Improvement, Bridge: Monolog

#616 Updating Console code with PHP 8.1 features
  CHANGELOG.md
  composer.json
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Console/src/Command.php
  src/Console/src/Command/ConfigureCommand.php
  src/Console/src/Command/SequenceCommand.php
  src/Console/src/Command/UpdateCommand.php
  src/Console/src/CommandOutput.php
  src/Console/src/Config/ConsoleConfig.php
  src/Console/src/Console.php
  src/Console/src/Exception/CommandException.php
  src/Console/src/Exception/ConfigException.php
  src/Console/src/Exception/ConsoleException.php
  src/Console/src/Exception/LocatorException.php
  src/Console/src/InputProxy.php
  src/Console/src/LocatorInterface.php
  src/Console/src/Sequence/AbstractSequence.php
  src/Console/src/Sequence/CallableSequence.php
  src/Console/src/Sequence/CommandSequence.php
  src/Console/src/SequenceInterface.php
  src/Console/src/StaticLocator.php
  src/Console/src/Traits/HelpersTrait.php
  src/Console/src/Traits/LazyTrait.php
  src/Console/tests/ConfigTest.php
  src/Console/tests/ConfigureTest.php
  src/Framework/Console/CommandLocator.php
Labels: Improvement, Component: Console

#617 Updating Cookies code with PHP 8.1 features
  src/Cookies/src/Config/CookiesConfig.php
  src/Cookies/src/Cookie.php
  src/Cookies/src/Cookie/SameSite.php
  src/Cookies/src/CookieQueue.php
  src/Cookies/src/Exception/CookieException.php
  src/Cookies/src/Middleware/CookiesMiddleware.php
Labels: Improvement, Component: Cookies

#613 Updating Stempler bridge code with PHP 8.1 features
  src/Bridge/Stempler/src/Bootloader/PrettyPrintBootloader.php
  src/Bridge/Stempler/src/Bootloader/StemplerBootloader.php
  src/Bridge/Stempler/src/Config/StemplerConfig.php
  src/Bridge/Stempler/src/Directive/ContainerDirective.php
  src/Bridge/Stempler/src/Directive/RouteDirective.php
  src/Bridge/Stempler/src/Exception/ConfigException.php
  src/Bridge/Stempler/src/ExceptionMapper.php
  src/Bridge/Stempler/src/StemplerCache.php
  src/Bridge/Stempler/src/StemplerEngine.php
  src/Bridge/Stempler/src/StemplerLoader.php
  src/Bridge/Stempler/src/StemplerView.php
  src/Bridge/Stempler/src/Visitor/FlattenNodes.php
  src/Bridge/Stempler/src/Visitor/FormatHTML.php
Labels: Improvement, Bridge: Stempler

#614 Updating Cache code with PHP 8.1 features
  composer.json
  src/Cache/composer.json
  src/Cache/src/Bootloader/CacheBootloader.php
  src/Cache/src/CacheManager.php
  src/Cache/src/Config/CacheConfig.php
  src/Cache/src/Core/CacheInjector.php
  src/Cache/src/Storage/ArrayStorage.php
  src/Cache/src/Storage/FileStorage.php
  src/Cache/src/Storage/InteractsWithTime.php
Labels: Improvement, Component: Cache

#621 Updating Debug code with PHP 8.1 features
  src/Debug/src/State.php
  src/Debug/src/StateInterface.php
Labels: Improvement, Component: Debug

#610 Updating Boot code with PHP 8.1 features
  CHANGELOG.md
  src/AnnotatedRoutes/tests/TestCase.php
  src/Boot/src/AbstractKernel.php
  src/Boot/src/BootloadManager.php
  src/Boot/src/Bootloader/Bootloader.php
  src/Boot/src/Bootloader/BootloaderInterface.php
  src/Boot/src/Bootloader/ConfigurationBootloader.php
  src/Boot/src/Bootloader/CoreBootloader.php
  src/Boot/src/Bootloader/DependedInterface.php
  src/Boot/src/Directories.php
  src/Boot/src/DirectoriesInterface.php
  src/Boot/src/DispatcherInterface.php
  src/Boot/src/Environment.php
  src/Boot/src/EnvironmentInterface.php
  src/Boot/src/Exception/BootException.php
  src/Boot/src/Exception/ClassNotFoundException.php
  src/Boot/src/Exception/DirectoryException.php
  src/Boot/src/Exception/EnvironmentException.php
  src/Boot/src/Exception/FatalException.php
  src/Boot/src/ExceptionHandler.php
  src/Boot/src/Finalizer.php
  src/Boot/src/FinalizerInterface.php
  src/Boot/src/KernelInterface.php
  src/Boot/src/Memory.php
  src/Boot/src/MemoryInterface.php
  src/Boot/src/NullMemory.php
  src/Boot/tests/ConfigsTest.php
  src/Boot/tests/DirectoriesTest.php
  src/Boot/tests/EnvironmentTest.php
  src/Boot/tests/ExceptionsTest.php
  src/Boot/tests/Fixtures/BootloaderA.php
  src/Boot/tests/Fixtures/BootloaderB.php
  src/Boot/tests/FunctionsTest.php
  src/Boot/tests/KernelTest.php
  src/Boot/tests/MemoryTest.php
  src/Prototype/tests/Commands/AbstractCommandsTest.php
  src/Scaffolder/tests/BaseTest.php
  src/SendIt/tests/RenderTest.php
  tests/Framework/BaseTest.php
  tests/Framework/KernelTest.php
Labels: Improvement, Component: Boot

#618 Updating Core code with PHP 8.1 features
  CHANGELOG.md
  src/Config/src/ConfigManager.php
  src/Core/src/BinderInterface.php
  src/Core/src/ConfigsInterface.php
  src/Core/src/Container.php
  src/Core/src/Container/Autowire.php
  src/Core/src/Container/InjectableInterface.php
  src/Core/src/Container/InjectorInterface.php
  src/Core/src/Container/SingletonInterface.php
  src/Core/src/ContainerScope.php
  src/Core/src/Exception/ConfigException.php
  src/Core/src/Exception/ConfiguratorException.php
  src/Core/src/Exception/Container/ArgumentException.php
  src/Core/src/Exception/Container/AutowireException.php
  src/Core/src/Exception/Container/ContainerException.php
  src/Core/src/Exception/Container/InjectionException.php
  src/Core/src/Exception/Container/NotFoundException.php
  src/Core/src/Exception/DependencyException.php
  src/Core/src/Exception/InvalidArgumentException.php
  src/Core/src/Exception/LogicException.php
  src/Core/src/Exception/RuntimeException.php
  src/Core/src/Exception/ScopeException.php
  src/Core/src/FactoryInterface.php
  src/Core/src/InjectableConfig.php
  src/Core/src/InvokerInterface.php
  src/Core/src/ResolverInterface.php
  src/Core/src/ScopeInterface.php
  src/Core/src/Traits/Config/AliasTrait.php
  src/Encrypter/src/EncrypterFactory.php
  src/Tokenizer/src/Tokenizer.php
Labels: Improvement, Component: Core

#615 Updating Config code with PHP 8.1 features
  CHANGELOG.md
  src/Config/src/ConfigManager.php
  src/Config/src/ConfiguratorInterface.php
  src/Config/src/Exception/ConfigDeliveredException.php
  src/Config/src/Exception/DotNotFoundException.php
  src/Config/src/Exception/InvalidArgumentException.php
  src/Config/src/Exception/LoaderException.php
  src/Config/src/Exception/PatchException.php
  src/Config/src/Loader/DirectoryLoader.php
  src/Config/src/Loader/FileLoaderInterface.php
  src/Config/src/Loader/JsonLoader.php
  src/Config/src/Loader/PhpLoader.php
  src/Config/src/LoaderInterface.php
  src/Config/src/Patch/Append.php
  src/Config/src/Patch/Delete.php
  src/Config/src/Patch/Group.php
  src/Config/src/Patch/Prepend.php
  src/Config/src/Patch/Set.php
  src/Config/src/Patch/Traits/DotTrait.php
  src/Config/src/PatchInterface.php
Labels: Improvement, Component: Config

#629 Updating HTTP code with PHP 8.1 features
  CHANGELOG.md
  src/Http/src/CallableHandler.php
  src/Http/src/Config/HttpConfig.php
  src/Http/src/Emitter/SapiEmitter.php
  src/Http/src/EmitterInterface.php
  src/Http/src/Exception/AcceptHeaderException.php
  src/Http/src/Exception/ClientException.php
  src/Http/src/Exception/ClientException/BadRequestException.php
  src/Http/src/Exception/ClientException/ForbiddenException.php
  src/Http/src/Exception/ClientException/NotFoundException.php
  src/Http/src/Exception/ClientException/ServerErrorException.php
  src/Http/src/Exception/ClientException/UnauthorizedException.php
  src/Http/src/Exception/DotNotFoundException.php
  src/Http/src/Exception/EmitterException.php
  src/Http/src/Exception/HttpException.php
  src/Http/src/Exception/InputException.php
  src/Http/src/Exception/PipelineException.php
  src/Http/src/Exception/ResponseException.php
  src/Http/src/Header/AcceptHeader.php
  src/Http/src/Header/AcceptHeaderItem.php
  src/Http/src/Http.php
  src/Http/src/Pipeline.php
  src/Http/src/Request/FilesBag.php
  src/Http/src/Request/HeadersBag.php
  src/Http/src/Request/InputBag.php
  src/Http/src/Request/InputManager.php
  src/Http/src/Request/ServerBag.php
  src/Http/src/ResponseWrapper.php
  src/Http/src/SapiRequestFactory.php
  src/Http/src/Traits/JsonTrait.php
  src/Http/src/Traits/MiddlewareTrait.php
  src/Http/tests/AcceptHeaderTest.php
  src/Http/tests/HttpTest.php
  src/Http/tests/ResponsesTest.php
Labels: Improvement, Component: HTTP

#619 Updating CSRF code with PHP 8.1 features
  src/Csrf/src/Config/CsrfConfig.php
  src/Csrf/src/Middleware/CsrfFirewall.php
  src/Csrf/src/Middleware/CsrfMiddleware.php
  src/Csrf/src/Middleware/StrictCsrfFirewall.php
Labels: Improvement, Component: CSRF

#646 Updating Streams code with PHP 8.1 features
  src/Streams/src/Exception/WrapperException.php
  src/Streams/src/StreamWrapper.php
  src/Streams/src/StreamableInterface.php
Labels: Improvement, Component: Streams
