Repository spiral/framework, pull requests merged in 2022-06, with the labels that each got.

#703 Adding callbacks for App bootloaders
  src/Boot/src/AbstractKernel.php
  src/Boot/tests/Fixtures/TestCore.php
  src/Boot/tests/KernelTest.php
  src/Framework/Framework/Kernel.php
Labels: Improvement, Component: Boot

#708 Removing DiactorosBootloader, adding Nyholm bridge instead
  CHANGELOG.md
  composer.json
  src/AnnotatedRoutes/composer.json
  src/AnnotatedRoutes/tests/App/App.php
  src/AnnotatedRoutes/tests/IntegrationTest.php
  src/Http/composer.json
  src/Http/src/Bootloader/DiactorosBootloader.php
  tests/app/src/TestApp.php
Labels: Component: HTTP

#710 Fixes problem with finalizing monolog logger during application destruction.
  src/Bridge/Monolog/src/Bootloader/MonologBootloader.php
Labels: Bug, Bridge: Monolog

#707 Framework tests refactoring.
  composer.json
  src/Filters/tests/FilterProviderTest.php
  tests/Framework/BaseTest.php
  tests/Framework/Bootloader/Http/HttpBootloaderTest.php
  tests/Framework/Cache/CacheBootloaderTest.php
  tests/Framework/ConsoleTest.php
  tests/Framework/Controller/AuthorizesTest.php
  tests/Framework/Dispatcher/ConsoleDispatcherTest.php
  tests/Framework/Encrypter/KeyCommandTest.php
  tests/Framework/Framework/CleanTest.php
  tests/Framework/Framework/ExtensionsCommand.php
  tests/Framework/Framework/RouteListTest.php
  tests/Framework/Http/AuthSessionTest.php
  tests/Framework/Http/ControllerTest.php
  tests/Framework/Http/CookiesTest.php
  tests/Framework/Http/ErrorHandler/PlainRendererTest.php
  tests/Framework/Http/FilterTest.php
  tests/Framework/Http/PaginationTest.php
  tests/Framework/Http/RequestFactoryTest.php
  tests/Framework/Http/SessionTest.php
  tests/Framework/HttpTest.php
  tests/Framework/I18n/ExportTest.php
  tests/Framework/I18n/ResetTest.php
  tests/Framework/Interceptor/GuardedTest.php
  tests/Framework/Interceptor/PipelineInterceptorTest.php
  tests/Framework/KernelTest.php
  tests/Framework/Module/PublishTest.php
  tests/Framework/SnapshotTest.php
  tests/Framework/Storage/StorageBootloaderTest.php
  tests/Framework/Views/CompileTest.php
  tests/Framework/Views/LocaleTest.php
  tests/Framework/Views/RenderTest.php
  tests/Framework/ViewsTest.php
  tests/app/src/Controller/TestController.php
  tests/app/src/TestApp.php
Labels: Improvement

#714 Removing bin/spiral
  CHANGELOG.md
  bin/spiral
  composer.json
  monorepo-builder.php
Labels: Bug

#709 Router improvements
  src/AnnotatedRoutes/src/Annotation/Route.php
  src/AnnotatedRoutes/src/Bootloader/AnnotatedRoutesBootloader.php
  src/Broadcasting/src/Bootloader/WebsocketsBootloader.php
  src/Framework/Bootloader/Auth/HttpAuthBootloader.php
  src/Framework/Bootloader/Debug/HttpCollectorBootloader.php
  src/Framework/Bootloader/Http/CookiesBootloader.php
  src/Framework/Bootloader/Http/CsrfBootloader.php
  src/Framework/Bootloader/Http/ErrorHandlerBootloader.php
  src/Framework/Bootloader/Http/JsonPayloadsBootloader.php
  src/Framework/Bootloader/Http/RouterBootloader.php
  src/Framework/Bootloader/Http/RoutesBootloader.php
  src/Framework/Bootloader/Http/SessionBootloader.php
  src/Router/src/Exception/LoaderLoadException.php
  src/Router/src/GroupRegistry.php
  src/Router/src/Loader/Configurator/ImportConfigurator.php
  src/Router/src/Loader/Configurator/RouteConfigurator.php
  src/Router/src/Loader/Configurator/RoutingConfigurator.php
  src/Router/src/Loader/DelegatingLoader.php
  src/Router/src/Loader/LoaderInterface.php
  src/Router/src/Loader/LoaderRegistry.php
  src/Router/src/Loader/LoaderRegistryInterface.php
  src/Router/src/Loader/PhpFileLoader.php
  src/Router/src/Route.php
  src/Router/src/RouteCollection.php
  src/Router/src/RouteGroup.php
  src/Router/src/Router.php
  src/Router/src/RouterInterface.php
  src/Router/src/Traits/PipelineTrait.php
  src/Router/tests/BaseTest.php
  src/Router/tests/Fixtures/file.php
  src/Router/tests/Loader/Configurator/RoutingConfiguratorTest.php
  src/Router/tests/Loader/DelegatingLoaderTest.php
  src/Router/tests/Loader/LoaderRegistryTest.php
  src/Router/tests/Loader/PhpFileLoaderTest.php
  src/Router/tests/RegistryTest.php
  src/Router/tests/RoutesGroupTest.php
  src/Router/tests/Stub/TestLoader.php
  tests/Framework/Bootloader/Http/HttpBootloaderTest.php
  tests/Framework/Http/AuthSessionTest.php
  tests/Framework/Http/CookiesTest.php
  tests/Framework/Http/SessionTest.php
  tests/Framework/HttpTest.php
  tests/Framework/Router/Loader/Configurator/ImportConfiguratorTest.php
  tests/app/routes/api.php
  tests/app/src/Bootloader/AppBootloader.php
  tests/app/src/Bootloader/RoutesBootloader.php
  tests/app/src/TestApp.php
Labels: Rethink, Component: Router

#713 Adds ApplicationInProduction confirmation class for console commands
  src/Console/src/Command.php
  src/Console/src/ConfirmationDefinitionInterface.php
  src/Console/src/Console.php
  src/Framework/Command/Encrypter/KeyCommand.php
  src/Framework/Console/Confirmation/ApplicationInProduction.php
  tests/Framework/Console/Confirmation/ApplicationInProductionTest.php
Labels: Component: Console

#716 Adding LoggerReporter
  CHANGELOG.md
  src/Exceptions/composer.json
  src/Exceptions/src/Reporter/LoggerReporter.php
  src/Exceptions/tests/Reporter/LoggerReporterTest.php
  src/Framework/Bootloader/ExceptionHandlerBootloader.php
  src/Framework/Bootloader/SnapshotsBootloader.php
  src/Framework/Snapshots/FileSnapshooter.php
  src/Prototype/tests/Fixtures/TestApp.php
  tests/app/src/TestApp.php
Labels: Component: Exceptions

#712 Adding Serializer component with interface and simple implementation
  .github/workflows/split_monorepo.yml
  CHANGELOG.md
  composer.json
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/DefaultSerializer.php
  src/Queue/src/SerializerInterface.php
  src/Queue/src/SerializerRegistryInterface.php
  src/Queue/tests/DefaultSerializerTest.php
  src/Serializer/.gitattributes
  src/Serializer/.gitignore
  src/Serializer/LICENSE
  src/Serializer/README.md
  src/Serializer/composer.json
  src/Serializer/phpunit.xml
  src/Serializer/src/Bootloader/SerializerBootloader.php
  src/Serializer/src/Config/SerializerConfig.php
  src/Serializer/src/Exception/InvalidArgumentException.php
  src/Serializer/src/Exception/SerializeException.php
  src/Serializer/src/Exception/SerializerExceptionInterface.php
  src/Serializer/src/Exception/SerializerNotFoundException.php
  src/Serializer/src/Exception/UnserializeException.php
  src/Serializer/src/Serializer/CallbackSerializer.php
  src/Serializer/src/Serializer/JsonSerializer.php
  src/Serializer/src/Serializer/PhpSerializer.php
  src/Serializer/src/SerializerInterface.php
  src/Serializer/src/SerializerManager.php
  src/Serializer/src/SerializerRegistry.php
  src/Serializer/src/SerializerRegistryInterface.php
  src/Serializer/tests/Bootloader/SerializerBootloaderTest.php
  src/Serializer/tests/Fixture/SomeClass.php
  src/Serializer/tests/Fixture/SomeInterface.php
  src/Serializer/tests/Serializer/CallbackSerializerTest.php
  src/Serializer/tests/Serializer/JsonSerializerTest.php
  src/Serializer/tests/Serializer/PhpSerializerTest.php
  src/Serializer/tests/SerializerManagerTest.php
Labels: Feature

#717 Adding AuthTransportMiddleware
  src/AuthHttp/src/Middleware/AuthTransportMiddleware.php
  src/AuthHttp/tests/AuthTransportMiddlewareTest.php
Labels: Feature, Component: AuthHttp

#718 Removing Filter declatarion in Scaffolder
  src/Scaffolder/composer.json
  src/Scaffolder/src/Bootloader/ScaffolderBootloader.php
  src/Scaffolder/src/Command/FilterCommand.php
  src/Scaffolder/src/Declaration/FilterDeclaration.php
  src/Scaffolder/tests/App/config/console.php
  src/Scaffolder/tests/Command/FilterTest.php
  src/Scaffolder/tests/Command/Fixtures/SourceEntity.php
  src/Scaffolder/tests/EntityPHP74Test.php
Labels: Component: Scaffolder

#719 Added check before adding postfix in Scaffolder
  src/Scaffolder/src/Bootloader/ScaffolderBootloader.php
  src/Scaffolder/src/Command/CommandCommand.php
  src/Scaffolder/src/Config/ScaffolderConfig.php
  src/Scaffolder/tests/App/config/scaffolder.php
  src/Scaffolder/tests/Command/CommandTest.php
Labels: Component: Scaffolder

#720 Adds a new callback for Kernel class
  src/Boot/src/AbstractKernel.php
  src/Bridge/Dotenv/src/Bootloader/DotenvBootloader.php
  src/Bridge/Dotenv/tests/LoadTest.php
  tests/Framework/KernelTest.php
Labels: Improvement, Component: Boot

#721 Adding `methods` to the RouteConfigurator
  src/Router/src/Loader/Configurator/RouteConfigurator.php
  src/Router/src/Router.php
  src/Router/tests/Loader/Configurator/RouteConfiguratorTest.php
  tests/Framework/Http/AuthSessionTest.php
Labels: Bug, Feature

#722 Changing `$env->get('DEBUG')` to `$debugMode->isEnabled()`
  src/AnnotatedRoutes/src/Bootloader/AnnotatedRoutesBootloader.php
  src/Framework/Bootloader/I18nBootloader.php
  src/Http/src/Middleware/ErrorHandlerMiddleware/EnvSuppressErrors.php
  src/Views/src/Bootloader/ViewsBootloader.php
Labels: Improvement

#724 Loading env variables only in callback
  CHANGELOG.md
  src/Bridge/Dotenv/src/Bootloader/DotenvBootloader.php
  src/Bridge/Dotenv/tests/LoadTest.php
Labels: Bridge: Dotenv

#725 Fixes problem with replacing route middleware with group middleware when a route adds to a group.
  src/Router/src/RouteGroup.php
  src/Router/tests/RoutesGroupTest.php
  src/Router/tests/Stub/AnotherMiddleware.php
Labels: Bug, Component: Router

#726 Adding middlewares via Autowire
  src/Framework/Bootloader/Http/HttpBootloader.php
  src/Router/src/RouteGroup.php
  src/Router/src/Traits/PipelineTrait.php
  src/Router/tests/BaseTest.php
  src/Router/tests/RouteTest.php
  src/Router/tests/RoutesGroupTest.php
  tests/Framework/Bootloader/Http/HttpBootloaderTest.php
Labels: Component: HTTP, Component: Router

#727 Improves Spiral\Http\ErrorHandler\RendererInterface class.
  src/Http/src/ErrorHandler/PlainRenderer.php
  src/Http/src/ErrorHandler/RendererInterface.php
  src/Http/src/Middleware/ErrorHandlerMiddleware.php
  tests/Framework/Http/ErrorHandler/PlainRendererTest.php
Labels: Component: HTTP
