Repository spiral/framework, pull requests merged in 2022-01, with the labels that each got.

#486 Adding attributes, marking as deprecated Annotations package
  CHANGELOG.md
  composer.json
  src/AnnotatedRoutes/src/Annotation/Route.php
  src/AnnotatedRoutes/src/Bootloader/AnnotatedRoutesBootloader.php
  src/AnnotatedRoutes/src/RouteLocator.php
  src/Annotations/README.md
  src/Annotations/src/AnnotationLocator.php
  src/Bridge/DataGrid/src/Annotation/DataGrid.php
  src/Bridge/DataGrid/src/Interceptor/GridInterceptor.php
  src/Framework/Bootloader/Security/GuardBootloader.php
  src/Framework/Domain/Annotation/GuardNamespace.php
  src/Framework/Domain/Annotation/Guarded.php
  src/Framework/Domain/Annotation/Pipeline.php
  src/Framework/Domain/GuardPermissionsProvider.php
  src/Framework/Domain/PipelineInterceptor.php
  src/Prototype/src/Annotation/Prototyped.php
  src/Prototype/src/Bootloader/PrototypeBootloader.php
Labels: Component: AnnotatedRoutes, Component: Annotations

#491 Support for spiral/roadrunner-bridge package
  CHANGELOG.md
  composer.json
  monorepo-builder.php
  src/Cache/.gitattributes
  src/Cache/.gitignore
  src/Cache/LICENSE
  src/Cache/README.md
  src/Cache/composer.json
  src/Cache/phpunit.xml
  src/Cache/src/CacheManager.php
  src/Cache/src/CacheStorageProviderInterface.php
  src/Cache/src/Config/CacheConfig.php
  src/Cache/src/Exception/CacheException.php
  src/Cache/src/Exception/InvalidArgumentException.php
  src/Cache/src/Exception/StorageException.php
  src/Cache/src/Storage/ArrayStorage.php
  src/Cache/src/Storage/FileStorage.php
  src/Cache/src/Storage/InteractsWithTime.php
  src/Cache/tests/CacheManagerTest.php
  src/Cache/tests/Config/CacheConfigTest.php
  src/Cache/tests/Storage/ArrayStorageTest.php
  src/Cache/tests/Storage/FileStorageTest.php
  src/Framework/Bootloader/Cache/CacheBootloader.php
  src/Framework/Http/RrDispatcher.php
  src/Queue/.gitattributes
  src/Queue/.gitignore
  src/Queue/LICENSE
  src/Queue/README.md
  src/Queue/composer.json
  src/Queue/phpunit.xml
  src/Queue/src/Exception/JobException.php
  src/Queue/src/HandlerInterface.php
  src/Queue/src/HandlerRegistryInterface.php
  src/Queue/src/JobHandler.php
  src/Queue/src/Options.php
  src/Queue/src/OptionsInterface.php
  src/Queue/src/QueueInterface.php
  src/Queue/src/SerializerInterface.php
  src/Queue/src/SerializerRegistryInterface.php
  src/Queue/tests/TestCase.php
  tests/Framework/Cache/CacheBootloaderTest.php
  tests/app/config/cache.php
  tests/app/src/TestApp.php
Labels: Feature

#493 Fixes some CS from #411 pr
  psalm.xml
  src/Models/src/SchematicEntity.php
  src/Streams/src/StreamWrapper.php
  src/Translator/src/Catalogue.php
  src/Translator/src/CatalogueInterface.php
Labels: Improvement

#495 Allows using custom loaders in ViewManager
  CHANGELOG.md
  src/Framework/Bootloader/Views/ViewsBootloader.php
  src/Views/src/ViewLoader.php
  src/Views/src/ViewManager.php
  src/Views/tests/ManagerTest.php
Labels: Bug, Feature, Improvement, Component: Views

#496 Adds bootloader registration step.
  src/Boot/src/AbstractKernel.php
  src/Boot/src/BootloadManager.php
  src/Boot/tests/BootloadersTest.php
  src/Boot/tests/Fixtures/ConfigBootloader.php
  src/Boot/tests/Fixtures/SampleBootWithRegister.php
  src/Boot/tests/KernelTest.php
Labels: Feature, Improvement, Component: Core

#502 Fix/bootloaders
  composer.json
  resources/.phpstorm.meta.php
  src/AnnotatedRoutes/src/Bootloader/AnnotatedRoutesBootloader.php
  src/Boot/src/BootloadManager.php
  src/Boot/src/Bootloader/Bootloader.php
  src/Boot/src/Bootloader/BootloaderInterface.php
  src/Boot/src/Bootloader/DependedInterface.php
  src/Boot/src/Exception/ClassNotFoundException.php
  src/Boot/tests/BootloadersTest.php
  src/Cache/src/Bootloader/CacheBootloader.php
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Framework/Bootloader/Auth/TokenStorage/CycleTokensBootloader.php
  src/Framework/Bootloader/CommandBootloader.php
  src/Framework/Bootloader/Cycle/AnnotatedBootloader.php
  src/Framework/Bootloader/Cycle/CycleBootloader.php
  src/Framework/Bootloader/Cycle/ProxiesBootloader.php
  src/Framework/Bootloader/Cycle/SchemaBootloader.php
  src/Framework/Bootloader/Database/DatabaseBootloader.php
  src/Framework/Bootloader/Database/DisconnectsBootloader.php
  src/Framework/Bootloader/Database/MigrationsBootloader.php
  src/Framework/Bootloader/GRPC/GRPCBootloader.php
  src/Framework/Bootloader/Jobs/JobsBootloader.php
  src/Framework/Bootloader/Security/ValidationBootloader.php
  src/Framework/Bootloader/Server/LegacyRoadRunnerBootloader.php
  src/Framework/Bootloader/Server/RoadRunnerBootloader.php
  src/Framework/Bootloader/ServerBootloader.php
  src/Framework/Framework/Kernel.php
  src/Framework/polyfill.php
  src/Prototype/src/Bootloader/PrototypeBootloader.php
  src/Scaffolder/src/Bootloader/ScaffolderBootloader.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  tests/app/src/TestApp.php
Labels: Component: Boot

#500 Fixes problem with bootstrapping dependent bootloaders
  src/Boot/src/AbstractKernel.php
  src/Boot/src/BootloadManager.php
  src/Boot/tests/BootloadersTest.php
  src/Boot/tests/Fixtures/ConfigBootloader.php
  src/Boot/tests/Fixtures/SampleBootWithStarted.php
  src/Boot/tests/KernelTest.php
Labels: Component: Boot
