Repository spiral/framework, pull requests merged in 2022-10, with the labels that each got.

#808 Adding context in the Queue
  CHANGELOG.md
  src/Queue/src/Event/JobProcessed.php
  src/Queue/src/Event/JobProcessing.php
  src/Queue/src/Interceptor/Consume/Core.php
  src/Queue/src/Interceptor/Consume/Handler.php
  src/Queue/src/Job/CallableJob.php
  src/Queue/src/Job/ObjectJob.php
  src/Queue/src/JobHandler.php
  src/Queue/tests/Driver/SyncDriverTest.php
  src/Queue/tests/Interceptor/Consume/CoreTest.php
  src/Queue/tests/Interceptor/Consume/HandlerTest.php
Labels: Feature, Improvement, Component: Queue

#807 Maintenance: replace `positive-int|0` with `int<0, max>`
  src/Storage/src/Bucket/ReadableInterface.php
  src/Storage/src/Bucket/ReadableTrait.php
  src/Storage/src/File/ReadableInterface.php
  src/Storage/src/File/ReadableTrait.php
  src/Storage/src/Storage/ReadableInterface.php
  src/Storage/src/Storage/ReadableTrait.php
Labels: Improvement

#811 Fixed RR mode checking in the ConsoleDispatcher
  src/Framework/Console/ConsoleDispatcher.php
  tests/Framework/Dispatcher/ConsoleDispatcherTest.php
Labels: Bug, Component: Console

#815 Fixing RR mode checking
  src/Framework/Console/ConsoleDispatcher.php
  tests/Framework/Dispatcher/ConsoleDispatcherTest.php
Labels: Bug

#819 Fixing RR mode checking
  src/Framework/Console/ConsoleDispatcher.php
  tests/Framework/Dispatcher/ConsoleDispatcherTest.php
Labels: Bug

#818 Renaming context to headers in the Queue
  CHANGELOG.md
  src/Queue/src/Event/JobProcessed.php
  src/Queue/src/Event/JobProcessing.php
  src/Queue/src/Interceptor/Consume/Core.php
  src/Queue/src/Interceptor/Consume/Handler.php
  src/Queue/src/Job/CallableJob.php
  src/Queue/src/Job/ObjectJob.php
  src/Queue/src/JobHandler.php
  src/Queue/tests/Driver/SyncDriverTest.php
  src/Queue/tests/Interceptor/Consume/CoreTest.php
  src/Queue/tests/Interceptor/Consume/HandlerTest.php
Labels: Component: Queue

#813 CoreHandler do not mention internal errors in ClientException
  src/Router/src/CoreHandler.php
Labels: Bug, Improvement, Component: Router

#814 Adding new options in the Queue
  CHANGELOG.md
  src/Queue/src/ExtendedOptionsInterface.php
  src/Queue/src/Options.php
  src/Queue/tests/OptionsTest.php
Labels: Feature, Component: Queue

#821 Adding container to scope callback
  CHANGELOG.md
  src/Core/src/Container.php
  src/Core/src/ContainerScope.php
  src/Core/tests/ScopesTest.php
Labels: Feature, Component: Core

#817 Improving ContainerException message
  composer.json
  src/Console/composer.json
  src/Core/src/Config.php
  src/Core/src/Exception/Resolver/InvalidArgumentException.php
  src/Core/src/Exception/Traits/ClosureRendererTrait.php
  src/Core/src/Internal/Factory.php
  src/Core/src/Internal/Trace.php
  src/Core/src/Internal/Tracer.php
  src/Core/tests/AutowireTest.php
  src/Core/tests/ExceptionsTest.php
  src/Core/tests/Fixtures/ClassWithUndefinedDependency.php
  src/Core/tests/Fixtures/InvalidWithContainerInside.php
  src/Core/tests/Fixtures/WithContainerInside.php
  src/Core/tests/Fixtures/WithPrivateConstructor.php
  src/Core/tests/InjectableTest.php
  src/Core/tests/Internal/Factory/CommonCasesTest.php
  src/Core/tests/Internal/Resolver/CommonCasesTest.php
  src/Prototype/tests/Commands/InjectCommandTest.php
  src/Prototype/tests/Commands/ListCommandTest.php
Labels: Feature, Component: Core

#823 Fixes problem with using push interceptors in Queue component
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/Core/QueueInjector.php
  src/Queue/src/QueueManager.php
  src/Queue/tests/Core/QueueInjectorTest.php
  src/Queue/tests/QueueManagerTest.php
  tests/Framework/Bootloader/Queue/QueueBootloaderTest.php
Labels: Bug, Component: Queue

#825 Changing where Tokenizer listener events are called
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
Labels: Rethink, Component: Tokenizer

#827 Adding RedirectFirewall
  src/AuthHttp/src/Middleware/Firewall/RedirectFirewall.php
  src/AuthHttp/tests/FirewallTest.php
  src/AuthHttp/tests/Middleware/AuthMiddlewareTest.php
  src/AuthHttp/tests/Middleware/AuthTransportMiddlewareTest.php
  src/AuthHttp/tests/Middleware/Firewall/BaseFirewallTest.php
  src/AuthHttp/tests/Middleware/Firewall/ExceptionFirewallTest.php
  src/AuthHttp/tests/Middleware/Firewall/OverwriteFirewallTest.php
  src/AuthHttp/tests/Middleware/Firewall/RedirectFirewallTest.php
Labels: Feature, Component: AuthHttp
