Repository spiral/framework, pull requests merged in 2022-07, with the labels that each got.

#734 Adds ability to check if class or interface has registered injector
  src/Core/src/BinderInterface.php
  src/Core/src/Container.php
  src/Core/src/Internal/Binder.php
  src/Core/src/Internal/Factory.php
  src/Core/tests/Fixtures/InjectableClassInterface.php
  src/Core/tests/Fixtures/InjectableClassRealization.php
  src/Core/tests/InjectableTest.php
  src/Distribution/src/Bootloader/DistributionBootloader.php
  src/Distribution/src/Config/DistributionConfig.php
  src/Framework/Bootloader/Http/RouterBootloader.php
  src/Framework/Bootloader/Security/FiltersBootloader.php
  src/Storage/src/Bootloader/StorageBootloader.php
  src/Storage/src/Config/StorageConfig.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  tests/Framework/Bootloader/Cache/CacheBootloaderTest.php
  tests/Framework/Bootloader/Distribution/DistributionBootloaderTest.php
  tests/Framework/Bootloader/Router/RouterBootloaderTest.php
  tests/Framework/Bootloader/Security/FiltersBootloaderTest.php
  tests/Framework/Bootloader/Storage/StorageBootloaderTest.php
  tests/Framework/Bootloader/Tokenizer/TokenizerBootloaderTest.php
  tests/Framework/Cache/CacheBootloaderTest.php
  tests/app/src/TestApp.php
Labels: Feature, Component: Core

#735 Adds tests for bootloaders
  src/Boot/src/Bootloader/CoreBootloader.php
  src/Boot/src/Environment.php
  src/Framework/Bootloader/Auth/AuthBootloader.php
  src/Framework/Bootloader/Http/CookiesBootloader.php
  src/Framework/Bootloader/Http/ErrorHandlerBootloader.php
  src/Framework/Bootloader/Http/SessionBootloader.php
  src/Framework/Bootloader/I18nBootloader.php
  src/Framework/Bootloader/Security/GuardBootloader.php
  src/Framework/Debug/StateCollector/HttpCollector.php
  src/Prototype/src/Bootloader/PrototypeBootloader.php
  src/Scaffolder/src/Bootloader/ScaffolderBootloader.php
  src/SendIt/src/Bootloader/MailerBootloader.php
  src/Serializer/src/Bootloader/SerializerBootloader.php
  src/Views/src/Bootloader/ViewsBootloader.php
  tests/Framework/Bootloader/Auth/AuthBootloaderTest.php
  tests/Framework/Bootloader/Boot/ConfigurationBootloaderTest.php
  tests/Framework/Bootloader/Boot/CoreBootloaderTest.php
  tests/Framework/Bootloader/Broadcasting/BroadcastingBootloaderTest.php
  tests/Framework/Bootloader/Broadcasting/WebsocketsBootloaderTest.php
  tests/Framework/Bootloader/Debug/DebugBootloaderTest.php
  tests/Framework/Bootloader/Exceptions/SnapshotsBootloaderTest.php
  tests/Framework/Bootloader/Http/CookiesBootloaderTest.php
  tests/Framework/Bootloader/Http/JsonPayloadsBootloaderTest.php
  tests/Framework/Bootloader/Http/PaginationBootloaderTest.php
  tests/Framework/Bootloader/Http/SessionBootloaderTest.php
  tests/Framework/Bootloader/Scaffolder/ScaffolderBootloaderTest.php
  tests/Framework/Bootloader/Security/EncrypterBootloaderTest.php
  tests/Framework/Bootloader/Security/GuardBootloaderTest.php
  tests/Framework/Bootloader/SendIt/MailerBootloaderTest.php
  tests/Framework/Bootloader/Serializer/SerializerBootloaderTest.php
  tests/Framework/Bootloader/Translation/I18nBootloaderTest.php
  tests/Framework/Bootloader/Validation/ValidationBootloaderTest.php
  tests/Framework/Bootloader/Views/ViewsBootloaderTest.php
  tests/app/config/broadcasting.php
  tests/app/src/TestApp.php
Labels: Bug, Improvement

#732 Console command refactoring
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Console/src/Command.php
  src/Console/src/CommandCore.php
  src/Console/src/Config/ConsoleConfig.php
  src/Console/src/Console.php
  src/Console/src/StaticLocator.php
  src/Console/src/Traits/HelpersTrait.php
  src/Console/src/Traits/LazyTrait.php
  src/Console/tests/BaseTest.php
  src/Console/tests/ConfigTest.php
  src/Console/tests/ConfigureTest.php
  src/Console/tests/CoreTest.php
  src/Console/tests/Fixtures/AbstractCommand.php
  src/Console/tests/Fixtures/AnotherFailedCommand.php
  src/Console/tests/Fixtures/FailedCommand.php
  src/Console/tests/Fixtures/HelperCommand.php
  src/Console/tests/Fixtures/LazyLoadedCommand.php
  src/Console/tests/Fixtures/OptionalCommand.php
  src/Console/tests/Fixtures/TestCommand.php
  src/Console/tests/Fixtures/User/UserCommand.php
  src/Console/tests/HelpersTest.php
  src/Console/tests/InterceptorTest.php
  src/Console/tests/LazyTest.php
  src/Console/tests/OptionsTest.php
  src/Console/tests/ScopeTest.php
  src/Console/tests/ShortException.php
  src/Console/tests/SignatureTest.php
  src/Console/tests/UpdateTest.php
  src/Framework/Console/CommandLocator.php
  tests/Framework/Bootloader/Console/ConsoleBootloaderTest.php
  tests/Framework/Bootloader/Http/HttpBootloaderTest.php
  tests/Framework/Console/Confirmation/ApplicationInProductionTest.php
Labels: Feature, Rework, Improvement, Component: Console

#745 Adding key to console sequences
  psalm.xml
  src/Broadcasting/src/Bootloader/BroadcastingBootloader.php
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Console/tests/Bootloader/ConsoleBootloaderTest.php
Labels: Bug

#742 Adds global variables for views
  src/Views/src/Bootloader/ViewsBootloader.php
  src/Views/src/Config/ViewsConfig.php
  src/Views/src/GlobalVariables.php
  src/Views/src/GlobalVariablesInterface.php
  src/Views/src/ViewManager.php
  src/Views/tests/GlobalVariablesTest.php
  src/Views/tests/ManagerTest.php
  tests/Framework/Bootloader/Views/ViewsBootloaderTest.php
  tests/Framework/Views/RenderTest.php
  tests/app/config/test.php
  tests/app/config/views.php
  tests/app/views/stempler/globalVariables.dark.php
  tests/app/views/stempler/layout/base.dark.php
  tests/app/views/stempler/partial/block.dark.php
Labels: Bridge: Stempler, Component: Views

#748 Adding key to console sequences
  src/Console/src/Bootloader/ConsoleBootloader.php
  tests/Framework/Bootloader/Console/ConsoleBootloaderTest.php
Labels: Bug, Component: Console
