Repository spiral/framework, pull requests merged in 2022-08, with the labels that each got.

#750 Fixes problem with passing value via `withValue` method
  src/DataGrid/src/Specification/Filter/Postgres/ILike.php
  src/DataGrid/tests/Specification/Filter/Postgres/ILikeTest.php
Labels: Bug, Component: DataGrid

#749 Adding the ability to configure serializers for different types of jobs
  CHANGELOG.md
  src/Queue/composer.json
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/Config/QueueConfig.php
  src/Queue/src/QueueRegistry.php
  src/Queue/src/SerializerRegistryInterface.php
  src/Queue/tests/Config/QueueConfigTest.php
  src/Queue/tests/QueueRegistryTest.php
  src/Serializer/src/SerializerRegistry.php
  src/Serializer/tests/SerializerRegistryTest.php
Labels: Feature, Component: Queue

#739 Adds queue interceptors for consumers
  CHANGELOG.md
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/Config/QueueConfig.php
  src/Queue/src/Driver/SyncDriver.php
  src/Queue/src/Exception/FailException.php
  src/Queue/src/Exception/RetryException.php
  src/Queue/src/Exception/StateException.php
  src/Queue/src/Interceptor/Consume/Core.php
  src/Queue/src/Interceptor/Consume/ErrorHandlerInterceptor.php
  src/Queue/src/Interceptor/Consume/Handler.php
  src/Queue/src/Interceptor/Push/Core.php
  src/Queue/src/Options.php
  src/Queue/src/Queue.php
  src/Queue/tests/Config/QueueConfigTest.php
  src/Queue/tests/Driver/SyncDriverTest.php
  src/Queue/tests/Interceptor/Consume/CoreTest.php
  src/Queue/tests/Interceptor/Consume/ErrorHandlerInterceptorTest.php
  src/Queue/tests/Interceptor/Consume/HandlerTest.php
  src/Queue/tests/Interceptor/Push/CoreTest.php
  src/Queue/tests/QueueManagerTest.php
  src/Queue/tests/QueueTest.php
  tests/Framework/Bootloader/Queue/QueueBootloaderTest.php
  tests/app/src/TestApp.php
Labels: Feature, Component: Queue

#754 Adding nullable to Buffer offset and adding types in Token
  src/Stempler/src/Lexer/Buffer.php
Labels: Bug

#755 Adding nullable to Buffer offset
  src/Stempler/src/Lexer/Buffer.php
Labels: Bug, Component: Stempler

#760 Fixing NestedFilter creation
  src/Filters/src/Model/Schema/AttributeMapper.php
  src/Filters/tests/Fixtures/AddressFilter.php
  src/Filters/tests/Fixtures/SomeFilter.php
  src/Filters/tests/Model/FilterProviderTest.php
  src/Filters/tests/Model/Schema/AttributeMapperTest.php
Labels: Bug

#753 Adding SerializerRegistry and ability to define job serializers
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/Config/QueueConfig.php
  src/Queue/src/DefaultSerializer.php
  src/Queue/src/PhpSerializer.php
  src/Queue/src/SerializerRegistry.php
  src/Queue/tests/Config/QueueConfigTest.php
  src/Queue/tests/PhpSerializerTest.php
  src/Queue/tests/SerializerRegistryTest.php
  tests/Framework/Bootloader/Queue/QueueBootloaderTest.php
  tests/app/src/TestApp.php
Labels: Improvement, Component: Queue

#762 Adds ext-tokenizer to composer requirements for spiral/tokenizer component
  composer.json
  src/Tokenizer/composer.json
Labels: Improvement, Component: Tokenizer

#738 Prevent double CI run on local branches
  .github/workflows/main.yml
Labels: Improvement

#766 Preventing bootload abstract bootloaders
  src/Boot/src/BootloadManager/Initializer.php
  src/Boot/tests/BootloadManager/InitializerTest.php
  src/Boot/tests/Fixtures/AbstractBootloader.php
  src/Boot/tests/Fixtures/BootloaderD.php
Labels: Bug
