Repository spiral/framework, pull requests merged in 2023-05, with the labels that each got.

#939 Update README.md
  README.md
Labels: Usability

#936 Add container scope interface
  src/Core/src/Container.php
  src/Core/src/ContainerScopeInterface.php
  src/Core/src/Internal/Factory/Ctx.php
  src/Core/tests/Scope/ExceptionsTest.php
  src/Core/tests/Scope/FibersTest.php
  src/Core/tests/Scope/FinalizeAttributeTest.php
  src/Core/tests/Scope/ScopeAttributeTest.php
  src/Core/tests/Scope/SideEffectTest.php
  src/Core/tests/Scope/UseCaseTest.php
Labels: Improvement, Component: Core

#941 [spiral/core] Refactoring and Optimization of Spiral/Core Component - Improved Performance and Enhanced Container Functionality
  src/Core/src/Attribute/Finalize.php
  src/Core/src/Attribute/Plugin.php
  src/Core/src/Attribute/Scope.php
  src/Core/src/Attribute/Singleton.php
  src/Core/src/Config/Alias.php
  src/Core/src/Config/Autowire.php
  src/Core/src/Config/Binding.php
  src/Core/src/Config/DeferredFactory.php
  src/Core/src/Config/Factory.php
  src/Core/src/Config/Inflector.php
  src/Core/src/Config/Injectable.php
  src/Core/src/Config/Scalar.php
  src/Core/src/Config/Shared.php
  src/Core/src/Config/WeakReference.php
  src/Core/src/Container.php
  src/Core/src/Container/InjectorInterface.php
  src/Core/src/ContainerScopeInterface.php
  src/Core/src/Exception/Traits/ClosureRendererTrait.php
  src/Core/src/Internal/Binder.php
  src/Core/src/Internal/Config/StateBinder.php
  src/Core/src/Internal/Factory.php
  src/Core/src/Internal/Resolver.php
  src/Core/src/Internal/State.php
  src/Core/src/Internal/Tracer/Trace.php
  src/Core/src/InvokerInterface.php
  src/Core/tests/BindingsTest.php
  src/Core/tests/ExceptionsTest.php
  src/Core/tests/InjectableTest.php
  src/Core/tests/Internal/Factory/InflectorTest.php
  src/Core/tests/Scope/Stub/LoggerInjector.php
  src/Core/tests/Scope/UseCaseTest.php
  src/Core/tests/ScopesTest.php
  src/Core/tests/Stub/LightEngine.php
Labels: Rework, Rethink, Component: Core

#917 [spiral/prototype] Prototype injector with PHP 8.1
  composer.json
  src/Prototype/composer.json
  src/Prototype/src/Command/InjectCommand.php
  src/Prototype/src/Injector.php
  src/Prototype/src/NodeVisitors/AddProperty.php
  src/Prototype/src/NodeVisitors/LocateProperties.php
  src/Prototype/src/NodeVisitors/UpdateConstructor.php
  src/Prototype/tests/BackwardCompatibilityTrait.php
  src/Prototype/tests/ClassNode/ConflictResolver/ConflictResolverTest.php
  src/Prototype/tests/Fixtures/AbstractPromotedProperty.php
  src/Prototype/tests/Fixtures/WithPromotedProperty.php
  src/Prototype/tests/InjectorTest.php
Labels: Bug, Feature, Component: Prototype
