Repository spiral/framework, pull requests merged in 2023-07, with the labels that each got.

#944 Support psr/http-message v2
  composer.json
  psalm.xml
  src/AuthHttp/composer.json
  src/Broadcasting/composer.json
  src/Core/psalm.xml
  src/Distribution/composer.json
  src/Filters/composer.json
  src/Http/composer.json
  src/Router/tests/PipelineFactoryTest.php
  src/Streams/composer.json
Labels: Improvement, Component: HTTP

#945 Introducing Instructions Feature in Spiral Framework's Scaffold Generator
  src/Scaffolder/src/Command/AbstractCommand.php
  src/Scaffolder/src/Declaration/BootloaderDeclaration.php
  src/Scaffolder/src/Declaration/CommandDeclaration.php
  src/Scaffolder/src/Declaration/ConfigDeclaration.php
  src/Scaffolder/src/Declaration/ControllerDeclaration.php
  src/Scaffolder/src/Declaration/FilterDeclaration.php
  src/Scaffolder/src/Declaration/HasInstructions.php
  src/Scaffolder/src/Declaration/JobHandlerDeclaration.php
  src/Scaffolder/src/Declaration/MiddlewareDeclaration.php
  src/Scaffolder/tests/Command/BootloaderTest.php
  src/Scaffolder/tests/Command/CommandTest.php
  src/Scaffolder/tests/Command/ConfigTest.php
  src/Scaffolder/tests/Command/ControllerTest.php
  src/Scaffolder/tests/Command/FilterCommandTest.php
  src/Scaffolder/tests/Command/JobHandlerTest.php
  src/Scaffolder/tests/Command/MiddlewareTest.php
Labels: Feature, Component: Scaffolder

#952 Fixing Psalm issues
  src/Cache/src/Bootloader/CacheBootloader.php
  src/Console/src/InputProxy.php
  src/Core/src/Container.php
  src/Events/tests/Stub/PlainListenerRegistry.php
  src/Framework/Bootloader/Security/FiltersBootloader.php
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/Interceptor/Push/Core.php
  src/Router/src/UriHandler.php
  src/Scaffolder/src/Declaration/ConfigDeclaration.php
  src/Scaffolder/src/Declaration/HasInstructions.php
  src/Tokenizer/src/AbstractLocator.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
  src/Tokenizer/src/EnumLocator.php
Labels: Improvement

#953 Fixing Scaffolder config test
  composer.json
  src/Scaffolder/tests/Command/ConfigTest.php
  src/Tokenizer/tests/ClassLocatorTest.php
  src/Tokenizer/tests/ConfigTest.php
  src/Tokenizer/tests/EnumLocatorTest.php
  src/Tokenizer/tests/InjectionsTest.php
  src/Tokenizer/tests/InterfaceLocatorTest.php
  src/Tokenizer/tests/InvocationsTest.php
  src/Tokenizer/tests/ReflectionFileTest.php
  src/Tokenizer/tests/ScopedClassLocatorTest.php
  src/Tokenizer/tests/ScopedEnumLocatorTest.php
  src/Tokenizer/tests/ScopedInterfaceLocatorTest.php
Labels: Improvement

#954 [spiral/auth-http] Setting default transport in AuthTransportMiddleware
  src/AuthHttp/src/Middleware/AuthTransportMiddleware.php
  src/AuthHttp/tests/Middleware/AuthTransportMiddlewareTest.php
Labels: Bug, Component: AuthHttp
