Repository spiral/framework, pull requests merged in 2023-08, with the labels that each got.

#956 [spiral/tokenizer] Fixed adding directory via bootloader
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
  src/Tokenizer/tests/Bootloader/TokenizerListenerBootloaderTest.php
  src/Tokenizer/tests/Fixtures/Bootloader/DirectoryBootloader.php
  src/Tokenizer/tests/Fixtures/TestCore.php
  src/Tokenizer/tests/Fixtures/TestCoreWithTokenizer.php
  src/Tokenizer/tests/Listener/ListenerInvokerTest.php
Labels: Bug, Component: Tokenizer

#955 [spiral/core] Throw an exception on rebinding of a resolved (cached) singleton
  src/Core/src/Exception/Binder/SingletonOverloadException.php
  src/Core/src/Internal/Config/StateBinder.php
  src/Core/src/Internal/Resolver.php
  src/Core/tests/Internal/Config/StateBinderTest.php
  src/Core/tests/Internal/Factory/CommonCasesTest.php
  src/Framework/Command/Router/ListCommand.php
  src/Prototype/src/Bootloader/PrototypeBootloader.php
  src/Prototype/tests/Fixtures/TestApp.php
  src/SendIt/tests/App/MailInterceptor.php
  tests/Framework/Bootloader/Prototype/PrototypeBootloaderTest.php
Labels: Improvement, Component: Core

#961 [spiral/filters] Filters improvements
  src/Filters/composer.json
  src/Filters/src/Attribute/Setter.php
  src/Filters/src/Exception/SetterException.php
  src/Filters/src/Model/FilterProvider.php
  src/Filters/src/Model/Interceptor/ValidateFilterInterceptor.php
  src/Filters/src/Model/Mapper/CasterInterface.php
  src/Filters/src/Model/Mapper/CasterRegistry.php
  src/Filters/src/Model/Mapper/CasterRegistryInterface.php
  src/Filters/src/Model/Mapper/DefaultCaster.php
  src/Filters/src/Model/Mapper/EnumCaster.php
  src/Filters/src/Model/Mapper/Mapper.php
  src/Filters/src/Model/Mapper/UuidCaster.php
  src/Filters/src/Model/Schema/AttributeMapper.php
  src/Filters/src/Model/Schema/InputMapper.php
  src/Filters/tests/Fixtures/Status.php
  src/Filters/tests/Fixtures/UserFilter.php
  src/Filters/tests/Mapper/CasterRegistryTest.php
  src/Filters/tests/Mapper/DefaultCasterTest.php
  src/Filters/tests/Mapper/EnumCasterTest.php
  src/Filters/tests/Mapper/UuidCasterTest.php
  src/Filters/tests/Model/FilterProviderTest.php
  src/Filters/tests/Model/Schema/AttributeMapperTest.php
  src/Framework/Bootloader/Security/FiltersBootloader.php
  tests/Framework/Filter/Model/FilterWithSettersTest.php
  tests/Framework/Filter/Model/NestedFilterTest.php
  tests/app/src/Attribute/ExtendedSetter.php
  tests/app/src/Request/FilterWithSetters.php
  tests/app/src/Request/UserFilter.php
  tests/app/src/Request/WithNullableNestedFilter.php
  tests/app/src/Request/WithNullableRequiredNestedFilter.php
Labels: Bug, Feature, Rethink, Component: Filters

#963 Changes behavior for loading system bootloaders.
  composer.json
  src/Boot/src/AbstractKernel.php
  src/Framework/Bootloader/Attributes/AttributesBootloader.php
  src/Framework/Command/Tokenizer/InfoCommand.php
  src/Queue/tests/Driver/SyncDriverTest.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
  src/Tokenizer/src/Config/TokenizerConfig.php
  src/Tokenizer/tests/Bootloader/TokenizerBootloaderTest.php
  src/Tokenizer/tests/Bootloader/TokenizerListenerBootloaderTest.php
  tests/Framework/BaseTestCase.php
  tests/Framework/Bootloader/Attributes/AttributesWithoutAnnotationsBootloaderTest.php
  tests/Framework/Bootloader/Tokenizer/TokenizerBootloaderTest.php
  tests/Framework/Dispatcher/ConsoleDispatcherTest.php
  tests/Framework/Http/ControllerTest.php
  tests/Framework/Tokenizer/Config/ConfigTest.php
  tests/app/src/Command/DeadCommand.php
  tests/app/src/Controller/TestController.php
  tests/app/src/TestApp.php
Labels: Improvement, Component: Boot, Component: Tokenizer

#964 Added checking in filter casters, that value have required type
  src/Core/src/Internal/Container.php
  src/Core/tests/SingletonsTest.php
  src/Filters/src/Model/Mapper/EnumCaster.php
  src/Filters/src/Model/Mapper/UuidCaster.php
  src/Filters/tests/Fixtures/UserFilter.php
  src/Filters/tests/Model/FilterProviderTest.php
Labels: Bug

#970 Fixes Event Dispatcher rebinding
  src/Events/src/Bootloader/EventsBootloader.php
  tests/Framework/Bootloader/Events/EventsBootloaderTest.php
Labels: Bug, Component: Events

#967 Fixes incorrect Concatenation of Route Pattern with Prefix in Route Group
  src/Router/src/UriHandler.php
  src/Router/tests/RouteGroupTest.php
Labels: Bug, Component: Router

#972 Fixes loading ENV variables from dotenv in Kernel System section
  src/Bridge/Dotenv/src/Bootloader/DotenvBootloader.php
Labels: Bug, Bridge: Dotenv

#973 Adding `force` parameter to the `bindSingleton` method
  src/Core/src/Container.php
Labels: Component: Core

#975 Checking `singletons` in the hasInstance method
  src/Core/src/Internal/Config/StateBinder.php
  src/Core/tests/Internal/Config/StateBinderTest.php
Labels: Bug, Component: Core
