Repository spiral/framework, pull requests merged in 2023-02, with the labels that each got.

#869 Adding the ability to configure a prefix in the storage alias
  CHANGELOG.md
  src/Cache/src/CacheManager.php
  src/Cache/src/CacheRepository.php
  src/Cache/tests/CacheManagerTest.php
  src/Cache/tests/CacheRepositoryTest.php
Labels: Feature, Component: Cache

#868 Fixes problem with validation nested filters
  composer.json
  src/Filters/src/Model/Interceptor/ValidateFilterInterceptor.php
  src/Filters/src/Model/Schema/AttributeMapper.php
  src/Filters/tests/Model/Schema/AttributeMapperTest.php
  tests/Framework/BaseTest.php
  tests/Framework/Bootloader/Tokenizer/TokenizerBootloaderTest.php
  tests/Framework/Bootloader/Validation/ValidationBootloaderTest.php
  tests/Framework/Filter/FilterTestCase.php
  tests/Framework/Filter/Model/NestedArrayFiltersTest.php
  tests/Framework/Filter/Model/NestedFilterTest.php
  tests/app/src/Request/AddressFilter.php
  tests/app/src/Request/MultipleAddressesFilter.php
  tests/app/src/Request/ProfileFilter.php
  tests/app/src/Request/ProfileFilterWithPrefix.php
  tests/app/src/TestApp.php
Labels: Bug, Component: Filters

#870 Container with isolated memory scopes
  src/Cookies/tests/CookiesTest.php
  src/Core/psalm.xml
  src/Core/src/Attribute/Finalize.php
  src/Core/src/Attribute/Scope.php
  src/Core/src/Attribute/Singleton.php
  src/Core/src/BinderInterface.php
  src/Core/src/Config.php
  src/Core/src/Container.php
  src/Core/src/ContainerScope.php
  src/Core/src/Exception/Scope/BadScopeException.php
  src/Core/src/Exception/Scope/FinalizersException.php
  src/Core/src/Exception/Scope/NamedScopeDuplicationException.php
  src/Core/src/Exception/Scope/ScopeContainerLeakedException.php
  src/Core/src/Exception/Scope/ScopeException.php
  src/Core/src/Internal/Binder.php
  src/Core/src/Internal/Common/DestructorTrait.php
  src/Core/src/Internal/Common/Registry.php
  src/Core/src/Internal/Config/StateBinder.php
  src/Core/src/Internal/Config/StateStorage.php
  src/Core/src/Internal/Container.php
  src/Core/src/Internal/Factory.php
  src/Core/src/Internal/Factory/Ctx.php
  src/Core/src/Internal/Invoker.php
  src/Core/src/Internal/Resolver.php
  src/Core/src/Internal/Resolver/ResolvingState.php
  src/Core/src/Internal/Scope.php
  src/Core/src/Internal/State.php
  src/Core/src/Internal/Tracer.php
  src/Core/src/Internal/Tracer/Trace.php
  src/Core/src/ScopeInterface.php
  src/Core/tests/ExceptionsTest.php
  src/Core/tests/Fixtures/SingletonAttribute.php
  src/Core/tests/Internal/BaseTest.php
  src/Core/tests/Internal/Container/BaseTest.php
  src/Core/tests/Internal/Resolver/TypeValidationTest.php
  src/Core/tests/Scope/BaseTest.php
  src/Core/tests/Scope/ExceptionsTest.php
  src/Core/tests/Scope/FibersTest.php
  src/Core/tests/Scope/FinalizeAttributeTest.php
  src/Core/tests/Scope/ScopeAttributeTest.php
  src/Core/tests/Scope/SideEffectTest.php
  src/Core/tests/Scope/Stub/AttrFinalize.php
  src/Core/tests/Scope/Stub/AttrScopeFoo.php
  src/Core/tests/Scope/Stub/AttrScopeFooFinalize.php
  src/Core/tests/Scope/Stub/AttrScopeFooSingleton.php
  src/Core/tests/Scope/Stub/DatetimeCarrier.php
  src/Core/tests/Scope/Stub/ExceptionConstructor.php
  src/Core/tests/Scope/Stub/Factory.php
  src/Core/tests/Scope/Stub/FileLogger.php
  src/Core/tests/Scope/Stub/KVLogger.php
  src/Core/tests/Scope/Stub/LoggerCarrier.php
  src/Core/tests/Scope/Stub/LoggerInterface.php
  src/Core/tests/Scope/UseCaseTest.php
  src/Core/tests/ScopesTest.php
  src/Core/tests/SingletonsTest.php
  src/Exceptions/tests/Renderer/PlainRendererTest.php
  src/Exceptions/tests/Renderer/RendererTest.php
  src/Http/tests/HttpTest.php
  tests/Framework/Bootloader/Console/ConsoleBootloaderTest.php
Labels: Feature, Component: Core

#879 QueueInterface psalm fix
  src/Queue/src/Queue.php
  src/Queue/src/QueueInterface.php
Labels: Improvement, Component: Queue

#874 Makes Setter attribute for the spiral/filters component repeatable.
  src/Filters/src/Attribute/Setter.php
  src/Filters/src/Model/Schema/AttributeMapper.php
  tests/Framework/Filter/Model/FilterWithSettersTest.php
  tests/app/src/Request/FilterWithSetters.php
Labels: Improvement, Component: Filters

#864 Removing the QueueInterface binding as a singleton
  src/Queue/src/Bootloader/QueueBootloader.php
  tests/Framework/Bootloader/Queue/QueueBootloaderTest.php
Labels: Component: Queue

#873 Adds custom transports registrar for SendIt component
  src/SendIt/src/Bootloader/MailerBootloader.php
  src/SendIt/src/TransportRegistryInterface.php
  src/SendIt/src/TransportResolver.php
  src/SendIt/src/TransportResolverInterface.php
  src/SendIt/tests/TransportResolverTest.php
  tests/Framework/Bootloader/SendIt/MailerBootloaderTest.php
Labels: Improvement, Component: Mailer

#872 Configuring Console Commands via attributes
  CHANGELOG.md
  composer.json
  src/Console/composer.json
  src/Console/src/Attribute/Argument.php
  src/Console/src/Attribute/AsCommand.php
  src/Console/src/Attribute/Option.php
  src/Console/src/Attribute/Question.php
  src/Console/src/Command.php
  src/Console/src/Configurator/Attribute/Parser.php
  src/Console/src/Configurator/AttributeBasedConfigurator.php
  src/Console/src/Configurator/CommandDefinition.php
  src/Console/src/Configurator/Configurator.php
  src/Console/src/Configurator/ConfiguratorInterface.php
  src/Console/src/Configurator/ConstantBasedConfigurator.php
  src/Console/src/Configurator/Signature/Parser.php
  src/Console/src/Configurator/SignatureBasedConfigurator.php
  src/Console/src/Exception/ConfiguratorException.php
  src/Console/src/Interceptor/AttributeInterceptor.php
  src/Console/src/PromptArguments.php
  src/Console/tests/AttributeTest.php
  src/Console/tests/Configurator/Attribute/ArgumentsTest.php
  src/Console/tests/Configurator/Attribute/FillPropertiesTest.php
  src/Console/tests/Configurator/Attribute/OptionsTest.php
  src/Console/tests/Configurator/Signature/ParserTest.php
  src/Console/tests/EventsTest.php
  src/Console/tests/Fixtures/Attribute/WithDescriptionCommand.php
  src/Console/tests/Fixtures/Attribute/WithHelpCommand.php
  src/Console/tests/Fixtures/Attribute/WithNameCommand.php
  src/Console/tests/Fixtures/Attribute/WithSymfonyAttributeCommand.php
  src/Console/tests/PromptArgumentsTest.php
  src/Framework/Command/PublishCommand.php
  src/Framework/Command/Translator/ExportCommand.php
  src/Scaffolder/src/Command/BootloaderCommand.php
  src/Scaffolder/src/Command/CommandCommand.php
  src/Scaffolder/src/Command/ConfigCommand.php
  src/Scaffolder/src/Command/ControllerCommand.php
  src/Scaffolder/src/Command/JobHandlerCommand.php
  src/Scaffolder/src/Command/MiddlewareCommand.php
Labels: Feature, Component: Console

#878 Tokenizer listeners optimizer
  src/AnnotatedRoutes/src/RouteLocatorListener.php
  src/Console/src/CommandLocatorListener.php
  src/Events/src/Processor/AttributeProcessor.php
  src/Prototype/src/PrototypeLocatorListener.php
  src/Tokenizer/composer.json
  src/Tokenizer/src/AbstractLocator.php
  src/Tokenizer/src/Attribute/AbstractTarget.php
  src/Tokenizer/src/Attribute/TargetAttribute.php
  src/Tokenizer/src/Attribute/TargetClass.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
  src/Tokenizer/src/Config/TokenizerConfig.php
  src/Tokenizer/src/Listener/CachedClassesLoader.php
  src/Tokenizer/src/Listener/ClassLocatorByTarget.php
  src/Tokenizer/src/Listener/ClassesLoaderInterface.php
  src/Tokenizer/src/Listener/ListenerInvoker.php
  src/Tokenizer/src/TokenizationListenerInterface.php
  src/Tokenizer/tests/Attribute/TargetAttributeTest.php
  src/Tokenizer/tests/Attribute/TargetClassTest.php
  src/Tokenizer/tests/Bootloader/TokenizerListenerBootloaderTest.php
  src/Tokenizer/tests/Classes/Listeners/CommandInterfaceListener.php
  src/Tokenizer/tests/Classes/Listeners/CommandListener.php
  src/Tokenizer/tests/Classes/Listeners/ConstantListener.php
  src/Tokenizer/tests/Classes/Listeners/ControllerListener.php
  src/Tokenizer/tests/Classes/Listeners/ParameterListener.php
  src/Tokenizer/tests/Classes/Listeners/RouteListener.php
  src/Tokenizer/tests/Classes/Listeners/TraitListener.php
  src/Tokenizer/tests/Classes/Targets/ClassWithAttributeOnClass.php
  src/Tokenizer/tests/Classes/Targets/ClassWithAttributeOnConstant.php
  src/Tokenizer/tests/Classes/Targets/ClassWithAttributeOnParameter.php
  src/Tokenizer/tests/Classes/Targets/ClassWithAttributeOnProperty.php
  src/Tokenizer/tests/Classes/Targets/ClassWithTrait.php
  src/Tokenizer/tests/Classes/Targets/ConsoleCommand.php
  src/Tokenizer/tests/Classes/Targets/ConsoleCommandInterface.php
  src/Tokenizer/tests/Classes/Targets/ConsoleCommandWithExtend.php
  src/Tokenizer/tests/Classes/Targets/Filter.php
  src/Tokenizer/tests/Classes/Targets/HomeController.php
  src/Tokenizer/tests/Classes/Targets/SomeTrait.php
  src/Tokenizer/tests/ConfigTest.php
  src/Tokenizer/tests/Fixtures/Attributes/WithTargetClass.php
  src/Tokenizer/tests/Fixtures/Attributes/WithTargetClassAndMethod.php
  src/Tokenizer/tests/Fixtures/Attributes/WithTargetConstant.php
  src/Tokenizer/tests/Fixtures/Attributes/WithTargetMethod.php
  src/Tokenizer/tests/Fixtures/Attributes/WithTargetParameter.php
  src/Tokenizer/tests/Fixtures/Attributes/WithTargetProperty.php
  src/Tokenizer/tests/Listener/ClassLocatorByTargetTest.php
  src/Tokenizer/tests/Listener/ListenerInvokerTest.php
  tests/Framework/Bootloader/Tokenizer/TokenizerListenerBootloaderTest.php
  tests/Framework/Framework/CleanTest.php
Labels: Improvement, Component: Tokenizer

#883 Fixing Split Monorepo action
  .github/workflows/split_monorepo.yml
Labels: Bug

#884 Fixes scaffolder command namespace and comment options
  src/Scaffolder/src/Command/AbstractCommand.php
  src/Scaffolder/tests/App/Command/CommandWithNamespace.php
  src/Scaffolder/tests/App/Command/CommandWithoutNamespace.php
  src/Scaffolder/tests/App/TestApp.php
  src/Scaffolder/tests/Command/CommandNamespaceTest.php
Labels: Bug, Component: Scaffolder

#887 Adding the ability to use object payload
  src/Queue/src/Interceptor/Consume/Core.php
  src/Queue/src/Interceptor/Push/Core.php
  src/Queue/src/Queue.php
  src/Queue/tests/QueueTest.php
Labels: Bug, Component: Queue

#889 Adding a description from a constant in console commands
  src/Console/src/Configurator/AttributeBasedConfigurator.php
  src/Console/src/Configurator/SignatureBasedConfigurator.php
  src/Console/tests/SignatureTest.php
  tests/Framework/Console/CommandDescriptionTest.php
  tests/app/src/Command/AttributeDescriptionConstant.php
  tests/app/src/Command/SignatureDescriptionConstant.php
Labels: Bug, Component: Console
