Repository spiral/framework, pull requests merged in 2023-09, with the labels that each got.

#977 Fixing `visibility` in the Storage configuration
  composer.json
  rector.php
  src/Filters/src/InputInterface.php
  src/Security/src/PermissionsInterface.php
  src/Storage/composer.json
  src/Storage/src/Bucket/WritableTrait.php
  src/Storage/src/Config/StorageConfig.php
  src/Storage/tests/Config/StorageConfigTest.php
  src/Tokenizer/src/Reflection/ReflectionFile.php
  src/Translator/src/Traits/TranslatorTrait.php
Labels: Bug, Component: Storage

#979 [spiral/tokenizer] Improving `Tokenizer Info` console command
  src/Framework/Bootloader/CommandBootloader.php
  src/Framework/Command/Tokenizer/InfoCommand.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  src/Tokenizer/tests/Bootloader/TokenizerBootloaderTest.php
  tests/Framework/Bootloader/Tokenizer/TokenizerBootloaderTest.php
Labels: Bug, Feature, Component: Tokenizer

#985 Assigning `null` instead of using `unset` in the reset method
  src/Framework/Debug/StateCollector/HttpCollector.php
  tests/Framework/Debug/HttpCollectorTest.php
Labels: Bug, Component: Debug

#981 [spiral/core] Added checking `hasInstance` in the parent scope
  src/Core/src/Internal/Binder.php
  src/Core/tests/ScopesTest.php
Labels: Bug, Component: Core

#987 Remove TG link from README.md
  README.md
Labels: Improvement

#980 [spiral/queue] Adding `RetryPolicyInterceptor`
  CHANGELOG.md
  src/Queue/src/Attribute/RetryPolicy.php
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/Exception/RetryableExceptionInterface.php
  src/Queue/src/Interceptor/Consume/RetryPolicyInterceptor.php
  src/Queue/src/RetryPolicy.php
  src/Queue/src/RetryPolicyInterface.php
  src/Queue/tests/Attribute/RetryPolicyTest.php
  src/Queue/tests/Attribute/Stub/ExtendedRetryPolicy.php
  src/Queue/tests/Attribute/Stub/WithDefaultRetryPolicyAnnotation.php
  src/Queue/tests/Attribute/Stub/WithDefaultRetryPolicyAttribute.php
  src/Queue/tests/Attribute/Stub/WithExtendedRetryPolicyAnnotation.php
  src/Queue/tests/Attribute/Stub/WithExtendedRetryPolicyAttribute.php
  src/Queue/tests/Attribute/Stub/WithRetryPolicyAnnotation.php
  src/Queue/tests/Attribute/Stub/WithRetryPolicyAttribute.php
  src/Queue/tests/Attribute/Stub/WithoutRetryPolicy.php
  src/Queue/tests/Exception/TestRetryException.php
  src/Queue/tests/Interceptor/Consume/RetryPolicyInterceptorTest.php
  src/Queue/tests/RetryPolicyTest.php
  tests/Framework/Bootloader/Queue/QueueBootloaderTest.php
Labels: Feature, Component: Queue

#982 [spiral/queue] Adding the ability to configure serializer and job type via attributes
  src/Queue/composer.json
  src/Queue/src/Attribute/JobHandler.php
  src/Queue/src/Attribute/Serializer.php
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/JobHandlerLocatorListener.php
  src/Queue/src/SerializerLocatorListener.php
  src/Queue/tests/Attribute/JobHandlerTest.php
  src/Queue/tests/Attribute/SerializerTest.php
  src/Queue/tests/Attribute/Stub/ExtendedJobHandler.php
  src/Queue/tests/Attribute/Stub/ExtendedSerializer.php
  src/Queue/tests/Attribute/Stub/JobHandlerAnnotation.php
  src/Queue/tests/Attribute/Stub/JobHandlerAttribute.php
  src/Queue/tests/Attribute/Stub/SerializerAnnotation.php
  src/Queue/tests/Attribute/Stub/SerializerAttribute.php
  src/Queue/tests/Attribute/Stub/WithExtendedJobHandlerAnnotation.php
  src/Queue/tests/Attribute/Stub/WithExtendedJobHandlerAttribute.php
  src/Queue/tests/Attribute/Stub/WithExtendedSerializerAnnotation.php
  src/Queue/tests/Attribute/Stub/WithExtendedSerializerAttribute.php
  src/Queue/tests/Attribute/Stub/WithoutJobHandler.php
  src/Queue/tests/Attribute/Stub/WithoutSerializer.php
  src/Queue/tests/JobHandlerLocatorListenerTest.php
  src/Queue/tests/SerializerLocatorListenerTest.php
Labels: Feature, Component: Queue

#990 [spiral/router] Adding host check when importing routes via RoutingConfigurator
  src/Router/src/Router.php
  src/Router/tests/RouterTest.php
Labels: Bug, Component: Router

#993 Adding running bridges tests to phpunit.xml config
  phpunit.xml
  src/Bridge/Dotenv/tests/LoadTest.php
  src/Bridge/Monolog/tests/BaseTest.php
  src/Bridge/Monolog/tests/BaseTestCase.php
  src/Bridge/Monolog/tests/FactoryTest.php
  src/Bridge/Monolog/tests/HandlersTest.php
  src/Bridge/Monolog/tests/LoggerTest.php
  src/Bridge/Monolog/tests/ProcessorsTest.php
  src/Bridge/Monolog/tests/RotateHandlerTest.php
  src/Bridge/Monolog/tests/TraitTest.php
  src/Bridge/Stempler/tests/BaseTestCase.php
  src/Bridge/Stempler/tests/CacheTest.php
  src/Bridge/Stempler/tests/ConfigTest.php
  src/Bridge/Stempler/tests/DirectiveTest.php
  src/Bridge/Stempler/tests/EngineTest.php
  src/Bridge/Stempler/tests/FormatTest.php
  src/Bridge/Stempler/tests/Processor/NullLocaleProcessorTest.php
Labels: Bug, Bridge: Stempler, Bridge: Monolog, Bridge: Dotenv

#994 [spiral/monolog-bridge] Adding the ability to configure the Monolog messages format
  CHANGELOG.md
  src/Bridge/Monolog/src/Bootloader/MonologBootloader.php
  src/Bridge/Monolog/tests/Config/MonologConfigTest.php
  src/Bridge/Monolog/tests/RotateHandlerTest.php
Labels: Feature, Bridge: Monolog

#992 [spiral/scaffolder] Changing job payload type from `array` to `mixed`
  src/Scaffolder/src/Declaration/JobHandlerDeclaration.php
  src/Scaffolder/tests/Command/JobHandlerTest.php
Labels: Improvement, Component: Scaffolder

#997 [spiral/monolog-bridge] Set `bubble` as `true` by default in logRotate method
  src/Bridge/Monolog/src/Bootloader/MonologBootloader.php
  src/Bridge/Monolog/src/EventHandler.php
  src/Bridge/Monolog/tests/EventHandlerTest.php
  src/Bridge/Monolog/tests/RotateHandlerTest.php
Labels: Bug, Bridge: Monolog
