Repository spiral/framework, pull requests merged in 2023-12, with the labels that each got.

#1021 Allow Symfony 7.0 components
  composer.json
  src/Console/composer.json
  src/Console/src/InputProxy.php
  src/SendIt/composer.json
  src/Snapshots/composer.json
  src/Tokenizer/composer.json
  src/Translator/composer.json
Labels: Improvement

#1024 [spiral/queue] Add Job Handler searching if a string is used as the job name
  src/Queue/src/Interceptor/Consume/RetryPolicyInterceptor.php
  src/Queue/tests/Interceptor/Consume/RetryPolicyInterceptorTest.php
Labels: Bug, Component: Queue

#1027 [spiral/tokenizer] Write logs only if debug is enabled
  src/Scaffolder/src/Config/ScaffolderConfig.php
  src/Tokenizer/src/AbstractLocator.php
  src/Tokenizer/tests/AbstractLocatorTest.php
  src/Tokenizer/tests/ClassLocatorTest.php
  src/Tokenizer/tests/EnumLocatorTest.php
  src/Tokenizer/tests/InterfaceLocatorTest.php
  src/Tokenizer/tests/ScopedClassLocatorTest.php
  src/Tokenizer/tests/ScopedEnumLocatorTest.php
  src/Tokenizer/tests/ScopedInterfaceLocatorTest.php
  src/Tokenizer/tests/TestCase.php
Labels: Bug, Component: Tokenizer

#1029 [spiral/storage] Fixed configuration for Async AWS S3 adapter
  src/Storage/src/Config/StorageConfig.php
  src/Storage/tests/Config/StorageConfigTest.php
Labels: Bug, Component: Storage

#1030 [spiral/files] Fixing UNC path normalization
  src/Files/src/Files.php
  src/Files/tests/ConversionTest.php
Labels: Bug, Component: Files

#1031 [spiral/serializer] Adding Google protobuf serializer
  composer.json
  src/Serializer/composer.json
  src/Serializer/src/Bootloader/SerializerBootloader.php
  src/Serializer/src/Exception/SerializerException.php
  src/Serializer/src/Serializer/ProtoSerializer.php
  src/Serializer/tests/Fixture/GPBMetadata/Service.php
  src/Serializer/tests/Fixture/PingRequest.php
  src/Serializer/tests/Serializer/ProtoSerializerTest.php
  tests/Framework/Bootloader/Serializer/SerializerBootloaderTest.php
Labels: Feature, Component: Serializer

#1038 Disable scoped container leak check; dedeprecate method `runScope()`
  src/Core/src/Container.php
  src/Core/tests/Scope/UseCaseTest.php
Labels: Component: Core

#1039 Implement Custom Path Segment Encoding in Router
  src/Router/src/UriHandler.php
  src/Router/tests/UriTest.php
Labels: Improvement, Usability, Component: Router

#1042 Adding Listeners to the Tokenizer Info console command
  .styleci.yml
  CHANGELOG.md
  src/Framework/Command/Tokenizer/InfoCommand.php
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
  src/Tokenizer/src/TokenizerListenerRegistryInterface.php
  tests/Framework/Console/Command/Tokenizer/InfoCommandTest.php
Labels: Feature, Component: Translator

#1043 Fixed finalize for listeners
  CHANGELOG.md
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
  tests/Framework/Bootloader/Tokenizer/TokenizerListenerBootloaderTest.php
  tests/app/src/Tokenizer/TestEnum.php
Labels: Bug, Component: Tokenizer

#1040 Adding a console command for validating Tokenizer listeners
  CHANGELOG.md
  src/Framework/Bootloader/CommandBootloader.php
  src/Framework/Command/Tokenizer/ValidateCommand.php
  tests/Framework/Command/CleanCommandTest.php
  tests/Framework/Command/Encrypter/KeyCommandTest.php
  tests/Framework/Command/Router/ListCommandTest.php
  tests/Framework/Command/Tokenizer/InfoCommandTest.php
  tests/Framework/Command/Tokenizer/ValidateCommandTest.php
  tests/Framework/Command/Translator/ExportCommandTest.php
  tests/Framework/Command/Translator/ResetCommandTest.php
  tests/Framework/Command/Views/CompileCommandTest.php
  tests/app/src/Tokenizer/InvalidListener.php
Labels: Feature, Component: Tokenizer

#1046 Fixes proto serializer unit tests
  src/Serializer/tests/Serializer/ProtoSerializerTest.php
Labels: Bug, Component: Serializer

#1047 Freeze phpunit on v10.5.3
  composer.json
Labels: Bug
