Repository spiral/framework, pull requests merged in 2023-03, with the labels that each got.

#891 Added applying of setters to the filter data
  src/Filters/src/Model/FilterProvider.php
  src/Filters/src/Model/Schema/AttributeMapper.php
  src/Filters/src/Model/Schema/InputMapper.php
  tests/Framework/Filter/Model/FilterWithSettersTest.php
  tests/app/src/Request/AuthorFilter.php
  tests/app/src/Request/PostFilter.php
Labels: Bug, Component: Filters

#896 [psalm] RoutesBootloader add Autowire
  src/Framework/Bootloader/Http/RoutesBootloader.php
Labels: Bug, Component: HTTP

#897 Allow doctrine/annotations 2.x
  composer.json
  src/Queue/composer.json
Labels: Component: Queue

#899 Adds support for enum classes
  src/Tokenizer/src/Reflection/ReflectionFile.php
  src/Tokenizer/tests/Classes/ClassD.php
  src/Tokenizer/tests/Classes/ClassE.php
  src/Tokenizer/tests/ReflectionFileTest.php
Labels: Feature, Component: Tokenizer

#893 Adding the ability to guess option mode by property type
  CHANGELOG.md
  src/Console/src/Attribute/Option.php
  src/Console/src/Configurator/Attribute/Parser.php
  src/Console/tests/Configurator/Attribute/ArgumentsTest.php
  src/Console/tests/Configurator/Attribute/FillPropertiesTest.php
  src/Console/tests/Configurator/Attribute/OptionsTest.php
Labels: Feature, Component: Console

#904 Updating Rector
  composer.json
  rector.php
  src/Broadcasting/src/Bootloader/BroadcastingBootloader.php
  src/Cache/src/Bootloader/CacheBootloader.php
  src/Console/src/Config/ConsoleConfig.php
  src/Console/src/Configurator/Signature/Parser.php
  src/Exceptions/src/ExceptionHandler.php
  src/Queue/src/Exception/FailException.php
  src/Serializer/src/Bootloader/SerializerBootloader.php
  src/Tokenizer/src/Config/TokenizerConfig.php
  src/Translator/src/Config/TranslatorConfig.php
  src/Validation/src/Bootloader/ValidationBootloader.php
Labels: Bug

#905 Adding filter_var for TOKENIZER_CACHE_TARGETS variable
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
  src/Tokenizer/tests/Bootloader/TokenizerListenerBootloaderTest.php
Labels: Bug, Component: Tokenizer

#901 [Core] Add `provide` section
  src/Core/composer.json
Labels: Component: Core

#907 Fixes queue payload type from array to mixin
  src/Boot/src/AbstractKernel.php
  src/Boot/src/BootloadManager/BootloadManager.php
  src/Framework/Framework/Kernel.php
  src/Queue/src/Driver/NullDriver.php
  src/Queue/src/Driver/SyncDriver.php
  src/Queue/src/Event/JobProcessed.php
  src/Queue/src/Event/JobProcessing.php
  src/Queue/src/Failed/LogFailedJobHandler.php
  src/Queue/src/Interceptor/Consume/Core.php
  src/Queue/src/Interceptor/Consume/Handler.php
  src/Queue/src/Job/CallableJob.php
  src/Queue/src/Job/ObjectJob.php
  src/Queue/src/JobHandler.php
  src/Queue/src/OptionsInterface.php
  src/Queue/src/Queue.php
  src/Queue/src/QueueTrait.php
  src/Queue/src/QueueableDetector.php
  src/Queue/tests/ContainerRegistryT.php
  src/Queue/tests/Core/Stub/TestQueueClass.php
  src/Queue/tests/Driver/NullDriverTest.php
  src/Queue/tests/Driver/SyncDriverTest.php
  src/Queue/tests/Failed/LogFailedJobHandlerTest.php
  src/Queue/tests/Interceptor/Consume/CoreTest.php
  src/Queue/tests/Interceptor/Consume/ErrorHandlerInterceptorTest.php
  src/Queue/tests/Interceptor/Consume/HandlerTest.php
  src/Queue/tests/Interceptor/Push/CoreTest.php
  src/Queue/tests/Job/CallableJobTest.php
  src/Queue/tests/QueueTest.php
  src/Reactor/src/Partial/PhpNamespace.php
Labels: Improvement, Component: Queue

#908 Remove link to the Telegram chat
  .github/ISSUE_TEMPLATE/3_Support_question.md
Labels: Improvement
