Repository spiral/framework, pull requests merged in 2023-04, with the labels that each got.

#913 Fixes core interceptor for queue producer
  src/Queue/src/Bootloader/QueueBootloader.php
  src/Queue/src/Interceptor/Push/Core.php
Labels: Bug, Component: Queue

#918 Adding the ability to override Scaffolder config partially
  src/Scaffolder/src/Bootloader/ScaffolderBootloader.php
  src/Scaffolder/src/Config/ScaffolderConfig.php
  src/Scaffolder/tests/Config/ScaffolderConfigTest.php
  tests/Framework/Bootloader/Scaffolder/ScaffolderBootloaderTest.php
Labels: Feature, Component: Scaffolder

#920 Adding php 8.2 to gh workflows
  .github/workflows/main.yml
  src/Console/src/Configurator/Attribute/Parser.php
  src/Queue/tests/Driver/NullDriverTest.php
  src/Queue/tests/QueueManagerTest.php
Labels: Improvement

#922 Fixing PromotedParameter in the Reactor
  src/Reactor/src/Partial/Parameter.php
  src/Reactor/src/Partial/PromotedParameter.php
  src/Reactor/tests/ClassDeclarationTest.php
Labels: Bug, Component: Reactor

#926 Fixed InputScope to allow retrieval of non-bag input sources
  CHANGELOG.md
  src/Framework/Filter/InputScope.php
  tests/Framework/Filter/FilterTestCase.php
  tests/Framework/Filter/InputScopeTest.php
  tests/Framework/Filter/Model/MethodAttributeTest.php
  tests/app/src/Request/TestRequest.php
Labels: Bug, Component: HTTP

#930 feat(console): add method to easily ask multiple choice questions
  src/Console/src/Traits/HelpersTrait.php
Labels: Feature, Component: Console

#928 Fixes problem when paginator doesn't calculate `countPages` correctly in constructor
  CHANGELOG.md
  src/Pagination/src/Paginator.php
  src/Pagination/tests/PaginatorTest.php
Labels: Bug, Component: Pagination

#925 Adds the ability to specify a custom directory for specific declaration types in the [spiral/scaffolder] component
  CHANGELOG.md
  src/Scaffolder/src/Config/ScaffolderConfig.php
  src/Scaffolder/tests/Config/ScaffolderConfigTest.php
Labels: Feature, Component: Scaffolder

#932 [spiral/router] Fixed psalm issues
  .gitignore
  src/AnnotatedRoutes/src/RouteLocatorListener.php
  src/Router/psalm.xml
  src/Router/src/AbstractRoute.php
  src/Router/src/CoreHandler.php
  src/Router/src/GroupRegistry.php
  src/Router/src/Loader/Configurator/RouteConfigurator.php
  src/Router/src/Loader/Configurator/RoutingConfigurator.php
  src/Router/src/Loader/DelegatingLoader.php
  src/Router/src/Registry/DefaultPatternRegistry.php
  src/Router/src/Route.php
  src/Router/src/RouteGroup.php
  src/Router/src/Router.php
  src/Router/src/Target/AbstractTarget.php
  src/Router/src/Target/Group.php
  src/Router/src/Target/Namespaced.php
  src/Router/src/TargetInterface.php
  src/Router/src/Traits/ContainerTrait.php
  src/Router/src/Traits/PipelineTrait.php
  src/Router/src/UriHandler.php
Labels: Improvement, Component: Router

#933 [spiral/router] Fix issue with default parameter values
  src/Core/tests/Internal/Resolver/CommonCasesTest.php
  src/Hmvc/src/AbstractCore.php
  src/Router/tests/ControllerTest.php
  src/Router/tests/Fixtures/TestController.php
Labels: Bug, Component: Router

#931 [spiral/auth-http] Adding TokenStorageScope
  CHANGELOG.md
  src/Auth/src/TokenStorageInterface.php
  src/AuthHttp/src/Middleware/AuthMiddleware.php
  src/Framework/Auth/TokenStorageScope.php
  tests/Framework/Auth/Config/AuthConfigTest.php
  tests/Framework/Auth/TokenStorageScopeTest.php
  tests/Framework/AuthHttp/Middleware/AuthMiddlewareTest.php
Labels: Feature, Component: Auth, Component: AuthHttp

#934 Adding php 8.2 to gh workflows
  .github/workflows/main.yml
  src/Console/src/Configurator/Attribute/Parser.php
  src/Queue/tests/Driver/NullDriverTest.php
  src/Queue/tests/QueueManagerTest.php
Labels: Improvement

#935 Add exceptions proxying in Fibers during Scoped run
  src/Core/src/ContainerScope.php
  src/Core/tests/Scope/FibersTest.php
Labels: Improvement, Component: Core
