Repository spiral/framework, pull requests merged in 2023-01, with the labels that each got.

#856 Addeding the ability to specify a custom namespace
  CHANGELOG.md
  src/Scaffolder/src/Command/AbstractCommand.php
  src/Scaffolder/src/Command/BootloaderCommand.php
  src/Scaffolder/src/Command/CommandCommand.php
  src/Scaffolder/src/Command/ConfigCommand.php
  src/Scaffolder/src/Command/ControllerCommand.php
  src/Scaffolder/src/Command/JobHandlerCommand.php
  src/Scaffolder/src/Command/MiddlewareCommand.php
  src/Scaffolder/src/Config/ScaffolderConfig.php
  src/Scaffolder/src/Declaration/AbstractDeclaration.php
  src/Scaffolder/src/Declaration/ConfigDeclaration.php
  src/Scaffolder/src/helpers.php
  src/Scaffolder/tests/Command/BootloaderTest.php
  src/Scaffolder/tests/Command/CommandTest.php
  src/Scaffolder/tests/Command/ConfigTest.php
  src/Scaffolder/tests/Command/ControllerTest.php
  src/Scaffolder/tests/Command/JobHandlerTest.php
  src/Scaffolder/tests/Command/MiddlewareTest.php
  src/Scaffolder/tests/FunctionsTest.php
Labels: Feature, Component: Scaffolder

#862 Singleton objects creation with custom arguments
  src/Core/src/Internal/Factory.php
  src/Core/tests/SingletonsTest.php
Labels: Bug, Component: Core

#863 spiral/core: update vimeo/psalm to v5
  src/Config/src/ConfigManager.php
  src/Config/src/ConfiguratorInterface.php
  src/Core/composer.json
  src/Core/src/ConfigsInterface.php
  src/Core/src/Container.php
  src/Core/src/Container/InjectableInterface.php
  src/Core/src/InjectableConfig.php
  src/Core/src/Internal/Binder.php
  src/Core/src/Internal/Container.php
  src/Core/src/Internal/Factory.php
  src/Core/src/Internal/Resolver.php
  src/Core/src/Internal/State.php
Labels: Improvement, Component: Core

#866 Adding method defineInterceptors
  CHANGELOG.md
  src/Framework/Bootloader/DomainBootloader.php
  tests/Framework/Bootloader/DomainBootloaderTest.php
  tests/app/src/Bootloader/AppBootloader.php
Labels: Feature, Component: Boot, Component: HMVC

#867 Core: fix infinite recursion on using for class name binding to the same class name
  src/Core/src/Internal/Factory.php
  src/Core/tests/AutowireTest.php
Labels: Bug, Component: Core
