Repository spiral/framework, pull requests merged in 2024-09, with the labels that each got.

#1132 Router: fix fallback handler in AbstractTarget
  composer.json
  src/Router/composer.json
  src/Router/src/Target/AbstractTarget.php
  src/Router/tests/ControllerTest.php
Labels: Bug, Component: Router

#1145 Fix recursion via ignoring Proxy in ContainerScope
  src/Core/src/ContainerScope.php
  src/Core/src/Internal/Proxy/Resolver.php
  src/Core/tests/Scope/ProxyTest.php
Labels: Bug, Component: Core

#1147 Fix Stempler in Container Scopes
  src/Bridge/Monolog/tests/TraitTest.php
  src/Bridge/Stempler/composer.json
  src/Bridge/Stempler/src/Bootloader/StemplerBootloader.php
  src/Bridge/Stempler/src/StemplerEngine.php
  src/Bridge/Stempler/tests/BaseTestCase.php
  src/Bridge/Stempler/tests/CacheTest.php
  src/Bridge/Stempler/tests/DirectiveTest.php
  src/Bridge/Stempler/tests/EngineTest.php
  src/Core/src/Internal/Introspector.php
  src/Core/tests/Internal/Introspector/CommonTest.php
  src/Http/src/Request/InputManager.php
  src/Logger/src/Traits/LoggerTrait.php
  src/SendIt/composer.json
  src/SendIt/tests/App/App.php
  src/SendIt/tests/RenderTest.php
Labels: Bridge: Stempler

#1151 fix: boot resource leakage
  src/Boot/src/Memory.php
Labels: Bug, Component: Boot
