Repository spiral/framework, pull requests merged in 2024-04, with the labels that each got.

#1098 Fixed bug in directive parser
  src/Stempler/src/Parser/Syntax/DynamicSyntax.php
  src/Stempler/tests/Directive/DirectiveTest.php
  src/Stempler/tests/fixtures/ImageDirective.php
Labels: Bug, Bridge: Stempler, Component: Stempler

#1102 [Monolog] Expose LoggerChannel attribute
  src/Bridge/Monolog/phpunit.xml
  src/Bridge/Monolog/src/Bootloader/MonologBootloader.php
  src/Bridge/Monolog/src/LogFactory.php
  src/Bridge/Monolog/tests/FactoryTest.php
  src/Bridge/Monolog/tests/LoggerTest.php
  src/Logger/src/Attribute/LoggerChannel.php
  src/Logger/src/Bootloader/LoggerBootloader.php
  src/Logger/src/LoggerInjector.php
  src/Logger/src/NullLogger.php
  src/Logger/tests/FactoryTest.php
Labels: Bridge: Monolog

#1097 [spiral/queue] Adding TaskInterface and Task for the Queue component
  CHANGELOG.md
  src/Queue/src/Task.php
  src/Queue/src/TaskInterface.php
  src/Queue/tests/TaskTest.php
Labels: Feature, Component: Queue
