Repository spiral/framework, pull requests merged in 2024-11, with the labels that each got.

#1165 Fix configuration replacement for auth in HttpAuthBootloader
  src/Framework/Bootloader/Auth/HttpAuthBootloader.php
  tests/Framework/Bootloader/Http/HttpAuthBootloaderTest.php
Labels: Improvement, Component: AuthHttp

#1170 AppEnvironment: add aliases for `production` and `test` environments
  src/Boot/src/Environment/AppEnvironment.php
  src/Boot/tests/Environment/AppEnvironmentTest.php
  src/Console/tests/SignatureTest.php
  src/Framework/Console/Confirmation/ApplicationInProduction.php
  tests/Framework/Console/Confirmation/ApplicationInProductionCommandTest.php
  tests/Framework/Console/Confirmation/ApplicationInProductionTest.php
  tests/app/src/Command/ApplicationInProductionCommand.php
Labels: Component: Boot

#1168 Telemetry and middleware improvements
  src/Framework/Bootloader/Http/HttpBootloader.php
  src/Framework/Bootloader/Http/RoutesBootloader.php
  src/Http/src/CurrentRequest.php
  src/Http/src/Http.php
  src/Http/src/LazyPipeline.php
  src/Http/src/Pipeline.php
  src/Http/tests/HttpTest.php
  src/Router/src/CoreHandler.php
  src/Router/src/Route.php
  src/Router/src/Traits/PipelineTrait.php
  src/Router/tests/BaseTestCase.php
  src/Router/tests/BaseTestingCase.php
  src/Router/tests/ContainerScopeTest.php
  src/Router/tests/ControllerTest.php
  src/Router/tests/Fixtures/TestRouterBootloader.php
  src/Router/tests/Loader/Configurator/RoutingConfiguratorTest.php
  src/Router/tests/MiddlewareTest.php
  src/Router/tests/NamespacedTest.php
  src/Router/tests/RegistryTest.php
  src/Router/tests/RouteGroupTest.php
  src/Router/tests/RouteTest.php
  src/Router/tests/RouterFactoryTrait.php
  src/Router/tests/RouterTest.php
  src/SendIt/tests/RenderTest.php
  src/Stempler/tests/TraverserTest.php
  src/Telemetry/src/AbstractTracer.php
  src/Telemetry/src/Bootloader/TelemetryBootloader.php
  src/Telemetry/src/LogTracerFactory.php
  src/Telemetry/src/NullTracerFactory.php
  src/Telemetry/tests/LogTracerFactoryTest.php
  src/Telemetry/tests/Monolog/TelemetryProcessorTest.php
  src/Telemetry/tests/NullTracerFactoryTest.php
  src/Telemetry/tests/NullTracerTest.php
Labels: Component: Router, Component: Telemetry
