Repository spiral/framework, pull requests merged in 2024-05, with the labels that each got.

#1105 A little bit of efficiency optimization.
  src/Core/src/Internal/Config/StateBinder.php
Labels: Improvement, Component: Core

#1107 [spiral/queue] Added passing headers to the job handler in SyncDriver
  src/Queue/src/Driver/SyncDriver.php
  src/Queue/tests/Driver/SyncDriverTest.php
Labels: Bug, Component: Queue

#1106 Refactor interceptors target
  src/Console/src/Command.php
  src/Events/src/EventDispatcher.php
  src/Hmvc/src/Core/AbstractCore.php
  src/Hmvc/src/Interceptors/Context/Target.php
  src/Hmvc/src/Interceptors/Context/TargetInterface.php
  src/Hmvc/src/Interceptors/Handler/ReflectionHandler.php
  src/Hmvc/tests/Core/CoreTest.php
  src/Hmvc/tests/Interceptors/Unit/Context/TargetTest.php
  src/Hmvc/tests/Interceptors/Unit/Handler/ReflectionHandlerTest.php
Labels: Feature, Component: HMVC

#1093 Fixes registration tokenizer scopes via bootloader
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  tests/Framework/Bootloader/Tokenizer/TokenizerBootloaderTest.php
Labels: Bug, Component: Tokenizer

#1109 Added HEAD and OPTIONS http method verbs to route list command
  src/Framework/Command/Router/ListCommand.php
Labels: Improvement, Usability, Component: Router

#1110 Tokenizer attributes scanner: add option to scan parents
  src/Boot/src/AbstractKernel.php
  src/Framework/Bootloader/CommandBootloader.php
  src/Logger/src/LoggerInjector.php
  src/Tokenizer/src/Attribute/TargetAttribute.php
  src/Tokenizer/tests/Attribute/TargetAttributeTest.php
  src/Tokenizer/tests/Interfaces/Targets/AbstractClassWithAttributeOnClass.php
  src/Tokenizer/tests/Interfaces/Targets/ClassExtendsClassWithAttributeOnClass.php
  src/Tokenizer/tests/Interfaces/Targets/ClassImplementsInterfaceWithAttributeOnClass.php
Labels: Feature, Improvement, Component: Tokenizer
