Repository spiral/framework, pull requests merged in 2024-01, with the labels that each got.

#1049 Allow monolog/monolog v3.x
  composer.json
  src/Bridge/Monolog/composer.json
  src/Bridge/Monolog/src/Bootloader/MonologBootloader.php
  src/Bridge/Monolog/src/Config/MonologConfig.php
  src/Bridge/Monolog/src/EventHandler.php
  src/Bridge/Monolog/tests/FactoryTest.php
  src/Bridge/Monolog/tests/HandlersTest.php
  src/Bridge/Monolog/tests/RotateHandlerTest.php
  src/Telemetry/src/Monolog/TelemetryProcessor.php
Labels: Improvement, Bridge: Monolog

#1048 Allow cocur/slugify 4.x
  composer.json
  src/Router/composer.json
  src/Scaffolder/composer.json
Labels: Component: Scaffolder, Component: Router

#1041 Extended injector
  src/Core/src/Attribute/Singleton.php
  src/Core/src/Container.php
  src/Core/src/Container/InjectorInterface.php
  src/Core/src/Internal/Container.php
  src/Core/src/Internal/Factory.php
  src/Core/src/Internal/Factory/Ctx.php
  src/Core/src/Internal/Resolver.php
  src/Core/tests/ExceptionsTest.php
  src/Core/tests/Fixtures/ExtendedContextInjector.php
  src/Core/tests/InjectableTest.php
Labels: Improvement, Component: Core

#1044 [spiral/exceptions] Add non-reportable exceptions
  src/Exceptions/src/Attribute/NonReportable.php
  src/Exceptions/src/ExceptionHandler.php
  src/Exceptions/tests/ExceptionHandlerTest.php
  src/Exceptions/tests/Fixtures/TestException.php
  src/Http/src/Exception/ClientException/ServerErrorException.php
  src/Http/tests/ExceptionsTest.php
Labels: Improvement, Component: Exceptions

#1050 Allow league/flysystem v3.x
  composer.json
  src/Storage/composer.json
Labels: Component: Storage

#1053 Revert ServerErrorException deprecation
  src/Exceptions/src/ExceptionHandler.php
  src/Exceptions/tests/ExceptionHandlerTest.php
  src/Http/src/Exception/ClientException/ServerErrorException.php
  src/Http/tests/ExceptionsTest.php
Labels: Bug, Component: HTTP

#1057 Fix Psalm issues
  rector.php
  src/Boot/src/BootloadManager/Initializer.php
  src/Boot/src/BootloadManager/InitializerInterface.php
  src/Console/src/Configurator/Attribute/Parser.php
  src/Core/src/Attribute/Proxy.php
Labels: Improvement

#1054 [spiral/core] Add the ability to use `BackedEnum` as a scope name
  src/Core/src/Attribute/Scope.php
  src/Core/src/Container.php
  src/Core/src/Scope.php
  src/Core/tests/Attribute/ScopeTest.php
  src/Core/tests/Fixtures/ScopeEnum.php
  src/Core/tests/Scope/UseCaseTest.php
  src/Framework/Framework/ScopeName.php
Labels: Feature, Component: Core

#1056 [spiral/core] Add `Singleton` attribute instead of `SingletonInterface`
  CHANGELOG.md
  src/AnnotatedRoutes/src/Bootloader/AnnotatedRoutesBootloader.php
  src/Boot/src/BootloadManager/AbstractBootloadManager.php
  src/Boot/src/BootloadManager/ClassesRegistry.php
  src/Boot/src/BootloadManager/Initializer.php
  src/Bridge/Monolog/src/Bootloader/MonologBootloader.php
  src/Bridge/Stempler/src/Bootloader/StemplerBootloader.php
  src/Bridge/Stempler/src/Directive/RouteDirective.php
  src/Broadcasting/src/Bootloader/WebsocketsBootloader.php
  src/Broadcasting/src/BroadcastManager.php
  src/Cache/src/CacheManager.php
  src/Config/src/ConfigManager.php
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Console/tests/Fixtures/TestCommand.php
  src/Core/src/Container/SingletonInterface.php
  src/Core/tests/Fixtures/DeclarativeSingleton.php
  src/Core/tests/Internal/Config/StateBinderTest.php
  src/Core/tests/ScopesTest.php
  src/Core/tests/SingletonsTest.php
  src/Encrypter/src/EncrypterFactory.php
  src/Events/src/ListenerProcessorRegistry.php
  src/Framework/Auth/TokenStorageScope.php
  src/Framework/Bootloader/Auth/AuthBootloader.php
  src/Framework/Bootloader/Auth/HttpAuthBootloader.php
  src/Framework/Bootloader/DebugBootloader.php
  src/Framework/Bootloader/Http/CookiesBootloader.php
  src/Framework/Bootloader/Http/HttpBootloader.php
  src/Framework/Bootloader/I18nBootloader.php
  src/Framework/Bootloader/Security/FiltersBootloader.php
  src/Framework/Command/CleanCommand.php
  src/Framework/Command/Router/ListCommand.php
  src/Framework/Command/Translator/ExportCommand.php
  src/Framework/Command/Translator/IndexCommand.php
  src/Framework/Command/Translator/ResetCommand.php
  src/Framework/Cookies/CookieManager.php
  src/Framework/Domain/GuardPermissionsProvider.php
  src/Framework/Session/SessionScope.php
  src/Http/src/Request/InputManager.php
  src/Prototype/src/Bootloader/PrototypeBootloader.php
  src/Prototype/src/PrototypeRegistry.php
  src/Security/src/PermissionManager.php
  src/Security/src/Rule/AllowRule.php
  src/Security/src/Rule/ForbidRule.php
  src/Security/src/RuleManager.php
  src/Session/src/SessionFactory.php
  src/Tokenizer/src/Bootloader/TokenizerBootloader.php
  src/Tokenizer/src/Bootloader/TokenizerListenerBootloader.php
  src/Tokenizer/src/Tokenizer.php
  src/Translator/src/Translator.php
  src/Validation/src/Bootloader/ValidationBootloader.php
  src/Validation/src/ValidationProvider.php
  src/Views/src/Bootloader/ViewsBootloader.php
Labels: Component: Core

#1058 Add doctrine/annotations to require-dev instead of require
  composer.json
Labels: Bug

#1059 Remove doctrine/annotations
  composer.json
  src/AnnotatedRoutes/tests/App/Controller/HomeController.php
  src/AnnotatedRoutes/tests/App/Controller/NamelessRoutesController.php
  src/AnnotatedRoutes/tests/App/Controller/PageController.php
  src/AnnotatedRoutes/tests/IntegrationTest.php
  src/Framework/Bootloader/Attributes/AttributesBootloader.php
  src/Framework/Bootloader/Attributes/AttributesConfig.php
  src/Queue/composer.json
  src/Queue/tests/Attribute/JobHandlerTest.php
  src/Queue/tests/Attribute/RetryPolicyTest.php
  src/Queue/tests/Attribute/SerializerTest.php
  src/Queue/tests/Attribute/Stub/JobHandlerAnnotation.php
  src/Queue/tests/Attribute/Stub/Queueable.php
  src/Queue/tests/Attribute/Stub/QueueableWithQueue.php
  src/Queue/tests/Attribute/Stub/SerializerAnnotation.php
  src/Queue/tests/Attribute/Stub/WithDefaultRetryPolicyAnnotation.php
  src/Queue/tests/Attribute/Stub/WithExtendedJobHandlerAnnotation.php
  src/Queue/tests/Attribute/Stub/WithExtendedRetryPolicyAnnotation.php
  src/Queue/tests/Attribute/Stub/WithExtendedSerializerAnnotation.php
  src/Queue/tests/Attribute/Stub/WithRetryPolicyAnnotation.php
  tests/Framework/Bootloader/Attributes/AttributesBootloaderTest.php
  tests/Framework/Bootloader/Attributes/AttributesConfigTest.php
  tests/Framework/Bootloader/Attributes/AttributesWithoutAnnotationsBootloaderTest.php
  tests/Framework/Interceptor/GuardedTest.php
  tests/Framework/Interceptor/PipelineInterceptorTest.php
  tests/app/src/Controller/Demo2Controller.php
  tests/app/src/Controller/Demo3Controller.php
  tests/app/src/Controller/DemoController.php
  tests/app/src/Controller/InterceptedController.php
Labels: Experiment, Discussion

#1062 [spiral/translator] Add a check for the existence of a message
  src/Translator/src/Indexer.php
  src/Translator/tests/IndexerTest.php
Labels: Bug, Component: Translator

#1065 [spiral/core] Parent scopes in the `has` method
  src/Core/src/Internal/Container.php
  src/Core/tests/Scope/UseCaseTest.php
  src/Framework/Console/Logger/DebugListener.php
Labels: Bug, Component: Core

#1061 [spiral/core] Add the ability to specify the scope of the dispatcher using an attribute
  composer.json
  src/Boot/src/AbstractKernel.php
  src/Boot/src/DispatcherInterface.php
  src/Boot/tests/KernelTest.php
  src/Console/src/Bootloader/ConsoleBootloader.php
  src/Framework/Attribute/DispatcherScope.php
  src/Framework/Console/ConsoleDispatcher.php
  tests/Framework/Attribute/DispatcherScopeTest.php
  tests/Framework/KernelTest.php
  tests/app/src/Dispatcher/AbstractDispatcher.php
  tests/app/src/Dispatcher/DispatcherWithCustomEnum.php
  tests/app/src/Dispatcher/DispatcherWithScopeName.php
  tests/app/src/Dispatcher/DispatcherWithStringScope.php
  tests/app/src/Dispatcher/DispatcherWithoutScope.php
  tests/app/src/Dispatcher/Scope.php
Labels: Feature, Component: Console, Component: Core

#1070 [spiral/router] Update Route list command for customization route class
  src/Framework/Command/Router/ListCommand.php
Labels: Improvement, Component: Router

#1069 [spiral/router] Opening of `http.request` scope added
  composer.json
  src/AnnotatedRoutes/composer.json
  src/AnnotatedRoutes/tests/App/App.php
  src/AnnotatedRoutes/tests/App/runtime/.gitignore
  src/AnnotatedRoutes/tests/IntegrationTest.php
  src/AnnotatedRoutes/tests/RouteLocatorListenerTest.php
  src/AnnotatedRoutes/tests/TestCase.php
  src/Core/src/BinderInterface.php
  src/Framework/Bootloader/Http/HttpBootloader.php
  src/Framework/Bootloader/Http/RouterBootloader.php
  src/Hmvc/composer.json
  src/Hmvc/src/AbstractCore.php
  src/Hmvc/tests/CoreTest.php
  src/Hmvc/tests/InterceptableCoreTest.php
  src/Http/src/Pipeline.php
  src/Router/src/CoreHandler.php
  src/Telemetry/src/AbstractTracer.php
  src/Telemetry/src/LogTracerFactory.php
  src/Telemetry/src/NullTracerFactory.php
  tests/Framework/AuthHttp/Middleware/AuthMiddlewareTest.php
  tests/Framework/BaseTestCase.php
  tests/Framework/Bootloader/Http/HttpBootloaderTest.php
  tests/Framework/Http/AuthSessionTest.php
  tests/Framework/Http/ControllerTest.php
  tests/Framework/Http/CookiesTest.php
  tests/Framework/Http/FilterTest.php
  tests/Framework/Http/PaginationTest.php
  tests/Framework/Http/SessionTest.php
  tests/Framework/HttpTestCase.php
  tests/Framework/Interceptor/PipelineInterceptorTest.php
  tests/Framework/Router/CoreHandlerTest.php
  tests/app/src/Bootloader/RoutesBootloader.php
  tests/app/src/Controller/ScopeController.php
Labels: Feature, Component: Router

#1068 Adds `scaffolder:info` console command
  CHANGELOG.md
  src/Scaffolder/src/Bootloader/ScaffolderBootloader.php
  src/Scaffolder/src/Command/InfoCommand.php
  src/Scaffolder/src/Config/ScaffolderConfig.php
  src/Scaffolder/tests/Command/InfoCommandTest.php
  tests/Framework/Bootloader/Scaffolder/ScaffolderBootloaderTest.php
Labels: Improvement, Component: Scaffolder

#1071 Fix: the current scope container mustn't be changed in a resolving context
  src/Core/src/Container.php
  src/Core/src/FactoryInterface.php
  src/Core/src/Internal/Factory.php
  src/Core/src/Internal/Proxy.php
  src/Core/src/Internal/Scope.php
  src/Core/tests/Scope/UseCaseTest.php
Labels: Bug, Component: Core
