Repository spiral/framework, pull requests merged in 2025-01, with the labels that each got.

#1185 refactor: add property types on tests classes
  rector.php
  src/Cache/tests/CacheManagerTest.php
  src/Cache/tests/Config/CacheConfigTest.php
  src/Cache/tests/Storage/ArrayStorageTest.php
  src/Cache/tests/Storage/FileStorageTest.php
  src/Core/tests/InvokerTest.php
  src/Distribution/tests/ManagerTestCase.php
  src/Http/tests/FilesTest.php
  src/Http/tests/HeadersTest.php
  src/Http/tests/ServerTest.php
  src/Http/tests/SlicesTest.php
  src/Queue/tests/Job/ObjectJobTest.php
  src/Queue/tests/QueueRegistryTest.php
  src/SendIt/tests/QueueTest.php
  src/Storage/tests/ManagerTestCase.php
  src/Translator/tests/TraitTest.php
Labels: Improvement

#1191 Fix directory import in stempler component
  src/Stempler/src/Node/Template.php
  src/Stempler/src/Transform/Import/Bundle.php
  src/Stempler/src/Transform/Import/Directory.php
  src/Stempler/src/Transform/Import/TagHelper.php
  src/Stempler/tests/Transform/Import/BundleTest.php
  src/Stempler/tests/Transform/Import/DirectoryTest.php
  src/Stempler/tests/Transform/Import/TagHelperTest.php
Labels: Bug, Component: Stempler

#1193 fix: TelemetryProcessor for Monolog returns wrong type
  src/Telemetry/src/Monolog/TelemetryProcessor.php
  src/Telemetry/tests/Monolog/TelemetryProcessorTest.php
Labels: Bug, Component: Telemetry

#1194 fix: Using proper method for multiple cache records.
  src/Cache/src/CacheRepository.php
  src/Cache/tests/CacheRepositoryTest.php
Labels: Component: Cache, performance

#1195 Fixes injectors binding via `Binder::bind` method.
  src/Core/src/Config/Injectable.php
  src/Core/src/Internal/Config/StateBinder.php
  src/Core/src/Internal/State.php
  src/Core/tests/InjectableTest.php
Labels: Improvement, Component: Core

#1199 feature: Provide an ability to set strict container singletons via options
  src/Core/src/Config/Shared.php
  src/Core/src/Container.php
  src/Core/src/Internal/Config/StateBinder.php
  src/Core/src/Internal/Factory.php
  src/Core/src/Options.php
  src/Core/tests/BindingsTest.php
Labels: Improvement, Component: Core

#1197 fix: Fixes the problem when stempler tries to parse @ char inside a string that is not a directive.
  src/Stempler/src/Lexer/Buffer.php
  src/Stempler/src/Lexer/Grammar/Dynamic/DirectiveGrammar.php
  src/Stempler/src/Lexer/Grammar/DynamicGrammar.php
  src/Stempler/tests/Directive/DirectiveTest.php
  src/Stempler/tests/Transform/DynamicToPHPTest.php
Labels: Bug, Component: Stempler

#1192 fix: add strict mode for UriHandler
  src/Router/src/UriHandler.php
  src/Router/tests/UriTest.php
Labels: Bug, Component: Router

#1206 Telemetry: improve types for SpanInterface
  src/Stempler/src/Lexer/Grammar/HTMLGrammar.php
  src/Stempler/src/Transform/QuotedValue.php
  src/Telemetry/src/AbstractTracer.php
  src/Telemetry/src/SpanInterface.php
Labels: Component: Telemetry
