Repository spiral/framework, pull requests merged in 2025-03, with the labels that each got.

#1219 Fixes issue when group prefix is not applied to routes.
  .github/workflows/main.yml
  src/Router/src/Router.php
  src/Router/tests/Loader/Configurator/RouteConfiguratorTest.php
  src/Router/tests/RouterTest.php
Labels: Bug, Component: Router

#1220 Added methods to set and get constant type
  src/Reactor/src/Partial/Constant.php
  src/Reactor/tests/Partial/ConstantTest.php
Labels: Component: Reactor

#1221 Optimize container
  psalm-baseline.xml
  psalm.xml
  src/Core/src/Config.php
  src/Core/src/Config/Binding.php
  src/Core/src/Config/DeprecationProxy.php
  src/Core/src/Config/Factory.php
  src/Core/src/Config/Proxy.php
  src/Core/src/Config/Shared.php
  src/Core/src/Container.php
  src/Core/src/Exception/Container/ArgumentException.php
  src/Core/src/Exception/Container/AutowireException.php
  src/Core/src/Exception/Container/TracedContainerException.php
  src/Core/src/Exception/ScopeException.php
  src/Core/src/Internal/Actor.php
  src/Core/src/Internal/Factory.php
  src/Core/src/Internal/Invoker.php
  src/Core/src/Internal/Scope.php
  src/Core/src/Internal/State.php
  src/Core/src/Internal/Tracer.php
  src/Core/tests/AutowireTest.php
  src/Core/tests/ExceptionsTest.php
  src/Core/tests/Fixtures/PrivateConstructor.php
  src/Core/tests/InjectableTest.php
  src/Core/tests/Internal/Factory/CommonCasesTest.php
  src/Core/tests/Internal/Resolver/CommonCasesTest.php
  src/Core/tests/Internal/Resolver/NullableParameterTest.php
  src/Core/tests/InvokerTest.php
  src/Core/tests/Scope/ExceptionsTest.php
  src/Core/tests/Scope/ScopeAttributeTest.php
  src/Core/tests/Scope/SideEffectTest.php
  src/Core/tests/SingletonsTest.php
  src/Files/src/Files.php
  src/Framework/Command/Views/CompileCommand.php
  src/Prototype/tests/Commands/InjectCommandTest.php
  src/Prototype/tests/Commands/UsageCommandTest.php
  src/Router/src/Loader/Configurator/RouteConfigurator.php
  tests/Framework/Bootloader/Debug/DebugBootloaderTest.php
  tests/Framework/Bootloader/Validation/ValidationBootloaderTest.php
  tests/Framework/Http/AuthSessionTest.php
  tests/Framework/Http/SessionTest.php
Labels: Component: Core

#1222 [Core] Fix `static` return type in Proxy class generator
  src/Core/src/Exception/Container/TracedContainerException.php
  src/Core/src/Exception/Resolver/ArgumentResolvingException.php
  src/Core/src/Exception/Resolver/InvalidArgumentException.php
  src/Core/src/Exception/Resolver/MissingRequiredArgumentException.php
  src/Core/src/Exception/Resolver/PositionalArgumentException.php
  src/Core/src/Exception/Resolver/ResolvingException.php
  src/Core/src/Exception/Resolver/UnknownParameterException.php
  src/Core/src/Exception/Resolver/ValidationException.php
  src/Core/src/Internal/Actor.php
  src/Core/src/Internal/Proxy/ProxyClassRenderer.php
  src/Core/src/Internal/Resolver.php
  src/Core/tests/ExceptionsTest.php
  src/Core/tests/Internal/Proxy/Stub/MockInterface.php
  src/Core/tests/Internal/Proxy/Stub/MockInterfaceImpl.php
Labels: Bug, Component: Core
